﻿@model CRM_BTM.Models.OFFER_DEFINITION
@using System.Diagnostics;
@{
    ViewBag.Title = "New offer";
}
<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.INVOICE_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.INVOICE_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INVOICE_NAME, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.INTERNAL_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.INTERNAL_NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.INTERNAL_NAME, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.VALID_FROM, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.VALID_FROM, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VALID_FROM, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.VALID_TO, htmlAttributes: new { @class = "control-label col-md-3" })
                <div class="col-md-9">
                    @Html.EditorFor(model => model.VALID_TO, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.VALID_TO, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group m-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>

}