﻿@model CRM_BTM.Models.MTM_OFFER_REQUIREMENT

@{
    ViewBag.Title = "New Requirement";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.OFFER_OPTION_ID, htmlAttributes: new { value = ViewBag.OfferOptionID });

    <table class="table table-sm table-bordered">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.OFFER_REQUIREMENT_DEFINITION.DESCRIPTION, htmlAttributes: new { @class = "m-0" })</th>
                <th>@Html.LabelFor(m => m.RELATION, htmlAttributes: new { @class = "m-0" })</th>
                <th>@Html.LabelFor(m => m.VALUE, htmlAttributes: new { @class = "m-0" })</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>
                    @Html.DropDownListFor(
                        m => m.OFFER_REQUIREMENT_DEF_ID,
                         (SelectList)ViewBag.ReqDefinitions,
                        htmlAttributes: new { @class = "form-control" })
                </td>
                <td>
                    @Html.DropDownListFor(
                        m => m.RELATION,
                        new SelectList(new List<SelectListItem>
                            {
                            new SelectListItem { Text = "less than", Value = "<"},
                            new SelectListItem { Text = "greater than", Value = ">"},
                            new SelectListItem { Text = "not equal", Value = "!"},
                            new SelectListItem { Text = "equals", Value = "="}
                            },
                            "Value",
                            "Text"),
                        htmlAttributes: new { @class = "form-control" })
                </td>
                <td>@Html.EditorFor(m => m.VALUE, new { htmlAttributes = new { @class = "form-control d-inline-block" } })</td>
            </tr>
        </tbody>
    </table>
    <div>
        <input type="submit" class="btn btn-primary" value="Save" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
}
