﻿@model IEnumerable<CRM_BTM.Models.MTM_OFFER_REQUIREMENT>

@{
    ViewBag.Title = "Edit option requirements";
}

<hr />
<div>
    @Html.ActionLink("Add new", "AddOfferRequirement", new { id = ViewBag.OfferOptionID }, htmlAttributes: new { @class = "btn btn-success" })
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <table class="table table-sm table-striped table-hover">
        <thead>
            <tr>
                <th>@Html.LabelFor(m => m.FirstOrDefault().OFFER_REQUIREMENT_DEFINITION.DESCRIPTION, htmlAttributes: new { @class = "m-0" })</th>
                <th>@Html.LabelFor(m => m.FirstOrDefault().RELATION, htmlAttributes: new { @class = "m-0" })</th>
                <th>@Html.LabelFor(m => m.FirstOrDefault().VALUE, htmlAttributes: new { @class = "m-0" })</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            @Html.EditorForModel()
        </tbody>
    </table>
    <div>
        <input type="submit" class="btn btn-primary" value="Save" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
    
}
