﻿@model CRM_BTM.Models.ViewModels.OfferEditViewModel
@using CRM_BTM.Views.OfferModels;
@{
    ViewBag.Title = "Edit offer";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.Offer.ID)

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>General offer properties</span>
            </div>
            <div class="card-body row">
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Offer.INVOICE_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Offer.INVOICE_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Offer.INVOICE_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Offer.INTERNAL_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Offer.INTERNAL_NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Offer.INTERNAL_NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Offer.VALID_FROM, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Offer.VALID_FROM, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Offer.VALID_FROM, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Offer.VALID_TO, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Offer.VALID_TO, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Offer.VALID_TO, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group m-3">
                    <input type="submit" value="Save" class="btn btn-primary" />
                    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Offer options</span>
            </div>
            <div class="card-body row">
                @Html.ActionLink("Add new option", "AddOption", routeValues: new { offer_id = Model.Offer.ID }, htmlAttributes: new { @class = "btn btn-outline-primary m-3" })
                @if (Model.Offer.OFFER_OPTION.Count == 0)
                {
                    <i class="d-block m-2">This offer has no options created</i>
                }
                else
                {
                    <div id="accordion" class="form-horizontal col-12">
                        @foreach (var option in Model.Offer.OFFER_OPTION)
                        {
                            @Html.HiddenFor(m => option.ID)
                            <div class="card">
                                <div class="card-header bg-secondary" id="heading-@option.ID" data-toggle="collapse" data-target="#collapse-@option.ID" aria-expanded="true" aria-controls="collapse-@option.ID">
                                    <h4 class="mb-0">
                                        @option.INTERNAL_NAME
                                    </h4>
                                </div>

                                <div id="collapse-@option.ID" class="collapse" aria-labelledby="heading-@option.ID">
                                    <div class="card-body">
                                        <div class="optionBasic col-12 mb-4">
                                            <h4 class="p-1 d-inline-block">Basic properties</h4>
                                            @Html.ActionLink("Edit", "EditOptionBasic", "Offer", new { id = option.ID }, new { @class = "btn btn-outline-primary float-right" })
                                            <table class="table table-xs table-light m-2 table-responsive p-2">
                                                <tr>
                                                    <td>@Html.LabelFor(m => option.DESCRIPTION, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</td>
                                                    <td><span class="value-field p-1">@Html.DisplayFor(m => option.DESCRIPTION)</span></td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(m => option.INVOICE_NAME, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</td>
                                                    <td><span class="value-field p-1">@Html.DisplayFor(m => option.INVOICE_NAME)</span></td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(m => option.INTERNAL_NAME, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</td>
                                                    <td><span class="value-field p-1">@Html.DisplayFor(m => option.INTERNAL_NAME)</span></td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(m => option.VALID_FROM, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</td>
                                                    <td><span class="value-field p-1">@Html.DisplayFor(m => option.VALID_FROM)</span></td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(m => option.VALID_TO, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</td>
                                                    <td><span class="value-field p-1">@Html.DisplayFor(m => option.VALID_TO)</span></td>
                                                </tr>
                                                <tr>
                                                    <td>@Html.LabelFor(m => option.TECHNOLOGY.DESCRIPTION, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</td>
                                                    <td><span class="value-field p-1">@Html.DisplayFor(m => option.TECHNOLOGY.DESCRIPTION)</span></td>
                                                </tr>
                                                <tr>
                                                    <td>Total length (months)</td>
                                                    @{int totalLength = Model.PricingPeriods.ContainsKey(option.ID) ? Model.PricingPeriods[option.ID].TotalLength() : 0;}
                                                    <td><span class="value-field p-1">@(totalLength > 0 ? totalLength.ToString() : "Dynamic") </span></td>
                                                </tr>
                                            </table>
                                        </div>
                                        <hr />
                                        <div class="optionRequirements col-12 mb-4">
                                            <h4 class="p-1 d-inline-block">Requirements</h4>
                                            @Html.ActionLink("Edit", "EditOptionRequirements", "Offer", new { id = option.ID }, new { @class = "btn btn-outline-primary float-right" })
                                            @if (option.MTM_OFFER_REQUIREMENT.Count == 0)
                                            {
                                                <i class="m-3">This offer has no requirements set</i>
                                            }
                                            else
                                            {
                                                <table class="table table-xs table-light m-2 p-1 table-responsive">
                                                    <tr>
                                                        <th>@Html.LabelFor(m => m.Offer.MTM_OFFER_REQUIREMENT.FirstOrDefault().OFFER_REQUIREMENT_DEFINITION.DESCRIPTION, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</th>
                                                        <th>@Html.LabelFor(m => m.Offer.MTM_OFFER_REQUIREMENT.FirstOrDefault().RELATION, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</th>
                                                        <th>@Html.LabelFor(m => m.Offer.MTM_OFFER_REQUIREMENT.FirstOrDefault().VALUE, new { htmlAttributes = new { @class = "control-label d-inline-block" } })</th>
                                                    </tr>

                                                    @foreach (var req in option.MTM_OFFER_REQUIREMENT)
                                                    {
                                                        <tr>
                                                            <td><span class="value-field p-1">@Html.DisplayFor(m => req.OFFER_REQUIREMENT_DEFINITION.DESCRIPTION)</span>
                                                            <td><span class="value-field p-1">@Html.DisplayFor(m => req.RELATION)</span></td>
                                                            <td><span class="value-field p-1">@Html.DisplayFor(m => req.VALUE)</span></td>
                                                        </tr>
                                                    }
                                                </table>
                                            }
                                        </div>
                                        <hr />
                                        <div class="optionProducts col-12">
                                            <h4 class="p-1 d-inline-block">Products</h4>
                                            @Html.ActionLink("Edit", "EditOptionProducts", "Offer", new { id = option.ID }, new { @class = "btn btn-outline-primary float-right" })
                                            @if (option.OFFER_OPTION_PRODUCT.Count == 0)
                                            {
                                                <i class="m-3">This offer has no products setup</i>
                                            }
                                            else
                                            {
                                                foreach (var prod in option.OFFER_OPTION_PRODUCT)
                                                {
                                                    <div class="offerProductContainer pb-2">
                                                        @{ var prodPricing = Model.PricingPeriods[option.ID][prod.ID]; }
                                                        <div class="prodHeader">
                                                            <span class="prodCategory">@prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION</span> - <span class="prodDescription">@prod.PRODUCT_DEFINITION.DESCRIPTION</span>
                                                            <span class="forcedAttr"> (@Html.ActionLink("Edit forced attributes", "EditProductForcedAttr", routeValues: new { ProductID = prod.ID }, htmlAttributes: new { @class = "d-inline-block" }))</span>
                                                        </div>
                                                        <div class="pricingBulletsContainer">
                                                            @if (prodPricing.Type.Equals('U'))
                                                            {
                                                                <div class="pricingBullet pricingBulletOOP bg-dark small d-block"><span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span></div>
                                                            }
                                                            else
                                                            {
                                                                foreach (var period in prodPricing.Periods.OrderBy(x => x.PeriodStart))
                                                                {
                                                                    var RGBBytes = IdToRBG.getRGB((int)prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY_ID);
                                                                    <div class="pricingBullet text-nowrap small" style="width: @(80 * period.PeriodLength / Model.PricingPeriods[option.ID].TotalLength())%; background: rgb(@RGBBytes[0],@RGBBytes[1],@RGBBytes[2])">
                                                                        <span class="pricingStart d-none d-lg-block">@period.PeriodStart</span>
                                                                        <span class="pricingPrice">@period.Price.ToString("C")</span>
                                                                    </div>
                                                                }
                                                                if (prodPricing.OutOfPromoPrice > 0)
                                                                {
                                                                    <div class="pricingBullet pricingBulletOOP bg-dark small" style="width: 15%;">
                                                                        <span class="pricingStart d-none d-lg-block">@(Model.PricingPeriods[option.ID].TotalLength() + 1)</span>
                                                                        <span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span>
                                                                    </div>
                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                }
                                            }
                                        </div>
                                    </div>
                                </div>
                            </div>
                        }
                    </div>

                }
            </div>
        </div>
    </div>    
}