﻿@model CRM_BTM.Models.OFFER_OPTION
@{
    ViewBag.Title = "Edit offer option";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.OFFER_DEFINITION_ID)


<div class="form-horizontal">
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.INVOICE_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.INVOICE_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INVOICE_NAME, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.INTERNAL_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.INTERNAL_NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.INTERNAL_NAME, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.VALID_FROM, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.VALID_FROM, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VALID_FROM, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.VALID_TO, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.VALID_TO, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.VALID_TO, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.TECHNOLOGY.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("TECHNOLOGY_ID", null, htmlAttributes: new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.TECHNOLOGY_ID, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
        </div>
     
    </div>
    }
