﻿@model CRM_BTM.Models.ViewModels.OfferOptionProductForcedAttrViewModel
@{
    ViewBag.Title = "Offer product forced attributes";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.ProductID)

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Forced attributes</span>
            </div>
            <div class="card-body row">
                @{ int i = 0; }
                <div class="col-12" id="valgroup-container">
                    <div class="form-group row" id="valgroup-template" style="display:none;">
                        <div class="col-10">
                            @Html.LabelFor(m => m.Definitions.FirstOrDefault().DESCRIPTION, new { @class = "d-inline-block col-3" })
                            @Html.DropDownList(String.Concat(new string[] { "Forced[template].PRODUCT_ATTRIBUTE_DEF_ID" }), new SelectList(Model.Definitions, "ID", "DESCRIPTION"), new { @class = "form-control d-inline-block col-8" })

                            @Html.Label("Value", new { @class = "d-inline-block col-3" })
                            @Html.TextBox(String.Concat(new string[] { "Forced[template].VALUE" }), null, new { @class = "form-control d-inline-block col-8" })

                            @Html.Hidden(String.Concat(new string[] { "Forced[template].OFFER_OPTION_PRODUCT_ID" }), Model.ProductID)
                        </div>
                        <div class="btn btn-outline-danger d-block col-2" id="valgroup-remove-template" onclick="removeSection(this);">Remove</div>
                        <hr />
                    </div>
                    @foreach (var attrValue in Model.Forced)
                    {
                        <div class="form-group row" id="valgroup-@i">
                            <div class="col-10">
                                @Html.LabelFor(m => m.Definitions.FirstOrDefault().DESCRIPTION, new { @class = "d-inline-block col-3" })
                                @Html.DropDownList(String.Concat(new string[] { "Forced[", i.ToString(), "].PRODUCT_ATTRIBUTE_DEF_ID" }), new SelectList(Model.Definitions, "ID", "DESCRIPTION", attrValue.PRODUCT_ATTRIBUTE_DEF_ID), new { @class = "form-control d-inline-block col-8" })

                                @Html.Label("Value", new { @class = "d-inline-block col-3" })
                                @Html.TextBox(String.Concat(new string[] { "Forced[", i.ToString(), "].VALUE" }), attrValue.VALUE, new { @class = "form-control d-inline-block col-8" })

                                @Html.Hidden(String.Concat(new string[] { "Forced[template].OFFER_OPTION_PRODUCT_ID" }), Model.ProductID)
                            </div>
                            <div class="btn btn-outline-danger d-block col-2" id="valgroup-remove-@i" onclick="removeSection(this);">Remove</div>
                            <hr />
                        </div>
                        i++;
                    }
                </div>
                @if (Model.Definitions.Count() == 0)
                {
                    <i>No attributes available. Please setup product definition.</i>
                }
                else
                {
                    <div class="col-12">
                        <div class="btn btn-outline-success col-12" id="valgroup-add" onclick="addSection();">Add</div>
                    </div>

                    <div class="form-group m-3">
                        <input type="submit" value="Save" class="btn btn-primary" />
                        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                }
            </div>
        </div>
    </div>


    if (Model.Definitions.Count() == 0)
    {
        <i>No attributes available. Please setup product definition.</i>
    }
    else
    {
        <hr />

        <div class="col-12 p-3">
            <div class="card">
                <div class="card-header">
                    <span>Available attributes</span>
                </div>
                <div class="card-body row">
                    <table class="table table-sm table-hover table-bordered">
                        <tr>
                            <th>@Html.LabelFor(m => m.Definitions.FirstOrDefault().DESCRIPTION)</th>
                            <th>@Html.LabelFor(m => m.Definitions.FirstOrDefault().FULL_DESCRIPTION)</th>
                            <th>@Html.LabelFor(m => m.Definitions.FirstOrDefault().PARAM_TYPE)</th>
                            <th>@Html.LabelFor(m => m.Definitions.FirstOrDefault().REGEXP)</th>
                            <th>Allowed values</th>
                        </tr>
                        @foreach (var def in Model.Definitions)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => def.DESCRIPTION)</td>
                                <td>@Html.DisplayFor(m => def.FULL_DESCRIPTION)</td>
                                <td>@Html.DisplayFor(m => def.ParamTypeFull)</td>
                                <td>@Html.DisplayFor(m => def.REGEXP)</td>
                                <td class="small">
                                    @if (def.PARAM_TYPE.Equals("S"))
                                    {
                                        <ul class="row list-unstyled">
                                            @foreach (var val in def.PRODUCT_ATTRIBUTE_VALUE_LIST)
                                            {
                                                <li class="col-4">@val.VALUE</li>
                                            }
                                        </ul>
                                    }
                                </td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
        
    }

}


<script>
    function addSection() {
        var cont = $("#valgroup-container");
        var childCount = cont.children("div").length;
        if (childCount == 1) {
            var newindex = 0;
            var newSection = $("#valgroup-template").clone();
            newSection.css("display", "");
            changeIndex(newSection, newindex);
            newSection.appendTo("#valgroup-container");
        } else {
            var copiedIndex = childCount - 2;
            var newindex = childCount - 1;
            var newSection = $("#valgroup-" + copiedIndex).clone();
            changeIndex(newSection, newindex);
            newSection.appendTo("#valgroup-container");
        }

    }

    function removeSection(button) {
        var section = $("#" + button.id).parent();
        var cont = $("#valgroup-container");
        var removeIndex = parseInt(button.id.replace("valgroup-remove-", ""));
        var maxIndex = cont.children("div").length - 2;
        section.remove();
        var i = 0;
        for (i = removeIndex + 1; i <= maxIndex; i++) {
            changeIndex(cont.children("#valgroup-" + i), i - 1);
        }

    }

    function changeIndex(section, newIndex) {
        var oldIndex = section.attr("id").replace("valgroup-", "");
        section.attr('id', 'valgroup-' + newIndex);
        section.children("*[name*='.']").each(function (idx) {
            var oldAttr = $(this).attr('name');
            var newAttr = oldAttr.replace(oldIndex, newIndex);
            $(this).attr("name", newAttr);
        });
        section.children("*[name*='.OFFER_OPTION_PRODUCT_ID']").attr('value', '');
        section.children("*[id|='valgroup-remove']").attr('id', 'valgroup-remove-' + newIndex);
    }
</script>