﻿@model CRM_BTM.Models.ViewModels.OfferEditOptionProductsViewModel
@{
    ViewBag.Title = "Edit offer option: products";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(m => m.OptionID)

    <div id="valgroup-container">

        @{ var prodSelectList = new SelectList(ViewBag.Definitions as List<CRM_BTM.Models.PRODUCT_DEFINITION>, "ID", "CategoryPlusDescription"); }
        <div class="productContainer form-group card mt-3" id="valgroup-prodTemplate" style="display: none;">
            <div class="productHeader card-header">
                @Html.DropDownList("Products[prodTemplate].PRODUCT_DEFINITION_ID", prodSelectList, htmlAttributes: new { @class = "form-control d-inline-block" })
                <div class="btn btn-outline-danger d-inline-block float-right" id="valgroup-prodTemplate-remove" onclick="removeProduct(this);">Remove</div>
            </div>

            <div class="productPills card-body">
                <table id="valgroup-prodTemplate-periods" class="table table-sm">
                    @Html.Hidden("Pricing[prodTemplate].Key", "prodTemplate")
                    <tr>
                        <th>@Html.Label("Period start")</th>
                        <th>@Html.Label("Period end")</th>
                        <th>@Html.Label("Price")</th>
                        <th>Actions</th>
                    </tr>
                    <tr id="valgroup-prodTemplate-period-periodTemplate" style="display: none;">
                        <td>@Html.TextBox("Pricing[prodTemplate].Value.Periods[periodTemplate].PeriodStart", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.TextBox("Pricing[prodTemplate].Value.Periods[periodTemplate].PeriodEnd", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td>@Html.TextBox("Pricing[prodTemplate].Value.Periods[periodTemplate].Price", null, htmlAttributes: new { @class = "form-control" })</td>
                        <td><div class="btn btn-outline-danger d-block" id="valgroup-prodTemplate-remove-periodTemplate" onclick="removePeriod(this);">Remove</div></td>
                    </tr>
                    <tr><th colspan="3"></th><th><div class="btn btn-outline-success" id="valgroup-prodTemplate-add" onclick="addPeriod(this);">Add</div></th></tr>
                    <tr>
                        <th colspan="2">@Html.LabelFor(m => m.Pricing.FirstOrDefault().Value.OutOfPromoPrice) (0 or empty for no OOP price)</th>
                        <td>@Html.TextBox("Pricing[prodTemplate].Value.OutOfPromoPrice", 0, htmlAttributes: new { @class = "form-control" })</td>
                        <td></td>
                    </tr>
                </table>
            </div>
        </div>

        @{int productCounter = 0; }
        @foreach (var pr in Model.Products)
        {
            prodSelectList = new SelectList(ViewBag.Definitions as List<CRM_BTM.Models.PRODUCT_DEFINITION>
                , "ID", "CategoryPlusDescription", pr.PRODUCT_DEFINITION_ID);
            <div class="productContainer form-group card mt-3" id="valgroup-@productCounter">
                @Html.Hidden("Pricing[" + productCounter + "].Key", productCounter)
                <div class="productHeader form-group card-header">
                    @Html.DropDownList("Products[" + productCounter + "].PRODUCT_DEFINITION_ID", prodSelectList, htmlAttributes: new { @class = "form-control d-inline-block" })
                    <div class="btn btn-outline-danger d-inline-block float-right" id="valgroup-@productCounter-remove" onclick="removeProduct(this);">Remove</div>
                </div>
                <div class="productPills card-body">
                    <table id="valgroup-@productCounter-periods" class="table table-sm">
                        <tr>
                            <th>@Html.Label("Period start")</th>
                            <th>@Html.Label("Period end")</th>
                            <th>@Html.Label("Price")</th>
                            <th>Actions</th>
                        </tr>
                        <tr id="valgroup-@productCounter-period-periodTemplate" style="display: none;">
                            <td>@Html.TextBox("Pricing[" + productCounter + "].Value.Periods[periodTemplate].PeriodStart", null, htmlAttributes: new { @class = "form-control" })</td>
                            <td>@Html.TextBox("Pricing[" + productCounter + "].Value.Periods[periodTemplate].PeriodEnd", null, htmlAttributes: new { @class = "form-control" })</td>
                            <td>@Html.TextBox("Pricing[" + productCounter + "].Value.Periods[periodTemplate].Price", null, htmlAttributes: new { @class = "form-control" })</td>
                            <td><div class="btn btn-outline-danger d-block" id="valgroup-@productCounter-remove-periodTemplate" onclick="removePeriod(this);">Remove</div></td>
                        </tr>
                        @{int periodCounter = 0; }
                        @foreach (var period in Model.Pricing[pr.ID].Periods)
                        {
                            <tr id="valgroup-@productCounter-period-@periodCounter">
                                <td>@Html.TextBox("Pricing[" + productCounter + "].Value.Periods[" + periodCounter + "].PeriodStart", period.PeriodStart, htmlAttributes: new { @class = "form-control" })</td>
                                <td>@Html.TextBox("Pricing[" + productCounter + "].Value.Periods[" + periodCounter + "].PeriodEnd", period.PeriodEnd, htmlAttributes: new { @class = "form-control" })</td>
                                <td>@Html.TextBox("Pricing[" + productCounter + "].Value.Periods[" + periodCounter + "].Price", period.Price, htmlAttributes: new { @class = "form-control" })</td>
                                <td>
                                    @if (periodCounter > 0)
                                    {
                                        <div class="btn btn-outline-danger d-block" id="valgroup-@productCounter-remove-@periodCounter" onclick="removePeriod(this);">Remove</div>
                                    }
                                </td>
                            </tr>
                            periodCounter++;
                        }
                        <tr><th colspan="3"></th><th><div class="btn btn-outline-success" id="valgroup-@productCounter-add" onclick="addPeriod(this);">Add</div></th></tr>
                        <tr>
                            <th colspan="2">@Html.LabelFor(m => m.Pricing[pr.ID].OutOfPromoPrice) (0 or empty for no OOP price)</th>
                            <td>@Html.TextBox("Pricing[" + productCounter + "].Value.OutOfPromoPrice", Model.Pricing[pr.ID].OutOfPromoPrice, htmlAttributes: new { @class = "form-control" })</td>
                            <td></td>
                        </tr>

                    </table>
                </div>
            </div>
            productCounter++;
        }

    </div>

    <div class="btn btn-outline-success mt-3 d-block" id="valgroup-add" onclick="addProduct();">Add new product</div>

    <div class="mt-3">
        <input type="submit" class="btn btn-primary" value="Save" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>

}
@section Scripts {

    <script>

        function addPeriod(addButtonDOM) {
            var addbutton = $(addButtonDOM);
            var sectionKey = parseInt(addbutton.attr("id").replace("valgroup-", "").replace("-add", ""));
            var periodContainer = $("#valgroup-" + sectionKey + "-periods");
            var newSection = periodContainer.find("#valgroup-" + sectionKey + "-period-periodTemplate").clone();
            var lastPeriodSection = periodContainer.find("[id*=-period-]").last();
            var highestPeriodKey = parseInt(lastPeriodSection.attr("id").replace("valgroup-" + sectionKey + "-period-", ""));
            if (isNaN(highestPeriodKey)) {
                highestPeriodKey = -1;
            }
            console.log("highestPeriodKey = " + highestPeriodKey);
            newSection.css("display", "");
            periodContainer.find("[id*=-period-]").last().after(newSection);
            applyPeriodKey(newSection, sectionKey, highestPeriodKey + 1);
        }

        function removePeriod(removeButtonDOM) {
            var removeButton = $(removeButtonDOM);
            var str = removeButton.attr("id").replace("valgroup-", "");
            var sectionKey = parseInt(str.substr(0, str.indexOf('-')));
            var periodKey = removeButton.attr("id").replace("valgroup-" + sectionKey + "-remove-", "");
            var periodContainer = $("#valgroup-" + sectionKey + "-periods");
            var periodToRemove = periodContainer.find("#valgroup-" + sectionKey + "-period-" + periodKey);
            periodContainer.find("[id*=-period-]").each(function () {
                var currPeriodKey = parseInt($(this).attr("id").replace("valgroup-" + sectionKey + "-period-", ""));
                if (currPeriodKey > periodKey) {
                    applyPeriodKey($(this), sectionKey, currPeriodKey - 1);
                }
            });
            periodToRemove.remove();
        }

        function applyPeriodKey(periodSection, sectionKey, periodKey) {
            console.log("Arguments:");
            console.log("  periodSection: " + periodSection);
            console.log("  sectionKey   : " + sectionKey);
            console.log("  periodKey    : " + periodKey);
            var oldKey = periodSection.attr("id").replace("valgroup-" + sectionKey + "-period-", "");
            console.log("oldKey = " + oldKey);
            periodSection.attr("id", "valgroup-" + sectionKey + "-period-" + periodKey);
            periodSection.find('*[id$="remove-' + oldKey + '"]')
                .each(function () {
                    var oldID = $(this).attr("id");
                    $(this).attr("id", oldID.replace("remove-" + oldKey, "remove-" + periodKey))
                });
            periodSection.find('*[name*="Periods[' + oldKey + ']"]')
                .each(function () {
                    var oldID = $(this).attr("name");
                    $(this).attr("name", oldID.replace("Periods[" + oldKey + "]", "Periods[" + periodKey + "]"))
                });
        }

        function addProduct() {
            var cont = $("#valgroup-container");
            var childCount = cont.children("div").length;
            var newIndex = childCount - 1;
            var newSection = $("#valgroup-prodTemplate").clone();
            newSection.css("display", "");
            applyProductKey(newSection, newIndex);
            newSection.appendTo("#valgroup-container");
        }

        function removeProduct(removeButtonDOM) {
            var removeButton = $(removeButtonDOM);
            var sectionKey = parseInt(removeButton.attr("id").replace("valgroup-", "").replace("-remove", ""));
            var section = $("#valgroup-" + sectionKey);
            var cont = $("#valgroup-container");
            var sectionKey = parseInt(section.attr("id").replace("valgroup-", ""));
            cont.children("*[id^=valgroup-]").each(function () {
                var currSectionKey = parseInt($(this).attr("id").replace("valgroup-", ""));
                if (currSectionKey > sectionKey) {
                    applyProductKey($(this), currSectionKey - 1);
                }
            });
            section.remove();
        }

        function applyProductKey(section, key) {
            var oldKey = section.attr("id").replace("valgroup-", "");
            section.attr("id", "valgroup-" + key);
            section.find("*[id^=valgroup-" + oldKey + "-]")
                .each(function () {
                    var oldID = $(this).attr("id");
                    $(this).attr("id", oldID.replace("valgroup-" + oldKey + "-", "valgroup-" + key + "-"))
                });
            section.find('*[name^="Products[' + oldKey + ']"]')
                .each(function () {
                    var oldID = $(this).attr("name");
                    $(this).attr("name", oldID.replace("Products[" + oldKey + "]", "Products[" + key + "]"))
                });
            section.find('*[name^="Pricing[' + oldKey + ']"]')
                .each(function () {
                    var oldID = $(this).attr("name");
                    $(this).attr("name", oldID.replace("Pricing[" + oldKey + "]", "Pricing[" + key + "]"))
                    if ($(this).attr("name").endsWith(".Key")) {
                        $(this).attr("value", key);
                    }
                });
        }

    </script>

}