﻿@model IEnumerable<CRM_BTM.Models.OFFER_DEFINITION>
@{
    ViewBag.Title = "Offers";
}

<table class="table table-sm table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th class="xl-only">@Html.LabelFor(m => m.FirstOrDefault().ID)</th>
            <th>@Html.LabelFor(m => m.FirstOrDefault().INTERNAL_NAME)</th>
            <th>@Html.LabelFor(m => m.FirstOrDefault().INVOICE_NAME)</th>
            <th class="xl-only">@Html.LabelFor(m => m.FirstOrDefault().VALID_FROM)</th>
            <th class="xl-only">@Html.LabelFor(m => m.FirstOrDefault().VALID_TO)</th>
            <th>Option count</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var offer in Model)
        {
            <tr>
                <td class="xl-only">@Html.DisplayFor(m => offer.ID)</td>
                <td>@Html.DisplayFor(m => offer.INTERNAL_NAME)</td>
                <td>@Html.DisplayFor(m => offer.INVOICE_NAME)</td>
                <td class="xl-only">@Html.DisplayFor(m => offer.VALID_FROM)</td>
                <td class="xl-only">@Html.DisplayFor(m => offer.VALID_TO)</td>
                <td>@Html.DisplayFor(m => offer.OFFER_OPTION.Count)</td>
                <td>
                    @Html.ActionLink("Details / Edit", "Edit", "Offer", new { id = offer.ID }, new { @class = "btn btn-outline-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>
