﻿@model CRM_BTM.Models.ViewModels.AccountListEditViewModel
@{
    ViewBag.Title = "Add new Account List Report";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Basic</span>
            </div>
            <div class="card-body row">
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Base.TITLE, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.Base.TITLE, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Base.TITLE, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.Base.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.TextAreaFor(model => model.Base.DESCRIPTION, 3, 60, new { @class = "form-control mw-100" })
                            @Html.ValidationMessageFor(model => model.Base.DESCRIPTION, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Output columns</span>
            </div>
            <div class="card-body row" id="columns-wrapper">
                <div id="columns-all" class="col-12">
                    @{
                        ViewData["SectionLabel"] = "template";
                        ViewData["SelectList"] = (SelectList)ViewBag.ColumnSelectList;
                    }
                    @Html.Partial("PartialViews/AcclistColumnFormSection", new CRM_BTM.Models.CRMAPP_ACCLIST_COLUMN_DEF(), ViewData)
                </div>

                <div class="btn btn-outline-success d-block col-2 m-3" onclick="ColumnAdd()">Add</div>
            </div>
        </div>
    </div>

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Account conditions</span>
            </div>
            <div class="card-body row" id="conditions-wrapper">

                <div id="conditions-all" class="col-12">
                    @{
                        ViewData["SectionLabel"] = "template";
                        ViewData["SelectList"] = (SelectList)ViewBag.ConditionSelectList;
                    }
                    @Html.Partial("PartialViews/AcclistConditionFormSection",new CRM_BTM.Models.CRMAPP_ACCLIST_CONDITIONS(), ViewData)
                </div>

                <div class="btn btn-outline-success d-block col-2 m-3" onclick="ConditionAdd()">Add</div>
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}

@section Scripts {

    <script>
        var columnCount = 0;
        var conditionCount = 0;

        function ColumnAdd() {
            var wrapper = $("#columns-all");
            var template = wrapper.find("#ColumnsWrapper-template");
            var newSection = template.clone();
            newSection.css("display", "");
            ColumnChangeIndex(newSection, columnCount)
            wrapper.append(newSection);
            columnCount++;
        }

        function ColumnRemove(button) {
            var jbtn = $(button);
            var currentIndex = jbtn.attr("id").substring(8).split("]")[0];
            var wrapper = $("#columns-all");
            var oldSection = wrapper.find("#ColumnsWrapper-" + currentIndex);
            for (var i = 1 + parseInt(currentIndex); i < columnCount; i++) {
                var updateSection = wrapper.find("#ColumnsWrapper-" + i);
                ColumnChangeIndex(updateSection, i - 1)
            }
            columnCount--;
            oldSection.remove();
        }

        function ColumnChangeIndex(section, newIndex) {
            var currentIndex = section.attr("id").substring(15);
            section.attr("id", section.attr("id").replace(currentIndex, newIndex));
            section.find("[id]").each(
                function () {
                    var jqThis = $(this);
                    jqThis.attr("id", jqThis.attr("id").replace('[' + currentIndex + ']', '[' + newIndex + ']'))
                }
            );
            section.find("[name]").each(
                function () {
                    var jqThis = $(this);
                    jqThis.attr("name", jqThis.attr("name").replace('[' + currentIndex + ']', '[' + newIndex + ']'))
                }
            );
        }

        function ConditionAdd() {
            var wrapper = $("#conditions-all");
            var template = wrapper.find("#ConditionsWrapper-template");
            var newSection = template.clone();
            newSection.css("display", "");
            ConditionChangeIndex(newSection, conditionCount)
            wrapper.append(newSection);
            conditionCount++;
        }

        function ConditionRemove(button) {
            var jbtn = $(button);
            var currentIndex = jbtn.attr("id").substring(11).split("]")[0];
            var wrapper = $("#conditions-all");
            var oldSection = wrapper.find("#ConditionsWrapper-" + currentIndex);
            for (var i = 1 + parseInt(currentIndex); i < conditionCount; i++) {
                var updateSection = wrapper.find("#ConditionsWrapper-" + i);
                ConditionChangeIndex(updateSection, i - 1)
            }
            conditionCount--;
            oldSection.remove();
        }

        function ConditionChangeIndex(section, newIndex) {
            var currentIndex = section.attr("id").substring(18);
            section.attr("id", section.attr("id").replace(currentIndex, newIndex));
            section.find("[id]").each(
                function () {
                    var jqThis = $(this);
                    jqThis.attr("id", jqThis.attr("id").replace('[' + currentIndex + ']', '[' + newIndex + ']'))
                }
            );
            section.find("[name]").each(
                function () {
                    var jqThis = $(this);
                    jqThis.attr("name", jqThis.attr("name").replace('[' + currentIndex + ']', '[' + newIndex + ']'))
                }
            );
        }
    </script>

}