﻿@model  IEnumerable<CRM_BTM.Models.CRMAPP_ACCLIST_BASE>
@{
    ViewBag.Title = "AccountList Reports";
}

<hr />
<div>
    @Html.ActionLink("Create new", "Add", null, htmlAttributes: new { @class = "btn btn-primary" })
</div>
<hr />

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.LabelFor(model => model.FirstOrDefault().ID)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().TITLE)</th>
        <th>@Html.LabelFor(model => model.FirstOrDefault().DESCRIPTION)</th>
        <th>Last run</th>
        <th class="xl-only">Conditions</th>
        <th class="xl-only">Columns</th>
        <th>Actions</th>
    </tr>
    @foreach (var report in Model)
    {
        <tr>
            <td>@Html.DisplayFor(model => report.ID)</td>
            <td>@Html.DisplayFor(model => report.TITLE)</td>
            <td>@Html.DisplayFor(model => report.DESCRIPTION)</td>
            <td>@(report.CRMAPP_ACCLIST_FILES.Count > 0 ? report.CRMAPP_ACCLIST_FILES.Max(x => x.CREATE_DATE).ToString() : "never")</td>
            <td class="xl-only">@report.CRMAPP_ACCLIST_CONDITIONS.Count()</td>
            <td class="xl-only">@report.CRMAPP_ACCLIST_COLUMN_DEF.Count()</td>
            <td class="text-nowrap">
                @Html.ActionLink("Run", "LaunchReport", new { id = report.ID }, new { @class = "btn btn-outline-primary" })
                @Html.ActionLink("Edit", "Edit", new { id = report.ID }, new { @class = "btn btn-outline-secondary" })
                @if (report.CRMAPP_ACCLIST_FILES.Count > 0)
                {
                    @Html.ActionLink("Get latest", "Download", new { filename = report.CRMAPP_ACCLIST_FILES.OrderByDescending(x => x.CREATE_DATE).FirstOrDefault().FILENAME }, new { @class = "btn btn-outline-secondary" })
                }
                else
                {
                    <div class="btn btn-outline-secondary" onclick="alert('No reports are saved');">Get latest</div>
                }
                @Html.ActionLink("Delete", "Delete", new { id = report.ID }, new { @class = "btn btn-outline-danger m-3", onclick = "return confirm('Are you sure you wish to remove this report? This action cannot be reversed.');" })
            </td>
        </tr>
    }
</table>

