﻿@if (ViewBag.ActivityLogTable == null || ViewBag.ActivityLogID == null)
{
    <button type="button" class="btn btn-info" disabled>Activity Log not initialized</button>
}
else
{

    <button type="button" class="btn btn-info" data-toggle="modal" data-target="#activityLogModal">Show activity log</button>

    <!-- Modal -->
    <div class="modal fade w-1000" id="activityLogModal" tabindex="-1" role="dialog" aria-labelledby="activityLogModal" aria-hidden="true">
        <div class="modal-dialog w-75 mw-100" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Activity Log</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body" id="activityLogModal-content">
                    Loading...
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>

}

    <script>
        $('#activityLogModal').on('show.bs.modal', function (event) {
            console.log("show");
            $.ajax({
                type: "GET",
                url: "/ActivityLog/Search",
                contentType: "application/json; charset=utf-8",
                data: { "table": '@ViewBag.ActivityLogTable', "id": @Model.ID },
                datatype: "json",
                success: function (data) {
                    $('#activityLogModal-content').html(data);

                },
                error: function () {
                    alert("Dynamic content load failed.");
                }
            });
        })
    </script>
