﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRMMania - @ViewBag.Title</title>

    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    <script src="~/Scripts/umd/popper.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
</head>
<body>

    <main class="container">
        <div class="row" id="scroll-fix-div">
            <aside class="col-lg-3 rtl order-first">
                <div class="logo col-12 ltr m-xl-auto">
                    <a href="@Url.Action("Index", "Home", new { area = "" })"><img src="~/Content/Images/logo_full.png" /></a>
                </div>
                <nav class="ltr">
                    <ul class="list-unstyled components">
                        <li>
                            <div class="row">
                                <a href="#ClientsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Clients</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="ClientsSubmenu">
                                <a href="@Url.Action("Index", "ClientSearch" , new { area="" })"><li class="menu-item-level1 col-12">Search client</li></a>
                                <a href="@Url.Action("Index", "NewClient" , new { area="" })"><li class="menu-item-level1 col-12">Add new client</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#AutomaticReportsSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Automatic reports</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="AutomaticReportsSubmenu">
                                <a href="@Url.Action("Index", "AutomaticReports", new { area = "" })"><li class="menu-item-level1 col-12">Report list</li></a>
                                <a href="@Url.Action("Add", "AutomaticReports", new { area = "" })"><li class="menu-item-level1 col-12">New report</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#UsersSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Users</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="UsersSubmenu">
                                <span class="sidemenu-subitem-category">Users</span>
                                <a href="@Url.Action("Index", "manageuser", new { area = "" })"><li class="menu-item-level1 col-12">User list</li></a>
                                <a href="@Url.Action("Create", "manageuser", new { area = "" })"><li class="menu-item-level1 col-12">New user</li></a>
                                <span class="sidemenu-subitem-category">Roles</span>
                                <a href="@Url.Action("Index", "ManageRole", new { area = "" })"><li class="menu-item-level1 col-12">User role list</li></a>
                                <a href="@Url.Action("Create", "ManageRole", new { area = "" })"><li class="menu-item-level1 col-12">New role</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#TasksSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Tasks</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="TasksSubmenu">
                                <a href="@Url.Action("Index", "Tasks", new { area = "" })"><li class="menu-item-level1 col-12">Tasks</li></a>
                                <a href="@Url.Action("Create", "Tasks", new { area = "" })"><li class="menu-item-level1 col-12">Create task</li></a>
                                <a href="@Url.Action("Index", "YourBasket", new { area = "" })"><li class="menu-item-level1 col-12">Manage baskets</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#TasksConfigSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Tasks config</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="TasksConfigSubmenu">
                                <a href="@Url.Action("Index", "TasksConfig", new { area = "" })"><li class="menu-item-level1 col-12">Dashboard</li></a>
                                <span class="sidemenu-subitem-category">Attributes</span>
                                <a href="@Url.Action("StatusList", "TasksConfig", new { area = "" })"><li class="menu-item-level1 col-12">Statuses</li></a>
                                <a href="@Url.Action("TypeList", "TasksConfig", new { area = "" })"><li class="menu-item-level1 col-12">Types</li></a>
                                <a href="@Url.Action("SubtypeList", "TasksConfig", new { area = "" })"><li class="menu-item-level1 col-12">Subtypes</li></a>
                                <a href="@Url.Action("ParamList", "TasksConfig", new { area = "" })"><li class="menu-item-level1 col-12">Parameters</li></a>
                                <span class="sidemenu-subitem-category">Queue</span>
                                <a href="@Url.Action("Index", "Queue", new { area = "" })"><li class="menu-item-level1 col-12">Queue list</li></a>
                                <a href="@Url.Action("Create", "Queue", new { area = "" })"><li class="menu-item-level1 col-12">Create queue</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#SalesStructSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Sales structure</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="SalesStructSubmenu">
                                <span class="sidemenu-subitem-category">Users</span>
                                <a href="@Url.Action("Index", "UsersStruct", new { area = "" })"><li class="menu-item-level1 col-12">View</li></a>
                                <a href="@Url.Action("AddUser", "UsersStruct", new { area = "" })"><li class="menu-item-level1 col-12">Assign users</li></a>
                                <span class="sidemenu-subitem-category">Teams</span>
                                <a href="@Url.Action("TeamsList", "UsersStruct", new { area = "" })"><li class="menu-item-level1 col-12">Teams list</li></a>
                                <a href="@Url.Action("TeamAdd", "UsersStruct", new { area = "" })"><li class="menu-item-level1 col-12">New team</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="@Url.Action("Index", "JobMachine", new { area = "" })" class="menu-item-main col col-8 offset-2"><span>Job machine</span></a><div class="nav-line col col-2"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#AddressBaseSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Address base</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="AddressBaseSubmenu">
                                <a href="@Url.Action("Index", "AddressBase", new { area = "" })"><li class="menu-item-level1 col-12">Find address</li></a>
                                <a href="@Url.Action("ImportAddressBase", "AddressBase", new { area = "" })"><li class="menu-item-level1 col-12">Import</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="@Url.Action("Index", "Interact", new { area = "" })" class="menu-item-main col col-8 offset-2"><span>Client interactions</span></a><div class="nav-line col col-2"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#DictionariesSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Dictionaries</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="DictionariesSubmenu">
                                <span class="sidemenu-subitem-category">Devices</span>
                                <a href="@Url.Action("Index", "Devicetype", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Types</li></a>
                                <a href="@Url.Action("Index", "DeviceBrandModel", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Brands & Models </li></a>
                                <span class="sidemenu-subitem-category">Interactions</span>
                                <a href="@Url.Action("Index", "InteractDirection", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Directions</li></a>
                                <a href="@Url.Action("Index", "InteractMedium", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Mediums</li></a>
                                <a href="@Url.Action("Index", "InteractType", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Types</li></a>
                                <span class="sidemenu-subitem-category">Invoices</span>
                                <a href="@Url.Action("Index", "InvoiceStatus", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Statuses</li></a>
                                <a href="@Url.Action("Index", "InvoiceType", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Types</li></a>
                                <span class="sidemenu-subitem-category">Products</span>
                                <a href="@Url.Action("Index", "ProductCategory", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Categories</li></a>
                                <a href="@Url.Action("Index", "ProductStatus", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Statuses</li></a>
                                <a href="@Url.Action("Index", "Technology", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Technologies</li></a>
                                <span class="sidemenu-subitem-category">Other</span>
                                <a href="@Url.Action("Index", "BuildingType", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Building types</li></a>
                                <a href="@Url.Action("Index", "Division", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Divisions</li></a>
                                <a href="@Url.Action("Index", "Segment", new { area = "Dictionaries" })"><li class="menu-item-level1 col-12">Client Segments</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#OfferSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Offers</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="OfferSubmenu">
                                <a href="@Url.Action("Index", "Offer", new { area = "" })"><li class="menu-item-level1 col-12">Offer list</li></a>
                                <a href="@Url.Action("Add", "Offer", new { area = "" })"><li class="menu-item-level1 col-12">Construct new</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="#AccListSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle menu-item-main col col-8 offset-2"><span>Account reports</span></a><div class="nav-line col col-2"></div>
                            </div>
                            <ul class="collapse list-unstyled col col-9 offset-2" id="AccListSubmenu">
                                <a href="@Url.Action("Index", "AccountList", new { area = "" })"><li class="menu-item-level1 col-12">Report list</li></a>
                                <a href="@Url.Action("Add", "AccountList", new { area = "" })"><li class="menu-item-level1 col-12">Construct new</li></a>
                            </ul>
                        </li>
                        <li>
                            <div class="row">
                                <a href="@Url.Action("Index", "Installer", new { area = "" })" class="menu-item-main col col-8 offset-2"><span>Installer dashboard</span></a><div class="nav-line col col-2"></div>
                            </div>
                        </li>
                        <li>
                            <div class="row">
                                <a href="@Url.Action("Index", "Device", new { area = "" })" class="menu-item-main col col-8 offset-2"><span>Device</span></a><div class="nav-line col col-2"></div>
                            </div>
                        </li>
                    </ul>
                </nav>
            </aside>
            <div class="col-lg-9" style="height: calc(100% - 30px);">
                <div class="row overflow-auto h-100" id="main-column">
                    <header class="col-12">
                        <div class="row">
                            <div class="content-title col-9 order-3 order-lg-2">
                                <h3 class="">@ViewBag.Title</h3>
                            </div>
                            <div class="login-wrapper col-lg-3 row order-2 order-lg-3">
                                @if (User.Identity.IsAuthenticated)
                                {
                                    <p class="col-5 offset-1 col-lg-11">Hello, @User.Identity.Name!</p>
                                    <p class="col-5 offset-1 col-lg-11">@Html.ActionLink("Logout", "Logout", "Account", new { area = "" }, new { @class = "text-white" })</p>
                                }
                                else
                                {
                                    <div class="d-inline-block btn btn-dark">@Html.ActionLink("Login", "Logout", "Account", new { area = "" }, new { @class = "nav-link" })</div>
                                }
                            </div>
                        </div>
                    </header>
                    <content class="col-12">
                        @Html.Raw(CRM_BTM.Views.Shared.Renderer.Messages(ViewBag.Messages))
                        @RenderBody()
                    </content>
                </div>
            </div>
            <footer class="col-12 order-last">
                <p class="d-inline mr-3">&copy; @DateTime.Now.Year - CRM-Mania</p>
                <div class="d-inline mr-3">Icons made by <a href="https://www.flaticon.com/authors/freepik" title="Freepik">Freepik</a> from <a href="https://www.flaticon.com/" title="Flaticon">www.flaticon.com</a></div>
            </footer>
        </div>
    </main>

</body>

@RenderSection("scripts", required: false)
@RenderSection("ActivityLogScripts", required: false)

</html>
