﻿@model CustomAuth.Models.AuthLoginView

@{
    Layout = null;
    ViewBag.Title = "Login";
}


<!DOCTYPE html>
<html class="h-100">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CRMMania - @ViewBag.Title</title>
    @Scripts.Render("~/bundles/modernizr")
    @Styles.Render("~/Content/login")

</head>
<body class="h-100">

    <main class="container">
        <div class="row h-100">
            <div class="col-4 offset-4 loginform-wrapper">
                <div class="row overflow-auto h-100" id="main-column">
                    <content class="w-100">
                        <img src="~/Content/Images/logo_full.png" class="col-12 p-5" id="logo"/>
                        @using (Html.BeginForm(null, null, new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class="col-12" }))
                        {
                            @Html.AntiForgeryToken()

                            <fieldset class="form-horizontal">
                                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                <div class="form-group">
                                    @Html.LabelFor(model => model.UserName, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.UserName, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    @Html.LabelFor(model => model.Password, htmlAttributes: new { @class = "control-label col-md-2" })
                                    <div class="col-md-12">
                                        @Html.PasswordFor(model => model.Password, htmlAttributes: new { @class = "form-control" })
                                        @Html.ValidationMessageFor(model => model.Password, "", new { @class = "text-danger" })
                                    </div>
                                </div>

                                <div class="form-group">
                                    <div class="col-md-offset-2 col-md-10">
                                        <input type="submit" value="Log In" class="btn btn-dark btn-md" />
                                    </div>
                                </div>
                            </fieldset>
                        }
                    </content>
                </div>
            </div>
        </div>
    </main>

    @Scripts.Render("~/bundles/jquery")

</body>
</html>