﻿@model CRM_BTM.Models.TASKS
@using System.Diagnostics

@{
    ViewBag.Title = "Summary";
}

<hr />
<div class="">
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.QUEUE_ID);
    @Html.HiddenFor(m => m.TASK_TYPE_ID);
    @Html.HiddenFor(m => m.TASK_SUBTYPE_ID);
    @Html.HiddenFor(m => m.ACCOUNT_ID);

    if (Model.PRODUCT != null)
    {
        for (int i = 0; i < Model.PRODUCT.Count; i++)
        {
            Debug.WriteLine("Display Hidden");
            <text>@Html.Hidden("PRODUCT[" + i + "].ID", Model.PRODUCT.ElementAt(i).ID)</text>
        }
    }
    if (Model.TASK_PARAM != null)
    {
        for (int i = 0; i < Model.TASK_PARAM.Count; i++)
        {
            Debug.WriteLine("Display Hidden param");
            <text>@Html.Hidden("TASK_PARAM[" + i + "].TASK_PARAM_DEFINITION_ID", Model.TASK_PARAM.ElementAt(i).TASK_PARAM_DEFINITION_ID)</text>
            <text>@Html.Hidden("TASK_PARAM[" + i + "].VALUE", Model.TASK_PARAM.ElementAt(i).VALUE)</text>
        }
    }

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Basic info</p></li>
                    <li class="step"><p>Products</p></li>
                    <li class="step"><p>Parameters</p></li>
                    <li class="step step-active"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">
                <div class="form-horizontal col-12">
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_TYPE.NAME, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@ViewBag.TypeName</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_SUBTYPE.NAME, "Subtype", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@ViewBag.SubtypeName</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.QUEUE.NAME, "Queue", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@ViewBag.QueueName</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.ACCOUNT.ID, "Account ID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@Model.ACCOUNT_ID</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h2>Products</h2>
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Definition</th>
                            <th>Status</th>
                        </tr>
                        @foreach (var prod in (List<CRM_BTM.Models.PRODUCT>)ViewBag.LinkedProducts)
                        {
                        <tr>
                            <td>@prod.ID</td>
                            <td>@prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION</td>
                            <td>@prod.PRODUCT_DEFINITION.DESCRIPTION</td>
                            <td>@prod.PRODUCT_STATUS.NAME</td>
                        </tr>
                        }
                    </table>

                    <br/>
                    <h2>Parameters</h2>
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <tr>
                            <th>Parameter</th>
                            <th>Description</th>
                            <th>Value</th>
                        </tr>
                        @{ var paramDefinitions = (List<CRM_BTM.Models.TASK_PARAM_DEFINITION>)ViewBag.ParamDef; }
                        @foreach (var param in Model.TASK_PARAM)
                        {
                            var definition = paramDefinitions.Where(d => d.ID == param.TASK_PARAM_DEFINITION_ID).First();
                        <tr>
                            <td>@definition.DESCRIPTION</td>
                            <td>@definition.FULL_DESCRIPTION</td>
                            <td>@param.VALUE</td>
                        </tr>
                        }
                    </table>

                    <div class="form-group">
                        <button name="submitBtn" type="submit" value="Prev" class="btn btn-secondary">Back</button>
                        <button name="submitBtn" type="submit" value="Next" class="btn btn-primary">Save</button>
                        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}