﻿@model CRM_BTM.Models.TASKS
@using System.Diagnostics

@{
    ViewBag.Title = "Set parameters";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
<div class="">
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.QUEUE_ID);
    @Html.HiddenFor(m => m.TASK_TYPE_ID);
    @Html.HiddenFor(m => m.TASK_SUBTYPE_ID);
    @Html.HiddenFor(m => m.ACCOUNT_ID);

    if (Model.PRODUCT != null)
    {
        for (int i = 0; i < Model.PRODUCT.Count; i++)
        {
            Debug.WriteLine("Display Hidden");
            <text>@Html.Hidden("PRODUCT[" + i + "].ID", Model.PRODUCT.ElementAt(i).ID)</text>
        }
    }

    var ParamList = (List<CRM_BTM.Models.TASK_PARAM_DEFINITION>)ViewBag.ParamList;

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Basic info</p></li>
                    <li class="step"><p>Products</p></li>
                    <li class="step step-active"><p>Parameters</p></li>
                    <li class="step"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">

                <div class="form-horizontal col-12 maxh-overflow">
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <tr>
                            <th>@Html.LabelFor(m => ParamList.FirstOrDefault().DESCRIPTION)</th>
                            <th class="xl-only">@Html.LabelFor(m => ParamList.FirstOrDefault().FULL_DESCRIPTION)</th>
                            <th>@Html.LabelFor(m => ParamList.FirstOrDefault().PARAM_TYPE)</th>
                            <th>@Html.LabelFor(m => ParamList.FirstOrDefault().REGEXP)</th>
                            <th>Use</th>
                            <th>Value</th>
                        </tr>
                        @{ int j = 0; }
                        @foreach (var item in ParamList.OrderBy(x => x.DESCRIPTION))
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => item.DESCRIPTION)</td>
                                <td class="xl-only">@Html.DisplayFor(m => item.FULL_DESCRIPTION)</td>
                                <td>@Html.DisplayFor(m => item.PARAM_TYPE)</td>
                                <td>@Html.DisplayFor(m => item.REGEXP)</td>
                                <td>
                                    <input type="checkbox" name="Parameters[@j].InUse" value="true" class="form-check" 
                                           @if (Model.TASK_PARAM != null && Model.TASK_PARAM.Select(x => x.TASK_PARAM_DEFINITION_ID).Contains(item.ID)) { <text>checked</text> }
                                           />
                                </td>
                                <td>
                                    <input type="hidden" name="Parameters[@j].ParamDefID" value="@item.ID" />
                                    @if (item.PARAM_TYPE.Equals("R") || item.PARAM_TYPE.Equals("A")) // regexp / anything
                                    {
                                        <input type="text" name="Parameters[@j].ParamValue" class="form-control"
                                               value="@if (Model.TASK_PARAM != null && Model.TASK_PARAM.Select(x => x.TASK_PARAM_DEFINITION_ID).Contains(item.ID)) {<text>@Model.TASK_PARAM.Where(x => x.TASK_PARAM_DEFINITION_ID == item.ID).First().VALUE</text>}" />
                                    }
                                    else if (item.PARAM_TYPE.Equals("S")) // strict
                                    {
                                        <select name="Parameters[@j].ParamValue" class="form-control">
                                            @foreach (var val in item.TASK_PARAM_VALUE_LIST.OrderBy(v => v.VALUE))
                                            {
                                                <option value="@val.VALUE" 
                                                        @if (Model.TASK_PARAM != null
                                                            && Model.TASK_PARAM.Select(x => x.TASK_PARAM_DEFINITION_ID).Contains(item.ID)
                                                            && Model.TASK_PARAM.Where(x => x.TASK_PARAM_DEFINITION_ID == item.ID).First().VALUE.Equals(val.VALUE))
                                                        {<text>selected</text>}>
                                                    @val.VALUE
                                                </option>
                                            }
                                        </select>
                                    }
                                </td>
                            </tr>
                            j++;
                        }
                    </table>
                </div>

                <div class="form-group">
                    <button name="submitBtn" type="submit" value="Prev" class="btn btn-secondary">Back</button>
                    <button name="submitBtn" type="submit" value="Next" class="btn btn-primary">Next</button>
                    <button name="submitBtn" type="submit" value="Summary" class="btn btn-secondary">Summary</button>
                    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
}