﻿@model CRM_BTM.Models.TASKS
@using System.Diagnostics

@{
    ViewBag.Title = "Create task";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
<div class="">
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    if (Model != null)
    {
        if (Model.PRODUCT != null)
        {
            for (int i = 0; i < Model.PRODUCT.Count; i++)
            {
                Debug.WriteLine("Display Hidden");
                <text>@Html.Hidden("PRODUCT[" + i + "].ID", Model.PRODUCT.ElementAt(i).ID)</text>
            }
        }
        if (Model.TASK_PARAM != null)
        {
            for (int i = 0; i < Model.TASK_PARAM.Count; i++)
            {
                Debug.WriteLine("Display Hidden param");
                <text>@Html.Hidden("TASK_PARAM[" + i + "].TASK_PARAM_DEFINITION_ID", Model.TASK_PARAM.ElementAt(i).TASK_PARAM_DEFINITION_ID)</text>
                <text>@Html.Hidden("TASK_PARAM[" + i + "].VALUE", Model.TASK_PARAM.ElementAt(i).VALUE)</text>
            }
        }
    }

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step step-active"><p>Basic info</p></li>
                    <li class="step"><p>Products</p></li>
                    <li class="step"><p>Parameters</p></li>
                    <li class="step"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">

                <div class="form-horizontal col-12">
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_TYPE_ID, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="border-fix d-inline-block">
                                    @Html.DropDownList("TASK_TYPE_ID", null, htmlAttributes: new { @class = "form-control selectpicker" })
                                    @Html.ValidationMessageFor(model => model.TASK_TYPE_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_SUBTYPE_ID, "Subtype", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="border-fix d-inline-block">
                                    @Html.DropDownList("TASK_SUBTYPE_ID", null, htmlAttributes: new { @class = "form-control selectpicker" })
                                    @Html.ValidationMessageFor(model => model.TASK_SUBTYPE_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.QUEUE_ID, "Queue", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="border-fix d-inline-block">
                                    @Html.DropDownList("QUEUE_ID", null, htmlAttributes: new { @class = "form-control selectpicker" })
                                    @Html.ValidationMessageFor(model => model.QUEUE_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.ACCOUNT_ID, "Account", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="border-fix d-inline-block">
                                    @if ((bool)ViewBag.DisableAccount)
                                    {
                                        @Html.Hidden("ACCOUNT_ID", (long)ViewBag.SetAccountId)
                                        @Html.DropDownList("ACCOUNT_ID", null, htmlAttributes: new { @class = "form-control selectpicker", disabled = "disabled" })
                                    }
                                    else
                                    {
                                        @Html.DropDownList("ACCOUNT_ID", null, htmlAttributes: new { @class = "form-control selectpicker" })
                                    }
                                    @Html.ValidationMessageFor(model => model.ACCOUNT_ID, "", new { @class = "text-danger" })
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <button name="submitBtn" type="submit" value="Next" class="btn btn-primary">Next</button>
                        <button name="submitBtn" type="submit" value="Summary" class="btn btn-secondary">Summary</button>
                        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
                    </div>
                </div>
            </div>
        </div>
    </div>
}