﻿@model CRM_BTM.Models.TASKS
@using System.Diagnostics

@{
    ViewBag.Title = "Deactivation summary";
}



@using (Html.BeginForm())
{
    <hr />
    <div class="">
        <button name="submitBtn" type="submit" value="ToClient" class="btn btn-secondary">Back to client</button>
    </div>
    <hr />

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.QUEUE_ID);
    @Html.HiddenFor(m => m.TASK_TYPE_ID);
    @Html.HiddenFor(m => m.TASK_SUBTYPE_ID);
    @Html.HiddenFor(m => m.ACCOUNT_ID);

    if (Model.PRODUCT != null)
    {
        for (int i = 0; i < Model.PRODUCT.Count; i++)
        {
            Debug.WriteLine("Display Hidden");
            <text>@Html.Hidden("PRODUCT[" + i + "].ID", Model.PRODUCT.ElementAt(i).ID)</text>
        }
    }

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Client overview</p></li>
                    <li class="step"><p>Products</p></li>
                    <li class="step step-active"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">
                <div class="form-horizontal col-12">
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_TYPE.NAME, "Type", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@ViewBag.TypeName</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_SUBTYPE.NAME, "Subtype", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@ViewBag.SubtypeName</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.QUEUE.NAME, "Queue", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@ViewBag.QueueName</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.ACCOUNT.ID, "Account ID", htmlAttributes: new { @class = "control-label col-md-2" })
                            <div class="col-md-10">
                                <div class="d-inline-block">
                                    <span class="value-field">@Model.ACCOUNT_ID</span>
                                </div>
                            </div>
                        </div>
                    </div>

                    <hr />
                    <h2>Products</h2>
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <tr>
                            <th>ID</th>
                            <th>Category</th>
                            <th>Definition</th>
                            <th>Status</th>
                        </tr>
                        @foreach (var prod in (List<CRM_BTM.Models.PRODUCT>)ViewBag.LinkedProducts)
                        {
                            <tr>
                                <td>@prod.ID</td>
                                <td>@prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION</td>
                                <td>@prod.PRODUCT_DEFINITION.DESCRIPTION</td>
                                <td>@prod.PRODUCT_STATUS.NAME</td>
                            </tr>
                        }
                    </table>


                    <div class="form-group">
                        <button name="submitBtn" type="submit" value="ToClient" class="btn btn-secondary">Back to client</button>
                        <button name="submitBtn" type="submit" value="Prev" class="btn btn-secondary">Back</button>
                        <button name="submitBtn" type="submit" value="Next" class="btn btn-danger" onclick="return confirm('Deactivation will be executed in next Job Machine interval.\n \nAre you sure you wish to deactivate products?') ">Deactivate!</button>

                    </div>
                </div>
            </div>
        </div>
    </div>
}