﻿@model CRM_BTM.Models.TASKS
@using System.Diagnostics

@{
    ViewBag.Title = "Choose products to deactivate";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>



@using (Html.BeginForm())
{
    <hr />
    <div class="">
        <button name="submitBtn" type="submit" value="Prev" class="btn btn-primary">Back to client</button>
    </div>
    <hr />

    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.QUEUE_ID);
    @Html.HiddenFor(m => m.TASK_TYPE_ID);
    @Html.HiddenFor(m => m.TASK_SUBTYPE_ID);
    @Html.HiddenFor(m => m.ACCOUNT_ID);

    if (Model.TASK_PARAM != null)
    {
        for (int i = 0; i < Model.TASK_PARAM.Count; i++)
        {
            Debug.WriteLine("Display Hidden param");
            <text>@Html.Hidden("TASK_PARAM[" + i + "].TASK_PARAM_DEFINITION_ID", Model.TASK_PARAM.ElementAt(i).TASK_PARAM_DEFINITION_ID)</text>
            <text>@Html.Hidden("TASK_PARAM[" + i + "].VALUE", Model.TASK_PARAM.ElementAt(i).VALUE)</text>
        }
    }

    var ProductList = (List<CRM_BTM.Models.PRODUCT>)ViewBag.AccountProducts;

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Client overview</p></li>
                    <li class="step step-active"><p>Products</p></li>
                    <li class="step"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">
                <div class="form-horizontal col-12 maxh-overflow">
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <tr>
                            <th>@Html.LabelFor(m => ProductList.FirstOrDefault().ID)</th>
                            <th class="xl-only">@Html.LabelFor(m => ProductList.FirstOrDefault().PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION)</th>
                            <th>@Html.LabelFor(m => ProductList.FirstOrDefault().PRODUCT_DEFINITION.DESCRIPTION)</th>
                            <th class="xl-only">@Html.LabelFor(m => ProductList.FirstOrDefault().PRODUCT_STATUS.NAME)</th>
                            <th class="xl-only">@Html.LabelFor(m => ProductList.FirstOrDefault().ACTIVATION_DATE)</th>
                            <th>Link</th>
                        </tr>
                        @foreach (var item in ProductList.OrderBy(x => x.PRODUCT_STATUS.NAME).ThenBy(x => x.PRODUCT_DEFINITION.DESCRIPTION))
                        {
                            <tr>
                                <td>@item.ID</td>
                                <td class="xl-only">@Html.DisplayFor(m => item.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION)</td>
                                <td>@Html.DisplayFor(m => item.PRODUCT_DEFINITION.DESCRIPTION)</td>
                                <td class="xl-only">@Html.DisplayFor(m => item.PRODUCT_STATUS.NAME)</td>
                                <td class="xl-only">@Html.DisplayFor(m => item.ACTIVATION_DATE)</td>
                                <td>
                                    <input type="checkbox"
                                           name="LinkedProducts"
                                           value="@item.ID"
                                           @if (Model.PRODUCT != null) { foreach (var pr in Model.PRODUCT) { if (pr != null) { if (pr.ID == item.ID) { <text> checked </text> } } } } />
                                </td>
                            </tr>
                        }
                    </table>
                </div>

                <div class="form-group">
                    <button name="submitBtn" type="submit" value="Prev" class="btn btn-secondary">Back to client</button>
                    <button name="submitBtn" type="submit" value="Next" class="btn btn-primary">Next</button>
                </div>
            </div>
        </div>
    </div>
}