﻿@model CRM_BTM.Models.TASKS
@using CRM_BTM.Models;

@{
    ViewBag.Title = "Details - task #" + Model.ID;
}

<dl id="taskDates" class="card bg-light">
    <h6 class="card-header">Task dates</h6>
    <div class="card-body">
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.CREATION_DATE)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.CREATION_DATE)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.CLOSE_DATE) </dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.CLOSE_DATE)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.DUE_DATE)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.DUE_DATE)&nbsp;</dd>
        </div>
    </div>
</dl>

<dl id="taskCustomer" class="card bg-light">
    <h6 class="card-header">Customer</h6>
    <div class="card-body">
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.ACCOUNT.ID)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.ACCOUNT.ID)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.ACCOUNT.CLIENT_ID)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.ACCOUNT.CLIENT_ID)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.ACCOUNT.CLIENT.fullName)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.ACCOUNT.CLIENT.fullName)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.ACCOUNT.BILLING_DAY) </dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.ACCOUNT.BILLING_DAY)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.ACCOUNT.ADDRESS.FullAddress)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.ACCOUNT.ADDRESS.FullAddress)&nbsp;</dd>
        </div>
    </div>
</dl>

<dl id="taskStatus" class="card bg-light">
    <h6 class="card-header">Status</h6>
    <div class="card-body">
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.TASK_TYPE.NAME)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.TASK_TYPE.NAME)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.TASK_SUBTYPE.NAME)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.TASK_SUBTYPE.NAME)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.TASK_STATUS.NAME)</dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.TASK_STATUS.NAME)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.QUEUE.NAME) </dt>
            <dd class="col-10 offset-1 col-sm-7 value-field text-nowrap">@Html.DisplayFor(model => model.QUEUE.NAME)&nbsp;</dd>
        </div>
        <div class="row p-1">
            <dt class="col-10 col-sm-4">@Html.DisplayNameFor(model => model.BASKET.NAME)</dt>
            <dd class="col-5 offset-1 col-sm-4 value-field text-nowrap">@Html.DisplayFor(model => model.BASKET.NAME)&nbsp;</dd>
            <dd class="col-5 offset-0 col-sm-3 value-field text-nowrap">@Html.DisplayFor(model => model.BASKET.CRM_USER.IDENTITY_ID)&nbsp;</dd>
        </div>
    </div>
</dl>

<dl id="taskMovements" class="card bg-light">
    <h6 class="card-header">Movements</h6>
    <div class="card-body">
        <table class="table table-light small table-xs table-responsive table-striped table-bordered overflow-auto" style="max-height: 200px;">
            <tr>
                <th class="col">
                    @Html.DisplayNameFor(model => model.TASK_MOVEMENT_HISTORY.FirstOrDefault().MOVE_DATE)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.TASK_MOVEMENT_HISTORY.FirstOrDefault().QUEUE.NAME)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.TASK_MOVEMENT_HISTORY.FirstOrDefault().BASKET.NAME)
                </th>
            </tr>
            @foreach (TASK_MOVEMENT_HISTORY mov in Model.TASK_MOVEMENT_HISTORY.OrderByDescending(m => m.MOVE_DATE))
            {
                <tr>
                    <td>@mov.MOVE_DATE</td>
                    <td>@(mov.QUEUE != null ? mov.QUEUE.NAME : "")</td>
                    <td>@(mov.BASKET != null ? mov.BASKET.NAME : "")</td>
                </tr>
            }

        </table>
    </div>
</dl>

<dl id="taskParameters" class="card bg-light">
    <h6 class="card-header">Parameters</h6>
    <div class="card-body" style="max-height: 80%">
        <table class="table table-light small table-xs table-responsive table-striped table-bordered">
            <tr>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.TASK_PARAM.FirstOrDefault().TASK_PARAM_DEFINITION.ID)
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.TASK_PARAM.FirstOrDefault().TASK_PARAM_DEFINITION.PARAM_TYPE)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.TASK_PARAM.FirstOrDefault().TASK_PARAM_DEFINITION.DESCRIPTION)
                </th>
                <th class="col-2">
                    @Html.DisplayNameFor(model => model.TASK_PARAM.FirstOrDefault().VALUE)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.TASK_PARAM.FirstOrDefault().TASK_PARAM_DEFINITION.FULL_DESCRIPTION)
                </th>
            </tr>
            @foreach (TASK_PARAM param in Model.TASK_PARAM.OrderBy(m => m.TASK_PARAM_DEFINITION.DESCRIPTION))
            {
                <tr>
                    <td>@param.TASK_PARAM_DEFINITION.ID</td>
                    <td>@param.TASK_PARAM_DEFINITION.PARAM_TYPE</td>
                    <td>@param.TASK_PARAM_DEFINITION.DESCRIPTION</td>
                    <td><strong>@param.VALUE</strong></td>
                    <td>@param.TASK_PARAM_DEFINITION.FULL_DESCRIPTION</td>
                </tr>
            }

        </table>
    </div>
</dl>

<dl id="taskProducts" class="card bg-light">
    <h6 class="card-header">Linked products</h6>
    <div class="card-body" style="max-height: 80%">
        <table class="table table-light small table-xs table-responsive table-striped table-bordered">
            <tr>
                <th class="col">
                    @Html.DisplayNameFor(model => model.PRODUCT.FirstOrDefault().ID)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.PRODUCT.FirstOrDefault().PRODUCT_STATUS.NAME)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.PRODUCT.FirstOrDefault().PRODUCT_DEFINITION.DESCRIPTION)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.PRODUCT.FirstOrDefault().TECHNOLOGY.DESCRIPTION)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.PRODUCT.FirstOrDefault().ACTIVATION_DATE)
                </th>
                <th class="col">
                    @Html.DisplayNameFor(model => model.PRODUCT.FirstOrDefault().DEACTIVATION_DATE)
                </th>
            </tr>
            @foreach (PRODUCT prod in Model.PRODUCT.OrderByDescending(m => m.DEACTIVATION_DATE).ThenByDescending(m => m.ACTIVATION_DATE))
            {
                <tr>
                    <td>@prod.ID</td>
                    <td>@prod.PRODUCT_STATUS.NAME</td>
                    <td>@prod.PRODUCT_DEFINITION.DESCRIPTION</td>
                    <td>@(prod.TECHNOLOGY != null ? prod.TECHNOLOGY.DESCRIPTION : "")</td>
                    <td>@prod.ACTIVATION_DATE</td>
                    <td>@prod.DEACTIVATION_DATE</td>
                </tr>
            }

        </table>
    </div>
</dl>

<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
