﻿@model CRM_BTM.Models.TASKS

@{
    ViewBag.Title = "Edit task";
}

<hr />
@Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-secondary" })
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.ACCOUNT_ID)
    @Html.HiddenFor(model => model.TASK_TYPE_ID)
    @Html.HiddenFor(model => model.TASK_SUBTYPE_ID)
    @Html.HiddenFor(model => model.CREATION_DATE)
    @Html.HiddenFor(model => model.CLOSE_DATE)
    @Html.HiddenFor(model => model.USER_ID_AUTHOR)
    @Html.HiddenFor(model => model.PARENT_TASK_ID)
    @Html.HiddenFor(model => model.CLOSER_ID)

    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">

        <div class="col-12 col-lg-6 p-3">
            <div class="card">
                <div class="card-header">
                    <span>Basic attributes</span>
                </div>
                <div class="card-body row">
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.ACCOUNT_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <span class="form-control disabled">@Model.ACCOUNT_ID</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_STATUS.NAME, "Status", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("TASK_STATUS_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.TASK_STATUS_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.DUE_DATE, "Due date", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.EditorFor(model => model.DUE_DATE, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.DUE_DATE, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_TYPE.NAME, "Type", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <span class="form-control disabled">@Model.TASK_TYPE.NAME</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.TASK_SUBTYPE.NAME, "Subtype", htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                <span class="form-control disabled">@Model.TASK_SUBTYPE.NAME</span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.QUEUE.NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                            <div class="col-md-9">
                                @Html.DropDownList("QUEUE_ID", null, htmlAttributes: new { @class = "form-control" })
                                @Html.ValidationMessageFor(model => model.QUEUE_ID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        @{ var ProductList = (List<CRM_BTM.Models.PRODUCT>)ViewBag.LinkedProducts; }

        <div class="col-12 p-3">
            <div class="card">
                <div class="card-header">
                    <span>Products</span>
                </div>
                <div class="card-body row">
                    <div class="form-horizontal col-12 maxh-overflow">
                        <table class="table table-sm table-striped table-hover table-bordered">
                            <tr>
                                <th>@Html.LabelFor(m => ProductList.FirstOrDefault().ID)</th>
                                <th class="xl-only">@Html.LabelFor(m => ProductList.FirstOrDefault().PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION)</th>
                                <th>@Html.LabelFor(m => ProductList.FirstOrDefault().PRODUCT_DEFINITION.DESCRIPTION)</th>
                                <th class="xl-only">@Html.LabelFor(m => ProductList.FirstOrDefault().PRODUCT_STATUS.NAME)</th>
                                <th class="xl-only">@Html.LabelFor(m => ProductList.FirstOrDefault().ACTIVATION_DATE)</th>
                                <th>Link</th>
                            </tr>
                            @foreach (var item in ProductList.OrderBy(x => x.PRODUCT_STATUS.NAME).ThenBy(x => x.PRODUCT_DEFINITION.DESCRIPTION))
                            {
                                <tr>
                                    <td>@item.ID</td>
                                    <td class="xl-only">@Html.DisplayFor(m => item.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION)</td>
                                    <td>@Html.DisplayFor(m => item.PRODUCT_DEFINITION.DESCRIPTION)</td>
                                    <td class="xl-only">@Html.DisplayFor(m => item.PRODUCT_STATUS.NAME)</td>
                                    <td class="xl-only">@Html.DisplayFor(m => item.ACTIVATION_DATE)</td>
                                    <td>
                                        <input type="checkbox"
                                               name="LinkedProducts"
                                               value="@item.ID"
                                               @foreach (var pr in Model.PRODUCT) { if (pr != null) { if (pr.ID == item.ID) { <text> checked </text> } } } />
                                    </td>
                                </tr>
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

        @{ var ParamList = (List<CRM_BTM.Models.TASK_PARAM_DEFINITION>)ViewBag.ParamDef; }

        <div class="col-12 p-3">
            <div class="card">
                <div class="card-header">
                    <span>Parameters</span>
                </div>
                <div class="card-body row">
                    <div class="form-horizontal col-12 maxh-overflow">
                        <table class="table table-sm table-striped table-hover table-bordered">
                            <tr>
                                <th>@Html.LabelFor(m => ParamList.FirstOrDefault().DESCRIPTION)</th>
                                <th class="xl-only">@Html.LabelFor(m => ParamList.FirstOrDefault().FULL_DESCRIPTION)</th>
                                <th>@Html.LabelFor(m => ParamList.FirstOrDefault().PARAM_TYPE)</th>
                                <th>@Html.LabelFor(m => ParamList.FirstOrDefault().REGEXP)</th>
                                <th>Use</th>
                                <th>Value</th>
                            </tr>
                            @{ int j = 0; }
                            @foreach (var item in ParamList.OrderBy(x => x.DESCRIPTION))
                            {
                                <tr>
                                    <td>@Html.DisplayFor(m => item.DESCRIPTION)</td>
                                    <td class="xl-only">@Html.DisplayFor(m => item.FULL_DESCRIPTION)</td>
                                    <td>@Html.DisplayFor(m => item.PARAM_TYPE)</td>
                                    <td>@Html.DisplayFor(m => item.REGEXP)</td>
                                    <td>
                                        <input type="checkbox" name="Parameters[@j].InUse" value="true" class="form-check"
                                               @if (Model.TASK_PARAM != null && Model.TASK_PARAM.Select(x => x.TASK_PARAM_DEFINITION_ID).Contains(item.ID)) { <text> checked</text> } />
                                    </td>
                                    <td>
                                        <input type="hidden" name="Parameters[@j].ParamDefID" value="@item.ID" />
                                        @if (item.PARAM_TYPE.Equals("R") || item.PARAM_TYPE.Equals("A")) // regexp / anything
                                        {
                                            <input type="text" name="Parameters[@j].ParamValue" class="form-control"
                                                   value="@if (Model.TASK_PARAM != null && Model.TASK_PARAM.Select(x => x.TASK_PARAM_DEFINITION_ID).Contains(item.ID)) {<text>@Model.TASK_PARAM.Where(x => x.TASK_PARAM_DEFINITION_ID == item.ID).First().VALUE</text>}" />
                                        }
                                        else if (item.PARAM_TYPE.Equals("S")) // strict
                                        {
                                            <select name="Parameters[@j].ParamValue" class="form-control">
                                                @foreach (var val in item.TASK_PARAM_VALUE_LIST.OrderBy(v => v.VALUE))
                                                {
                                                    <option value="@val.VALUE"
                                                            @if (Model.TASK_PARAM != null && Model.TASK_PARAM.Select(x => x.TASK_PARAM_DEFINITION_ID).Contains(item.ID) && Model.TASK_PARAM.Where(x => x.TASK_PARAM_DEFINITION_ID == item.ID).First().VALUE.Equals(val.VALUE)) { <text> selected</text>}>
                                                        @val.VALUE
                                                    </option>
                                                }
                                            </select>
                                        }
                                    </td>
                                </tr>
                                j++;
                            }
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to List", "Index", null, htmlAttributes: new { @class = "btn btn-secondary" })
        </div>
    </div>
}