﻿@model IEnumerable<CRM_BTM.Models.TASKS>

@{
    ViewBag.Title = "Tasks";
}

<div class="alert alert-success" id="success-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <span></span>
</div>
<div class="alert alert-danger" id="error-alert">
    <button type="button" class="close" data-dismiss="alert">x</button>
    <span></span>
</div>

@using (Html.BeginForm("Index", "Tasks", FormMethod.Post, new { @id = "filterSortForm" }))
{
    long? crmUserId = ViewBag.crmUserId;

    <table class="table table-bordered table-striped small table-responsive table-sm">
        <tr>
            <th><h6>@Html.DisplayNameFor(model => model.ID)</h6></th>
            <th><h6>@Html.DisplayNameFor(model => model.TASK_TYPE.NAME)</h6></th>
            <th><h6>@Html.DisplayNameFor(model => model.TASK_SUBTYPE.NAME)</h6></th>
            <th><h6>@Html.DisplayNameFor(model => model.TASK_STATUS.NAME)</h6></th>
            <th><h6>@Html.DisplayNameFor(model => model.ACCOUNT.ID)</h6></th>
            <th><h6>@Html.DisplayNameFor(model => model.ACCOUNT.CLIENT_ID)</h6></th>
            <th class="xl-only"><h6>@Html.DisplayNameFor(model => model.ACCOUNT.CLIENT.fullName)</h6></th>
            <th class="xl-only"><h6>@Html.DisplayNameFor(model => model.QUEUE.NAME)</h6></th>
            <th class="xl-only"><h6>@Html.DisplayName("Basket owner")</h6></th>
            <th class="xl-only"><h6>@Html.DisplayNameFor(model => model.BASKET.NAME)</h6></th>
            <th class="xl-only"><h6>@Html.DisplayNameFor(model => model.CREATION_DATE)</h6></th>
            <th class="xl-only"><h6>@Html.DisplayNameFor(model => model.DUE_DATE)</h6></th>
            <th class="xl-only"><h6>@Html.DisplayNameFor(model => model.PARENT_TASK_ID)</h6></th>
            <th>Actions</th>
        </tr>
        <tr>
            <th>
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('id_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('id_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th>
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('type_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('type_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th>
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('subtype_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('subtype_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th>
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('sts_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('sts_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th></th>
            <th></th>
            <th class="xl-only"></th>
            <th class="xl-only">
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('bask_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('bask_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th class="xl-only">
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('bask_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('bask_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th class="xl-only">
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('bask_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('bask_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th class="xl-only">
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('crea_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('crea_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th class="xl-only">
                <div class="text-nowrap small">
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('due_asc'); $('#filterSortForm').submit();">&#9650;</p>
                    <p class="btn btn-outline-secondary btn-sm" onclick="$('#sortOrder').val('due_desc'); $('#filterSortForm').submit();">&#9660;</p>
                </div>
            </th>
            <th></th>
            <th>
                <input type="checkbox" id="s_my_task" name="s_my_task"
                       @{ if ((String)@ViewBag.onlyMyTsk != "False") { <text> checked </text>  } else { <text> </text>  } }>  Only tasks in my baskets
            </th>
        </tr>

        @Html.Hidden("sortOrder", Request.Params["sortOrder"])
        <tr>
            <th>@Html.TextBox("s_id", Request.Params["s_id"], new { @class = "w-100 form-control" })</th>
            <th>@Html.DropDownList("s_type", (IEnumerable<SelectListItem>)ViewBag.taskTypes, string.Empty, new { @class = "w-100 form-control" })</th>
            <th>@Html.DropDownList("s_stype", (IEnumerable<SelectListItem>)ViewBag.taskSubTypes, string.Empty, new { @class = "w-100 form-control" })</th>
            <th>@Html.DropDownList("s_sts", (IEnumerable<SelectListItem>)ViewBag.taskStatuses, string.Empty, new { @class = "w-100 form-control" })</th>
            <th>@Html.TextBox("s_accoid", Request.Params["s_accoid"], new { @class = "w-100 form-control" })</th>
            <th>@Html.TextBox("s_clid", Request.Params["s_clid"], new { @class = "w-100 form-control" })</th>
            <th class="xl-only">@Html.TextBox("s_clname", Request.Params["s_clname"], new { @class = "w-100 form-control" })</th>
            <th class="xl-only">@Html.DropDownList("s_queue", (IEnumerable<SelectListItem>)ViewBag.queueList, string.Empty, new { @class = "w-100 form-control" })</th>
            <th class="xl-only">@Html.TextBox("s_identity", Request.Params["s_identity"], new {​​​​ @class = "w-100 form-control" }​​​​)</th>
            <th class="xl-only">@Html.TextBox("s_basket", Request.Params["s_basket"], new { @class = "w-100 form-control" })</th>
            <th class="xl-only"></th>
            <th class="xl-only"></th>
            <th class="xl-only"></th>
            <th class="text-nowrap">
                <input type="submit" value="Search" class="btn btn-primary btn-sm" />
                @Html.ActionLink("Reset", "Index", null, new { @class = "btn btn-secondary btn-sm" })
            </th>
        </tr>

        @foreach (var item in Model)
        {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.TASK_TYPE.NAME)</td>
            <td>@Html.DisplayFor(modelItem => item.TASK_SUBTYPE.NAME)</td>
            <td>@Html.DisplayFor(modelItem => item.TASK_STATUS.NAME)</td>
            <td>@Html.DisplayFor(modelItem => item.ACCOUNT.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.ACCOUNT.CLIENT.ID)</td>
            <td class="xl-only">@Html.DisplayFor(modelItem => item.ACCOUNT.CLIENT.fullName)</td>
            <td class="xl-only">@Html.DisplayFor(modelItem => item.QUEUE.NAME)</td>
            <td class="xl-only">@Html.DisplayFor(modelItem => item.BASKET.CRM_USER.IDENTITY_ID)</td>
            <td class="xl-only">@Html.DisplayFor(modelItem => item.BASKET.NAME)</td>
            <td class="xl-only">@Html.DisplayFor(modelItem => item.CREATION_DATE)</td>
            <td class="xl-only">@Html.DisplayFor(modelItem => item.DUE_DATE)</td>
            <td class="xl-only">@Html.DisplayFor(modelItem => item.PARENT_TASK_ID)</td>
            <td>
                @if (crmUserId == null || item.BASKET == null || item.BASKET.USER_ID != crmUserId)
                {
                    <input name="pick_release_button" id="@item.ID" type="button" value="Pick" class="btn btn-outline-secondary btn-sm">
                }
                else
                {
                    <input name="pick_release_button" id="@item.ID" type="button" value="Release" class="btn btn-outline-info btn-sm">
                }
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary btn-sm" })
            </td>
        </tr>
        }

    </table>
}

<script>
    $(function () {
        $("input[name='pick_release_button']").click(function () {
            var btn = $(this);
            $.ajax({
                type: 'POST',
                url: '/Tasks/PickReleaseTask',
                data: { tskId: this.id, a: this.value },
                success: function (result) {
                    console.log("success");
                    console.log(btn.attr("value"));
                    switch (btn.attr("value")) {
                        case 'Release':
                            btn.attr("value", "Pick");
                            btn.attr("class", "btn btn-outline-secondary btn-sm");
                            $("#success-alert").find("span").text("Success. This is not longer your task.");
                            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                                $("#success-alert").slideUp(500);
                            });
                            break;
                        case 'Pick':
                            btn.attr("value", "Release");
                            btn.attr("class", "btn btn-outline-info btn-sm");
                            $("#success-alert").find("span").text("Success. This task is now in your default basket.");
                            $("#success-alert").fadeTo(2000, 500).slideUp(500, function () {
                                $("#success-alert").slideUp(500);
                            });
                            break;
                    }
                },
                error: function (jqXHR, textStatus, errorThrown) {
                    console.log("error");
                    var errAlertJQ = $("#error-alert");
                    $("#error-alert").fadeTo(2000, 500).slideUp(500, function () {
                        $("#error-alert").slideUp(500);
                    });
                    $("#error-alert").find("span").text(errorThrown);
                }

            });

        })
    });

    $(document).ready(function () {
        $("#success-alert").hide();
        $("#error-alert").hide();
    });
</script>