﻿@model CRM_BTM.Models.ViewModels.NewClientProcessModel
@{
    ViewBag.Title = "Additional info";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
@Html.ActionLink("Start over", "Index", null, htmlAttributes: new { @class = "btn btn-secondary" })
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.BuildingID)
    @Html.HiddenFor(m => m.OfferOptionID)

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Pick address</p></li>
                    <li class="step"><p>Select Offer</p></li>
                    <li class="step step-active"><p>Client info</p></li>
                    <li class="step"><p>Billing address</p></li>
                    <li class="step"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ClientName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Lastname", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ClientLastname, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientLastname, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("PESEL", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ClientPESEL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientPESEL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("NIP", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ClientNIP, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.ClientNIP, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Segment", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("SegmentID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.SegmentID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("E-mail", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("1st Phone", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PhonePrimary, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhonePrimary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("2nd Phone", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PhoneSecondary, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PhoneSecondary, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Billing day", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BillingDay, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.BillingDay, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Division", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DropDownList("DivisionID", null, htmlAttributes: new { @class = "form-control" })
                            @Html.ValidationMessageFor(model => model.DivisionID, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Installation flat", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.InstallationFlat, new { htmlAttributes = new { @class = "form-control", @checked = "checked" } })
                            @Html.ValidationMessageFor(model => model.InstallationFlat, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Billing address from installation", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.BillingAddressFromInstallation, new { htmlAttributes = new { @class = "form-control", @checked = "checked" } })
                            @Html.ValidationMessageFor(model => model.BillingAddressFromInstallation, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <input type="submit" value="Next" class="btn btn-primary" />
                    @Html.ActionLink("Start over", "Index", null, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
}
