﻿@{
    ViewBag.Title = "New client process";
}

<div class="row">

    <div class="col-12 col-lg-4 p-3">
        <div class="card">
            <div class="card-header">
                <span>Privacy policy</span>
            </div>
            <div class="card-body row">
                <a href="#" target="_blank" class="w-100">
                    <img src="@Url.Content("~/Content/Images/002-information.png")" class="mx-auto d-block" />
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-4 p-3">
        <div class="card">
            <div class="card-header">
                <span>Get script</span>
            </div>
            <div class="card-body row">
                <a href="#" target="_blank" class="w-100">
                    <img src="@Url.Content("~/Content/Images/001-customer-service.png")" class="mx-auto d-block" />
                </a>
            </div>
        </div>
    </div>

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Guidelines</span>
            </div>
            <div class="card-body border-primary">
                <ul>
                    <li>Keep a pen and paper next to you.</li>
                    <li>Answer the phone in as few rings as possible.</li>
                    <li>Identify yourself and the company.</li>
                    <li>Ask the right questions.</li>
                    <li>Assume that someone from your organization is listening in on the conversation.</li>
                    <li>Ask before putting someone on hold and wait for his or her response.</li>
                    <li>Pay attention to your voice.</li>
                </ul>
                <p>Find full list <a href="https://www.wikihow.com/Speak-Professionally-on-the-Phone" target="_blank">here</a></p>
            </div>
        </div>
    </div>

    <div class="col-12">
        @Html.ActionLink("Start", "PreOffer", null, new { @class = "btn btn-primary btn-block" })
    </div>

</div>

