﻿@model IEnumerable<CRM_BTM.Models.CLIENT_SEARCH_V>
@{
    ViewBag.Title = "Client search";
}
<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>
<style>

    .my-custom-scrollbar {
        position: relative;
        height: 300px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>
@using (Html.BeginForm("Index", "ClientSearch", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Search criteria</span>
            </div>
            <div class="card-body row">
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Client #", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("clientId", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Client lastname", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("clientSurname", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Product #", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("productId", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Contract #", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("contractNumber", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("NIP", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("nipNumber", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("PESEL", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("peselNumber", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Invoice #", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("invoiceNumber", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("City", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="border-fix d-inline-block">
                                @Html.DropDownList("Cities", null, "City", new { @class = "form-control selectpicker" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Street", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("Street", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Building #", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("building", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 col-xl-6">
                    <div class="row">
                        @Html.Label("Flat", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.TextBox("flat", null, new { @class = "form-control" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <input type="submit" value="Search" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Results</span>
            </div>
            <div class="card-body row maxh-overflow">
                @if (Model == null)
                {
                    <i>Use search form above to see results.</i>
                }
                else if (Model.Count() == 0)
                {
                    <i>No clients match your criteria. Try widening your search.</i>
                }
                else
                {
                    var Comparer = (CRM_BTM.Models.Helpers.ClientSearchVEqualityComparer)ViewBag.ClientSearchVEqualityComparer;
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.First().ID)</th>
                            <th class="xl-only">@Html.DisplayNameFor(model => model.First().CONTRACT_NUMBER)</th>
                            <th>@Html.DisplayNameFor(model => model.First().NAME)</th>
                            <th>@Html.DisplayNameFor(model => model.First().LASTNAME)</th>
                            <th>@Html.DisplayNameFor(model => model.First().PESEL)</th>
                            <th>Actions</th>
                        </tr>
                        @foreach (var item in Model.Distinct(Comparer).OrderBy(m => m.LASTNAME))
                        {
                            var rows = Model.Where(x => x.ID == item.ID).ToList();
                            <tr>
                                <td>@Html.DisplayFor(modelItem => item.ID)</td>
                                <td class="xl-only">
                                    @foreach (var x in rows.Select(x => x.CONTRACT_NUMBER).Distinct())
                                    {
                                        <p class="value-field">@x</p> 
                                    }
                                </td>
                                <td>@Html.DisplayFor(modelItem => item.NAME)</td>
                                <td>@Html.DisplayFor(modelItem => item.LASTNAME)</td>
                                <td>@Html.DisplayFor(modelItem => item.PESEL)</td>
                                <td>@Html.ActionLink("Details", "Details", "Client", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })</td>
                            </tr>
                        }
                    </table>
                }
            </div>
        </div>
    </div>

}