﻿@model CRM_BTM.Models.MTM_OFFER_REQUIREMENT

<tr>
    @Html.HiddenFor(model => model.ID)
    @Html.HiddenFor(model => model.OFFER_OPTION_ID)
    @Html.HiddenFor(model => model.OFFER_DEFINITION_ID)
    <td>
        @{ 
            var sl = (SelectList)ViewBag.ReqDefinitions;
            foreach (var item in sl)
            {
                item.Selected = item.Value.Equals(Model.OFFER_REQUIREMENT_DEF_ID);
            }

        }
        @Html.DropDownListFor(
            m => m.OFFER_REQUIREMENT_DEF_ID,
            sl,
            htmlAttributes: new { @class = "form-control" })
    </td>
    <td>
        @Html.DropDownListFor(
            m => m.RELATION, 
            new SelectList(new List<SelectListItem>
                {
                new SelectListItem { Selected = Model.RELATION.Equals("<"), Text = "less than", Value = "<"},
                new SelectListItem { Selected = Model.RELATION.Equals(">"), Text = "greater than", Value = ">"},
                new SelectListItem { Selected = Model.RELATION.Equals("!"), Text = "not equal", Value = "!"},
                new SelectListItem { Selected = Model.RELATION.Equals("="), Text = "equals", Value = "="}
                },
                "Value",
                "Text"), 
            htmlAttributes: new { @class = "form-control" })
    </td>
    <td>
        @Html.EditorFor(m => m.VALUE, new { htmlAttributes = new { @class = "form-control d-inline-block" } })
    </td>
    <td>
        @Html.ActionLink("Delete", "DeleteOfferRequirement", new { id = Model.ID }, htmlAttributes: new { @class = "btn btn-outline-danger" })
    </td>
</tr>
