﻿@model IEnumerable<CRM_BTM.Models.INTERACT_INFO_V>

<style>
    .my-custom-scrollbar {
        position: relative;
        height: 600px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>


<div class="card bg-light">
    <div class="card-header">
        <div style="display: inline">Account interact info</div>
    </div>
    @if (Model.Count() > 0)
    {
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table id="demoGrid" class="table table-hover">
                        <thead>
                            <tr>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().INTERACT_ID)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().INTERACT_DATE)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().INTERACT_TYPE)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().INTERACT_MEDIUM)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().INTERACT_DIRECTION)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DESCRIPTION)</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TASKS_ID)</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                                <tr>
                                    <td>@Html.DisplayFor(modelItem => item.INTERACT_ID)</td>
                                    <td>@Html.DisplayFor(modelItem => item.INTERACT_DATE)</td>
                                    <td>@Html.DisplayFor(modelItem => item.INTERACT_TYPE)</td>
                                    <td>@Html.DisplayFor(modelItem => item.INTERACT_MEDIUM)</td>
                                    <td>@Html.DisplayFor(modelItem => item.INTERACT_DIRECTION)</td>
                                    <td class="small">@Html.DisplayFor(modelItem => item.DESCRIPTION)</td>
                                    <td>
                                        <a href="@(Url.Action("Details", "Tasks", new { id = item.TASKS_ID }))">@Html.DisplayFor(modelItem => item.TASKS_ID)</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
