﻿@model CRM_BTM.Models.ViewModels.AccountInformationViewModel

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<div class="card bg-light">
    <div class="card-header @(Model.InvoiceSummary.IsOverdue ? "bg-warning" : "")">
        <div>
            <div style="display: inline">Account information - @Model.Account.ID</div>
        </div>
    </div>
    <div class="card-body">
        <div class="col-12">
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ContractsModal">Contract</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#TasksModal">Tasks</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#InvoicesModal">Invoices</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#OffersModal">Offers</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#ProductsModal">Products</button>
            <button type="button" class="btn btn-info" data-toggle="modal" data-target="#InteractionsModal">Interactions</button>
            |
            @Html.ActionLink("Create task", "Create", "Tasks", new { id = Model.Account.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Create interaction", "Create", "Interact", new { id = Model.Account.ID }, new { @class = "btn btn-primary" })
            @Html.ActionLink("Edit billing address", "EditBillingAddress", "Client", new { id = Model.Account.ID }, new { @class = "btn btn-primary" })
            |
            @Html.ActionLink("Deactivate products", "DeactivateProducts", "Tasks", new { id = Model.Account.ID }, new { @class = "btn btn-danger" })

        </div>
        <hr />
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(m => m.InvoiceSummary.Balance, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.InvoiceSummary.Balance, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(m => m.InvoiceSummary.TOTAL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.InvoiceSummary.TOTAL, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row @(Model.InvoiceSummary.IsOverdue ? "bg-warning" : "")">
                @Html.LabelFor(m => m.InvoiceSummary.IsOverdue, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.InvoiceSummary.IsOverdue, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(m => m.InvoiceSummary.MIN_DUE_UNPAID, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.InvoiceSummary.MIN_DUE_UNPAID, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Installation address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @ViewBag.InstallationAddress.ToString()
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Billing address", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @ViewBag.BillingAddress.ToString()
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(m => m.Account.CREATION_DATE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Account.CREATION_DATE, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(m => m.Account.BILLING_DAY, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Account.BILLING_DAY, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(m => m.Account.DIVISION.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DisplayFor(m => m.Account.DIVISION.NAME, new { htmlAttributes = new { @class = "form-control" } })
                </div>
            </div>
        </div>
    </div>
</div>

<div id="ContractsModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-bodycontent">
                    @Html.Partial("Modals/ContractDetailsModal", Model.Account.CONTRACT)
                </div>
            </div>
        </div>
    </div>
</div>

<div id="TasksModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-bodycontent">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("button[data-target='#TasksModal']").click(function () {
        var BodyContent = $("#TasksModal").find(".modal-bodycontent");
        BodyContent.text("Loading...");
        BodyContent.load("/Client/AccountTasks/@Model.Account.ID", function () {
            BodyContent.find('#AccountTasksTable').DataTable();
        });
    });
</script>

<div id="InvoicesModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-bodycontent">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("button[data-target='#InvoicesModal']").click(function () {
        var BodyContent = $("#InvoicesModal").find(".modal-bodycontent");
        BodyContent.text("Loading...");
        BodyContent.load("/Client/AccountInvoices/@Model.Account.ID");
    });
</script>

<div id="OffersModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-bodycontent">
                    @Html.Partial("Modals/OffersModal", Model.Offers)
                </div>
            </div>
        </div>
    </div>
</div>

<div id="InteractionsModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-bodycontent">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("button[data-target='#InteractionsModal']").click(function () {
        var BodyContent = $("#InteractionsModal").find(".modal-bodycontent");
        BodyContent.text("Loading...");
        BodyContent.load("/Client/AccountInteractions/@Model.Account.ID", function () {
            BodyContent.find('#demoGrid').DataTable();
        });
    });
</script>

<div id="ProductsModal" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-xl" role="document">
        <div class="modal-content">
            <div class="modal-body">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="modal-bodycontent">
                    Loading...
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("button[data-target='#ProductsModal']").click(function () {
        var BodyContent = $("#ProductsModal").find(".modal-bodycontent");
        BodyContent.text("Loading...");
        BodyContent.load("/Client/AccountProducts/@Model.Account.ID", function () {
            BodyContent.find('#demoGrid').DataTable();
        });
    });
</script>