﻿@model CRM_BTM.Models.CLIENT


<div class="col-12">
    @Html.ActionLink("Edit", "Edit", "Client", new { id = Model.ID }, new { @class = "btn btn-primary m-1" })
    <hr />
</div>
<div class="col-12">
    <div class="row">
        @Html.LabelFor(model => model.ID, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.ID, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        @Html.LabelFor(model => model.LASTNAME, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.LASTNAME, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <label class="control-label col-md-3">PESEL / NIP</label>
        <div class="col-md-9">
            @Html.DisplayFor(model => model.PESEL, new { htmlAttributes = new { @class = "" } }) / @Html.DisplayFor(model => model.NIP, new { htmlAttributes = new { @class = "" } })
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        @Html.LabelFor(model => model.SEGMENT.NAME, htmlAttributes: new { @class = "col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.SEGMENT.NAME, new { htmlAttributes = new { @class = "" } })
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-3" })
        <div class="col-md-9">
            @Html.DisplayFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
        </div>
    </div>
</div>
<div class="col-12">
    <div class="row">
        <label class="control-label col-md-3">Phone numbers</label>
        <div class="col-md-9">
            @Model.PHONE_PRIMARY / @Model.PHONE_SECONDARY
        </div>
    </div>
</div>