﻿@model CRM_BTM.Models.ViewModels.InvoiceDetailsViewModel
<div class="p-4">
    <div class="border-dark col-12 overflow-auto">
        <table class="table table-xs table-borderless table-hover table-light text-wrap table-responsive-sm">
            <tr><th colspan="5"><h4>Invoice products</h4></th></tr>
            <tr>
                <th>Product ID</th>
                <th>Category</th>
                <th>Definition</th>
                <th>Current status</th>
                <th>Amount</th>
            </tr>
            @foreach (var item in Model.Products)
            {
                <tr>
                    <td>@item.PRODUCT_ID</td>
                    <td>@item.PRODUCT.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION</td>
                    <td>@item.PRODUCT.PRODUCT_DEFINITION.DESCRIPTION</td>
                    <td>@item.PRODUCT.PRODUCT_STATUS.NAME</td>
                    <td><strong>@item.AMOUNT</strong></td>
                </tr>
            }
            <tr><th colspan="5"><h4>Other items</h4></th></tr>
            <tr>
                <th>ID</th>
                <th colspan="3">Description</th>
                <th>Amount</th>
            </tr>
            @foreach (var item in Model.Others)
            {
                <tr>
                    <td>@item.ID</td>
                    <td colspan="3">@item.INVOICE_OTHER_ITEMS_DESC.DESCRIPTION</td>
                    <td><strong>@item.AMOUNT</strong></td>
                </tr>

            }
        </table>
        <hr />
        @Html.ActionLink("Resend", "ResendInvoice", "Invoice", new {​​​​ id = Model.InvoiceId }​​​​, new {​​​​ @class = "btn btn-outline-secondary", onclick = "return confirm('Are you sure you wish to resend invoice?') " }​​​​)

        @Html.ActionLink("Correct invoice", "CorrectInvoice", "Invoice", new { id = Model.InvoiceId  }, new { @class = "btn btn-outline-secondary", @role = "button" })
    </div>
</div>