﻿@model IEnumerable<CRM_BTM.Models.ADDRESS_BUILDING>

@foreach (var item in Model.OrderBy(x => x.POST_CODE).ThenBy(x => x.BUILDING_NUMBER))
{
<tr>
    <td>@item.POST_CODE</td>
    <td>@item.BUILDING_TYPE.DESCRIPTION</td>
    <td>@String.Join(", ", item.MTM_AVAIL_TECH_ON_BUILDING.Select(x => x.TECHNOLOGY.DESCRIPTION).ToList())</td>
    <td>@item.BUILDING_NUMBER</td>
    <td><button class="btn btn-primary" name="@ViewBag.FormName" value="@item.ID">Select</button></td>
</tr>
}