﻿body {
    padding-top: 1%;
    padding-bottom: 1%;
    background: url("Images/background.jpg");
    background-position-x: center;
    height: 98%;
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.loginform-wrapper {
    background: rgba(255, 255, 255, 0.94);
    padding: 20px;
    border-radius: 10px;
}

img#logo {
    width: 100%;
}