﻿body {
    padding-top: 1%;
    padding-bottom: 1%;
    background: url("Images/background.jpg") ;
    background-position-x: center;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.control-label {
    line-height: 2rem;
    margin-bottom: 0;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

dd {
    margin: 0;
}

.value-field {
    background-color: #dbf3f3;
    border-radius: 3px;
    color: darkslategray;
    border: 1px solid gray;
    min-width: 10px;
    word-wrap: break-word;
    margin-bottom: 2px;
    padding: 2px 5px;
    font-family:monospace;
}

.table-xs td, .table-xs th {
    padding: .1rem;
}

.pricingBullet {
    border-radius: 10px;
    padding: 5px 5px 5px 5px;
    text-align: center;
    display: inline-block;
}

.pricingBulletOOP {
    border: none !important;
    border-radius: 10px 0 0 10px;
    background-image: linear-gradient(to right, rgb(100, 100, 100), rgb(255, 255, 255));
}

.pricingBullet .pricingStart {
    color: yellow;
    float: left;
}

.pricingBullet .pricingEnd {
    color: yellow;
    float: right;
}

.pricingBullet .pricingPrice {
    color: white;
    font-weight: bold;
}

div#activityLogModal .modal-content {
    max-height: 80%;
    overflow: auto;
}

div#activityLogModal .modal-content {
    max-height: 80%;
    overflow: auto;
}

.activity-log-entries .card {
    border: 2px solid gray;
}

.activity-log-entries .actlog-type-added {
    background-color: rgb(230, 255, 230)
}
.activity-log-entries .actlog-type-modified {
    background-color: rgb(255, 255, 230)
}
.activity-log-entries .actlog-type-deleted {
    background-color: rgb(255, 230, 230)
}

aside {
    #background: lime;
    height: calc(100% - 30px);
    border: 3px;
    border-right-style: solid;
    border-color: #033639;
    overflow-y: scroll;
}

aside .logo {
    width: 100%;
    padding: 10%;
}

aside .logo img {
    width: 100%;
    padding: 10px;
}

.menu-item-main, .menu-item-level1 {
    background: #033639;
    color: #c7d1d0;
    border-radius: 5px;
    display: inline-block;
    text-align: left;
    margin-bottom: 1px;
    padding-top: 3px;
    padding-bottom: 3px;
}

.menu-item-main {
    font-weight: bold;
    margin-top: 10px;
}

.menu-item-main:hover {
    color: #c7d1d0;
    text-decoration: none;
}

.nav-line:after {
    position: absolute;
    left: 0;
    top: calc(50% + 3px);
    height: 3px;
    background: #033639;
    content: "";
    width: 100%;
    display: block;
}

.container header {
    #background: red;
    height: 80px;
    margin-bottom: 10px;
}

.container content {
    #background: blue;
    height: calc(100% - 90px);
    overflow: scroll;
}

.container footer {
    #background: yellow;
    height: 30px;
    border: 3px;
    border-top-style: solid;
    border-color: #033639;
}

html {
    height: 100%;
}

.content-title {
    margin: auto 0 0 0;
    text-transform: uppercase;
    font-family: "Bank Gothic Light BT", Consolas, 'Lucida Console', monospace;
    font-weight: bold;
    color: #033639;
    font-size: 300%;
}

.content-title > * {
    margin-bottom: 10px;
    margin-left: 30px;
    font-weight: 700;
}

.content-title>*:before {
    position: absolute;
    left: 0;
    top: calc(50% - 3px);
    height: 3px;
    background: #033639;
    content: "";
    width: 40px;
    display: block;
}

.login-wrapper {
    background: #033639;
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    align-content: center;
    color: white;
}

.login-wrapper * {
    margin-bottom: 0;
    padding-top: 2px;
    padding-bottom: 2px;
}

span.sidemenu-subitem-category {
    color: #033639;
    font-weight: bold;
}

.rtl {
    direction: rtl;
}
.ltr {
    direction: ltr;
}

div#main-column {
    align-content: baseline;
}

@media (max-width: 991px) {
    body {
        background: none;
    }
}

#scroll-fix-div {
    height: 100%;
}

@media (max-width: 991px) {
    #scroll-fix-div {
        height: auto;
    }
}

.container {
    background: rgba(255, 255, 255, 0.94);
    height: 100%;
}

@media (max-width: 991px) {
    .container {
        background: white;
        height: unset;
    }
}

@media (min-width: 1267px) {
    .container {
        max-width: 90%;
    }
}

@media (max-width: 1200px) {
    .xl-only {
        display: none !important;
    }
}

body {
    height: 98%;
}

@media (max-width: 991px) {
    body {
        height: unset;
    }
}

dd, dt {
    margin-bottom: 5px;
}

body table {
    background: rgba(250, 250, 250, 0.7);
}

table.details-table {
    border-collapse: separate;
}

table.details-table td {
    border-radius: 3px;
    border-color: darkslategray;
}

input[type="date"] {
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.border-fix {
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.maxh-overflow {
    max-height: 400px;
    overflow-y: auto;
}

.stepper {
    padding: 0;
    margin: 0;
    list-style: none;
}

.stepper::after {
    clear: both;
    content: " ";
}

.stepper .step, .stepper .step > * {
    display: inline-block;
    margin: 0;
}

.stepper .step::after {
    content: "\00bb";
    display: inline-block;
    margin: 0 1rem;
}

.stepper :last-child::after {
    content: "";
}

.stepper .step.step-active {
    color: #007bff;
    font-weight: bold;
}

.form-control.disabled {
    background: #ced4da;

}

 .textalign-left {
    text-align: left !important;
}


img.zoom {
    -webkit-transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    transition: all 0.35s ease-in-out;
    cursor: -webkit-zoom-in;
    cursor: -moz-zoom-in;
    cursor: zoom-in;
}

    img.zoom:hover,
    img.zoom:active,
    img.zoom:focus {
        /**adjust scale to desired size, 
add browser prefixes**/
        -ms-transform: scale(1.8);
        -moz-transform: scale(1.8);
        -webkit-transform: scale(1.8);
        -o-transform: scale(1.8);
        transform: scale(1.8);
        position: relative;
        z-index: 100;
    }