﻿@model CRM_BTM.Models.OFFER_OPTION

@if (Model.OFFER_OPTION_PRODUCT.Count == 0)
{
    <i class="m-3">This offer has no products setup</i>
}
else
{ 
    foreach (var prod in Model.OFFER_OPTION_PRODUCT)
    {
        <div class="offerProductContainer pb-2">
            @{ var prodPricing = Model.OptionPricingPeriods[prod.ID]; }
            <div class="prodHeader">
                <span class="prodCategory">@prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION</span> - <span class="prodDescription">@prod.PRODUCT_DEFINITION.DESCRIPTION</span>
            </div>
            <div class="pricingBulletsContainer">
                @if (prodPricing.Type.Equals('U'))
                {
                    <div class="pricingBullet pricingBulletOOP bg-dark small d-block"><span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span></div>
                }
                else
                {
                    foreach (var period in prodPricing.Periods.OrderBy(x => x.PeriodStart))
                    {
                        var RGBBytes = CRM_BTM.Views.OfferModels.IdToRBG.getRGB((int)prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY_ID);
                        <div class="pricingBullet text-nowrap small" style="width: @(80 * period.PeriodLength / Model.OptionPricingPeriods.TotalLength())%; background: rgb(@RGBBytes[0],@RGBBytes[1],@RGBBytes[2])">
                            <span class="pricingStart d-none d-lg-block">@period.PeriodStart</span>
                            <span class="pricingPrice">@period.Price.ToString("C")</span>
                        </div>
                    }
                    if (prodPricing.OutOfPromoPrice > 0)
                    {
                        <div class="pricingBullet pricingBulletOOP bg-dark small" style="width: 15%;">
                            <span class="pricingStart d-none d-lg-block">@(Model.OptionPricingPeriods.TotalLength() + 1)</span>
                            <span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span>
                        </div>
                    }
                }
            </div>
        </div>
    }
}