﻿@model CRM_BTM.Models.MTM_PARAMDEF_TASKTYPE

@{
    string label = (ViewData["SectionLabel"] != null ? ViewData["SectionLabel"].ToString() : "template" );
}

<div class="form-group" id="valgroup-@label" style="display: @(label.Equals("template") ? "none" : "block")" >
    @Html.LabelFor(m => m.TASK_TYPE.NAME, new { @class = "d-inline-block col-lg-3 control-label" })
    @Html.DropDownList(String.Concat(new string[] { "[", label, "].TASK_TYPE_ID" }), new SelectList(ViewBag.TypeList, "ID", "NAME", (!label.Equals("template") ? Model.TASK_TYPE_ID.ToString() : null)), new { @class = "form-control d-inline-block col-lg-8" })

    @Html.LabelFor(m => m.TASK_SUBTYPE.NAME, new { @class = "d-inline-block col-lg-3 control-label" })
    @Html.DropDownList(String.Concat(new string[] { "[", label, "].TASK_SUBTYPE_ID" }), new SelectList(ViewBag.SubtypeList, "ID", "NAME", (!label.Equals("template") ? Model.TASK_SUBTYPE_ID.ToString() : null)), new { @class = "form-control d-inline-block col-lg-8" })

    <label class="d-inline-block col-lg-3 control-label">Date range</label>
    @Html.EditorFor(m => m.VALID_FROM, null, String.Concat(new string[] { "[", label, "].VALID_FROM" }), null)
    -
    @Html.EditorFor(m => m.VALID_TO, null, String.Concat(new string[] { "[", label, "].VALID_TO" }), null)

    @Html.Hidden(String.Concat(new string[] { "[", label, "].ID" }), (!label.Equals("template") ? Model.ID.ToString() : null))
    @Html.Hidden(String.Concat(new string[] { "[", label, "].TASK_PARAM_DEFINITION_ID" }), (!label.Equals("template") ? Model.TASK_PARAM_DEFINITION_ID.ToString() : null))
    <div class="btn btn-outline-danger d-block" id="valgroup-remove-@label" onclick="removeSection(this);">Remove</div>
    <hr />
</div>
