﻿@model CRM_BTM.Models.TASK_PARAM_VALUE_LIST

@{
    string label = (ViewData["SectionLabel"] != null ? ViewData["SectionLabel"].ToString() : "template");
}

<div class="form-group" id="valgroup-@label" style="display: @(label.Equals("template") ? "none" : "block")" >
    @Html.TextBox(String.Concat(new string[] { "[", label, "].VALUE" }), (label.Equals("template") ? "" : Model.VALUE), new { @class = "form-control d-inline-block" })
    @Html.Hidden(String.Concat(new string[] { "[", label, "].ID" }), (label.Equals("template") ? "" : Model.ID.ToString()))
    @Html.Hidden(String.Concat(new string[] { "[", label, "].TASK_PARAM_DEFINITION_ID" }), (label.Equals("template") ? "" : Model.TASK_PARAM_DEFINITION_ID.ToString()))
    <div class="btn btn-outline-danger d-inline-block" id="valgroup-remove-@label" onclick="removeSection(this);">Remove</div>
</div>