﻿@model IEnumerable<CRM_BTM.Models.TASK_STATUS>

@{bool displayFull = (ViewData["displayFull"] != null && (bool)ViewData["displayFull"]);}

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(modelItem => modelItem.ID)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.NAME)</th>
        <th>Tasks in status</th>
        <th>JM Triggers linked</th>
        @if (displayFull)
        {
            <th>Actions</th>
        }
    </tr>
    @foreach (CRM_BTM.Models.TASK_STATUS sts in Model)
    {
        <tr>
            <td>@sts.ID</td>
            <td>@sts.NAME</td>
            <td>@sts.TASKS.Count</td>
            <td>@sts.JM_ACTION_TRIGGER.Count</td>
            @if (displayFull)
            {
                <td>
                    @Html.ActionLink("Edit", "StatusEdit", new { id = sts.ID }, new { @class = "btn btn-outline-secondary" })
                </td>
            }
        </tr>
    }
</table>
