﻿@model IEnumerable<CRM_BTM.Models.TASK_SUBTYPE>

@{bool displayFull = (ViewData["displayFull"] != null && (bool)ViewData["displayFull"]);}

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(modelItem => modelItem.ID)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.NAME)</th>
        <th>Tasks in subtype</th>
        <th>JM Triggers linked</th>
        @if (displayFull)
        {
            <th>Actions</th>
        }
    </tr>
    @foreach (CRM_BTM.Models.TASK_SUBTYPE subt in Model)
    {
    <tr>
        <td>@subt.ID</td>
        <td>@subt.NAME</td>
        <td>@subt.TASKS.Count</td>
        <td>@subt.JM_ACTION_TRIGGER.Count</td>
        @if (displayFull)
        {
            <td>
                @Html.ActionLink("Rename", "SubtypeEdit", new { id = subt.ID }, new { @class = "btn btn-outline-secondary" })
            </td>
        }
    </tr>
    }
</table>