﻿@model IEnumerable<CRM_BTM.Models.TASK_PARAM_DEFINITION>
@using CRM_BTM.Models

@{bool displayFull = (ViewData["displayFull"] != null && (bool)ViewData["displayFull"]);}

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(modelItem => modelItem.PARAM_TYPE)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.DESCRIPTION)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.FULL_DESCRIPTION)</th>
        <th class="xl-only">@Html.DisplayNameFor(modelItem => modelItem.REGEXP)</th>
        <th class="xl-only">Allowed values</th>
        @if (displayFull)
        {
            <th class="xl-only">Allowed Type+Subtype</th>
            <th>Actions</th>
        }
    </tr>
    @foreach (CRM_BTM.Models.TASK_PARAM_DEFINITION tpd in Model)
    {
    <tr>
        <td>@tpd.PARAM_TYPE</td>
        <td>@tpd.DESCRIPTION</td>
        <td>@tpd.FULL_DESCRIPTION</td>
        <td class="xl-only mw-100">@tpd.REGEXP</td>
        <td class="xl-only">
            @if (tpd.TASK_PARAM_VALUE_LIST.Count == 0)
            {
                <i>none</i>
            }
            else
            {
                <ul class="p-0 pl-3 list-unstyled">
                    @foreach (CRM_BTM.Models.TASK_PARAM_VALUE_LIST v in tpd.TASK_PARAM_VALUE_LIST.OrderBy(v => v.VALUE))
                    {
                        <li class="text-nowrap">@v.VALUE</li>
                    }
                </ul>
            }

        </td>
        @if (displayFull)
        {
            <td class="xl-only">
                @if (tpd.MTM_PARAMDEF_TASKTYPE.Count == 0)
                {
                    <i>none</i>
                }
                else
                {
                    <table class="table table-xs table-light table-bordered small details-table">
                        <tr>
                            <th class="font-weight-normal">@Html.DisplayNameFor(modelItem => modelItem.MTM_PARAMDEF_TASKTYPE.FirstOrDefault().TASK_TYPE.NAME)</th>
                            <th class="font-weight-normal">@Html.DisplayNameFor(modelItem => modelItem.MTM_PARAMDEF_TASKTYPE.FirstOrDefault().TASK_SUBTYPE.NAME)</th>
                            <th class="font-weight-normal">@Html.DisplayNameFor(modelItem => modelItem.MTM_PARAMDEF_TASKTYPE.FirstOrDefault().VALID_TO)</th>
                        </tr>
                        @foreach (CRM_BTM.Models.MTM_PARAMDEF_TASKTYPE ptt in tpd.MTM_PARAMDEF_TASKTYPE.Where(x => DateTime.Today >= x.VALID_FROM && DateTime.Today <= x.VALID_TO)
                                                                                                       .OrderBy(v => v.VALID_FROM))
                        {
                            <tr>
                                <td>@ptt.TASK_TYPE.NAME</td>
                                <td>@ptt.TASK_SUBTYPE.NAME</td>
                                <td>@ptt.VALID_TO.ToShortDateString()</td>
                            </tr>
                        }
                    </table>
                }

            </td>
            <td>
                @Html.ActionLink("Edit definition", "ParamEdit", new { id = tpd.ID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Edit task types", "ParamEditTypes", new { id = tpd.ID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Edit value list", "ParamEditValues", new { id = tpd.ID }, new { @class = "btn btn-outline-secondary" })
            </td>
        }
    </tr>
    }
</table>