﻿@model IEnumerable<CRM_BTM.Models.TASK_TYPE>

@{bool displayFull = (ViewData["displayFull"] != null && (bool)ViewData["displayFull"]);}

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(modelItem => modelItem.ID)</th>
        <th>@Html.DisplayNameFor(modelItem => modelItem.NAME)</th>
        <th>Tasks in type</th>
        <th>JM Triggers linked</th>
        @if (displayFull)
        {
            <th>Actions</th>
        }
    </tr>
    @foreach (CRM_BTM.Models.TASK_TYPE ttype in Model)
    {
    <tr>
        <td>@ttype.ID</td>
        <td>@ttype.NAME</td>
        <td>@ttype.TASKS.Count</td>
        <td>@ttype.JM_ACTION_TRIGGER.Count</td>
        @if (displayFull)
        {
            <td>
                @Html.ActionLink("Rename", "TypeEdit", new { id = ttype.ID }, new { @class = "btn btn-outline-secondary" })
            </td>
        }
    </tr>
    }
</table>