﻿@model CRM_BTM.Models.ViewModels.NewAccountProcessModel
@{
    ViewBag.Title = "Pick offer option";
}

<hr />
@Html.ActionLink("Start over", "Index", new { id = Model.ClientID }, htmlAttributes: new { @class = "btn btn-secondary" })
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.ClientID)
    @Html.HiddenFor(m => m.InstallationBuildingID)

    var OfferList = (List<CRM_BTM.Models.OFFER_OPTION>)ViewBag.OfferList;
    var PricingPeriods = (CRM_BTM.Models.OfferModels.OfferPricingPeriods)ViewBag.PricingPeriods;

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Pick address</p></li>
                    <li class="step step-active"><p>Select Offer</p></li>
                    <li class="step"><p>Client info</p></li>
                    <li class="step"><p>Billing address</p></li>
                    <li class="step"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">
                <div class="form-group col-12 border-dark" id="OfferListTable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th class="xl-only">Option ID</th>
                                <th>Offer name</th>
                                <th class="xl-only">Categories</th>
                                <th class="xl-only">Description</th>
                                <th>Technology</th>
                                <th>Products</th>
                                <th>Length</th>
                                <th>Promo / Monthly value</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="OfferList" class="maxh-overflow">
                            @foreach (var item in OfferList.OrderByDescending(x => PricingPeriods[x.ID].TotalPriceInPromo()))
                            {
                                <tr>
                                    <td class="xl-only">@item.ID</td>
                                    <td>
                                        @item.OFFER_DEFINITION.INTERNAL_NAME; @item.INTERNAL_NAME; (<b>@item.INVOICE_NAME</b>)
                                    </td>
                                    <td class="xl-only">@String.Join(", ", item.OFFER_CATEGORY.Select(x => x.DESCRIPTION).ToList())</td>
                                    <td class="xl-only">@item.DESCRIPTION</td>
                                    <td>@item.TECHNOLOGY.DESCRIPTION</td>
                                    <td>@String.Join(", ", item.OFFER_OPTION_PRODUCT.Select(x => x.PRODUCT_DEFINITION.DESCRIPTION).ToList())</td>
                                    <td>@PricingPeriods[item.ID].TotalLength()</td>
                                    <td>@PricingPeriods[item.ID].TotalPriceInPromo() / @(PricingPeriods[item.ID].TotalLength() > 0 ? PricingPeriods[item.ID].AveragePriceInPromo() : PricingPeriods[item.ID].AveragePriceUnlimited())</td>
                                    <td>
                                        <span class="btn btn-outline-secondary" data-toggle="collapse" data-target="#details_@item.ID">Details</span>
                                        <button class="btn btn-primary" name="OfferOptionID" value="@item.ID">Select</button>
                                    </td>
                                </tr>
                                <tr>
                                    <td colspan="9">
                                        <div class="collapse" id="details_@item.ID">

                                            @if (item.OFFER_OPTION_PRODUCT.Count == 0)
                                            {
                                                <i class="m-3">This offer has no products setup</i>
                                            }
                                            else
                                            {
                                                foreach (var prod in item.OFFER_OPTION_PRODUCT)
                                                {
                                                    <div class="offerProductContainer pb-2">
                                                        @{ var prodPricing = PricingPeriods[item.ID][prod.ID]; }
                                                        <div class="prodHeader">
                                                            <span class="prodCategory">@prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION</span> - <span class="prodDescription">@prod.PRODUCT_DEFINITION.DESCRIPTION</span>
                                                        </div>
                                                        <div class="pricingBulletsContainer">
                                                            @if (prodPricing.Type.Equals('U'))
                                                            {
                                                                <div class="pricingBullet pricingBulletOOP bg-dark small d-block"><span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span></div>
                                                            }
                                                            else
                                                            {
                                                                foreach (var period in prodPricing.Periods.OrderBy(x => x.PeriodStart))
                                                                {
                                                                    var RGBBytes = CRM_BTM.Views.OfferModels.IdToRBG.getRGB((int)prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY_ID);
                                                                    <div class="pricingBullet text-nowrap small" style="width: @(80 * period.PeriodLength / PricingPeriods[item.ID].TotalLength())%; background: rgb(@RGBBytes[0],@RGBBytes[1],@RGBBytes[2])">
                                                                        <span class="pricingStart d-none d-lg-block">@period.PeriodStart</span>
                                                                        <span class="pricingPrice">@period.Price.ToString("C")</span>
                                                                    </div>
                                                                }
                                                                if (prodPricing.OutOfPromoPrice > 0)
                                                                {
                                                                    <div class="pricingBullet pricingBulletOOP bg-dark small" style="width: 15%;">
                                                                        <span class="pricingStart d-none d-lg-block">@(PricingPeriods[item.ID].TotalLength() + 1)</span>
                                                                        <span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span>
                                                                    </div>
                                                                }
                                                            }

                                                        </div>
                                                    </div>
                                                }
                                            }

                                        </div>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
                <div class="form-group col-12">
                    @Html.ActionLink("Start over", "Index", new { id = Model.ClientID }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
}
