﻿@model CRM_BTM.Models.ViewModels.NewAccountProcessModel
@{
    ViewBag.Title = "Summary";
}

<hr />
@Html.ActionLink("Start over", "Index", new { id = Model.ClientID }, htmlAttributes: new { @class = "btn btn-secondary" })
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.ClientID)
    @Html.HiddenFor(m => m.InstallationBuildingID)
    @Html.HiddenFor(m => m.OfferOptionID)
    @Html.HiddenFor(m => m.BillingDay)
    @Html.HiddenFor(m => m.DivisionID)
    @Html.HiddenFor(m => m.InstallationFlat)
    @Html.HiddenFor(m => m.BillingAddressFromInstallation)
    @Html.HiddenFor(m => m.BillingBuildingID)
    @Html.HiddenFor(m => m.BillingFlat)

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Pick address</p></li>
                    <li class="step"><p>Select Offer</p></li>
                    <li class="step"><p>Client info</p></li>
                    <li class="step"><p>Billing address</p></li>
                    <li class="step step-active"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">
                <div class="col-12">
                    @{ var OfferOption = (CRM_BTM.Models.OFFER_OPTION)ViewBag.OfferOption; }
                    <h3>@OfferOption.INVOICE_NAME</h3>
                    <div class="row">
                        <p class="col-3">Total length</p>
                        <p class="col-9">@OfferOption.OptionPricingPeriods.TotalLength()</p>
                    </div>
                    <div class="row">
                        <p class="col-3">Total promo value</p>
                        <p class="col-9">@OfferOption.OptionPricingPeriods.TotalPriceInPromo()</p>
                    </div>
                    @Html.Partial("PartialViews/OfferOptionPricingBullets", OfferOption)
                </div>
                <hr class="col-12" />
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Billing day", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.BillingDay, new { htmlAttributes = new { @class = "form-control" } })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Division", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @ViewBag.DivisionName
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Installation flat", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.InstallationFlat, new { htmlAttributes = new { @class = "form-control", @checked = "checked" } })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Billing address from installation", htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.DisplayFor(model => model.BillingAddressFromInstallation, new { htmlAttributes = new { @class = "form-control", @checked = "checked" } })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <input type="submit" value="Sold!" class="btn btn-primary" />
                    @Html.ActionLink("Start over", "Index", new { id = Model.ClientID }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
}
