﻿@model IEnumerable<CRM_BTM.Models.QUEUE>

@{
    ViewBag.Title = "Queue - List";
}

<hr />
<div>
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
</div>
<hr />

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.NAME)</th>
        <th>Tasks in Queue</th>
        <th>Traffic</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.NAME)</td>
            <td>@item.TASKS.Count</td>
            <td>@item.TASK_MOVEMENT_HISTORY.Count</td>
            <td>@Html.ActionLink("Change name", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })</td>
        </tr>
    }

</table>
