﻿@model CRM_BTM.Models.ViewModels.JobMachineTriggerInfoViewModel
@{
    ViewBag.Title = "Job Machine";
}

<div class="row">
    <div class="card-wrapper col-12 mb-4">
        <div id="job_info" class="card bg-light">
            <h6 class="card-header ">
                Job info
            </h6>
            <div class="card-body">
                <table class="table table-sm table-hover small d-block mx-100 overflow-auto">
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(model => model.Jobs.FirstOrDefault().JOB_NAME)</th>
                            <th>@Html.LabelFor(model => model.Jobs.FirstOrDefault().ENABLED)</th>
                            <th>@Html.LabelFor(model => model.Jobs.FirstOrDefault().JOB_ACTION) & @Html.LabelFor(model => model.Jobs.FirstOrDefault().REPEAT_INTERVAL)</th>
                            <th>Runs (Failures)</th>
                            <th class="xl-only">@Html.LabelFor(model => model.Jobs.FirstOrDefault().LAST_ERROR_DATE)</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var job in Model.Jobs)
                        {

                            <tr>
                                <td>@Html.DisplayFor(model => job.JOB_NAME)</td>
                                <td>@Html.DisplayFor(model => job.ENABLED)</td>
                                <td>@Html.DisplayFor(model => job.JOB_ACTION) <br/>@Html.DisplayFor(model => job.REPEAT_INTERVAL)</td>
                                <td>@Html.DisplayFor(model => job.RUN_COUNT) (@Html.DisplayFor(model => job.FAILURE_COUNT))</td>
                                <td class="xl-only">@Html.DisplayFor(model => job.LAST_ERROR_DATE)</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-wrapper col-12 mb-4">
        <div id="job_charts" class="card bg-light">
            <h6 class="card-header ">
                Job charts
            </h6>
            <div class="card-body">
                @foreach (var chart in Model.JobCharts)
                {
                    string imagebase64string = Convert.ToBase64String(chart.ToWebImage().GetBytes());
                    string dataUrl = string.Format("data:image/jpeg;base64,{0}", imagebase64string);
                    <img src="@dataUrl" class="mb-3 w-100" alt="image"/>
                }
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-wrapper col-12 mb-4">
        <div id="trg_info" class="card bg-light">
            <h6 class="card-header ">
                Trigger info
            </h6>
            <div class="card-body">
                <table class="table table-sm table-hover small d-block mx-100 overflow-auto">
                    <thead>
                        <tr>
                            <th>@Html.LabelFor(model => model.Triggers.FirstOrDefault().ID)</th>
                            <th>
                                @Html.LabelFor(model => model.Triggers.FirstOrDefault().TASK_STATUS) ,
                                @Html.LabelFor(model => model.Triggers.FirstOrDefault().TASK_TYPE) ,
                                @Html.LabelFor(model => model.Triggers.FirstOrDefault().TASK_SUBTYPE)
                            </th>
                            <th>Recent stats</th>
                            <th>Distribution</th>
                        </tr>
                    </thead>
                    <tbody>

                        @foreach (var tr in Model.Triggers)
                        {

                            <tr>
                                <td>@Html.DisplayFor(m => tr.ID)</td>
                                <td>
                                    @Html.DisplayFor(m => tr.TASK_STATUS) <br />
                                    @Html.DisplayFor(m => tr.TASK_TYPE) <br />
                                    @Html.DisplayFor(m => tr.TASK_SUBTYPE)
                                </td>
                                <td>
                                    <table class="table table-xs small table-responsive-sm">
                                        <thead>
                                            <tr>
                                                <th>@Html.LabelFor(model => tr.GENERATED)</th>
                                                <th>@Html.LabelFor(model => tr.IS_NEW)</th>
                                                <th>@Html.LabelFor(model => tr.CANCELLED)</th>
                                                <th>@Html.LabelFor(model => tr.RUNNING)</th>
                                                <th>@Html.LabelFor(model => tr.HAD_ERROR)</th>
                                                <th>@Html.LabelFor(model => tr.FINISHED)</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>@tr.GENERATED</td>
                                                <td>@tr.IS_NEW</td>
                                                <td>@tr.CANCELLED</td>
                                                <td>@tr.RUNNING</td>
                                                <td>@tr.HAD_ERROR</td>
                                                <td>@tr.FINISHED</td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </td>
                                <td>
                                    @if (Model.TriggerCharts.ContainsKey(tr.ID))
                                    {
                                        var triggerChart = Model.TriggerCharts[tr.ID];
                                        string imagebase64string = Convert.ToBase64String(triggerChart.ToWebImage().GetBytes());
                                        string dataUrl = string.Format("data:image/jpeg;base64,{0}", imagebase64string);
                                        <img src="@dataUrl" alt="image" />
                                    }
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>