﻿@model IEnumerable<CRM_BTM.Models.DEVICE_TYPE>

@{
    ViewBag.Title = "Device types";
}

<hr />
<div>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>
<hr />

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th>@Html.DisplayNameFor(model => model.DESCRIPTION)</th>
        <th>Device model count</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.DESCRIPTION)</td>
            <td>@item.DEVICE_BRAND_MODEL.Count()</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })</td>
        </tr>
    }

</table>
