﻿@model CRM_BTM.Models.BASKET

@{
    ViewBag.Title = "Change basket name";
}

<hr />
<div class="">
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    @Html.HiddenFor(m => m.IS_DEFAULT)
    @Html.HiddenFor(m => m.USER_ID)
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.Partial("_ActivityLogModal")
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
}

<div>
</div>
