﻿@model IEnumerable<CRM_BTM.Models.BASKET>

@{
    ViewBag.Title = "Your baskets";
}

<hr />
<div class="">
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary m2" })
</div>
<hr />


<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IS_DEFAULT)
        </th>
        <th>
            Tasks in basket
        </th>
        <th></th>
    </tr>

    @if (Model.Count() == 0)
    {
        <tr>
            <td colspan="4">
                <p class="font-italic">No baskets found.</p>
            </td>
        </tr>
    }

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.NAME)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.IS_DEFAULT)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TASKS.Count)
            </td>
            <td>
                @Html.ActionLink("Change name", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                @if (!item.IS_DEFAULT)
                {
                    @Html.ActionLink("Set as default", "MakeDefault", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                }
            </td>
        </tr>
    }

</table>
