﻿@model IEnumerable<CRM_BTM.Models.TASKS>

<table class="table table-hover" id="AccountTasksTable">
    <thead>
        <tr>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CREATION_DATE)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DUE_DATE)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TASK_STATUS.NAME)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TASK_TYPE.NAME)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TASK_SUBTYPE.NAME)</th>
            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().QUEUE.NAME)</th>
            <th>Products</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var task in Model.OrderByDescending(x => x.CREATION_DATE))
        {
            <tr>
                <td>@Html.DisplayFor(model => task.CREATION_DATE)</td>
                <td>@Html.DisplayFor(model => task.DUE_DATE)</td>
                <td>@Html.DisplayFor(model => task.TASK_STATUS.NAME)</td>
                <td>@Html.DisplayFor(model => task.TASK_TYPE.NAME)</td>
                <td>@Html.DisplayFor(model => task.TASK_SUBTYPE.NAME)</td>
                <td>@Html.DisplayFor(model => task.QUEUE.NAME)</td>
                <td>
                    @foreach (var pr in task.PRODUCT)
                    {
                        <span class="value-field">@pr.PRODUCT_DEFINITION.DESCRIPTION</span>
                    }
                </td>
                <td>
                    @Html.ActionLink("Details", "Details", "Tasks", new { id = task.ID }, htmlAttributes: new { @class = "btn btn-outline-secondary small" })
                </td>
            </tr>
        }
    </tbody>
</table>