﻿@model IEnumerable<CRM_BTM.Models.ACCOUNT_INVOICES_V>

<table class="table table-bordered table-responsive-md table-xs">
    <tr>
        <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().CREATION_DATE)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().INVOICE_NUMBER)</th>
        <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().INVOICE_TYPE)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().INVOICE_STATUS)</th>
        <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().PARENT_INVOICE_NUMBER)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().TOTAL)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().DUE_DATE)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PAYMENT_DATE)</th>
        <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PAID_AMOUNT)</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.OrderByDescending(x => x.CREATION_DATE))
    {
    <tr class="">
        <td class="xl-only">@Html.DisplayFor(modelItem => item.CREATION_DATE)</td>
        <td>@Html.DisplayFor(modelItem => item.INVOICE_NUMBER)</td>
        <td class="xl-only">@Html.DisplayFor(modelItem => item.INVOICE_TYPE)</td>
        <td>@Html.DisplayFor(modelItem => item.INVOICE_STATUS)</td>
        <td class="xl-only">@Html.DisplayFor(modelItem => item.PARENT_INVOICE_NUMBER)</td>
        <td>@Html.DisplayFor(modelItem => item.TOTAL)</td>
        <td>@Html.DisplayFor(modelItem => item.DUE_DATE)</td>
        <td>@Html.DisplayFor(modelItem => item.PAYMENT_DATE)</td>
        <td class="@(item.TOTAL == item.PAID_AMOUNT ? "bg-success" : "bg-warning")">@Html.DisplayFor(modelItem => item.PAID_AMOUNT)</td>
        <td><button class="btn btn-outline-secondary btn-toggle-invoice" data-id="@item.ID">Toggle details</button></td>
    </tr>
        <tr class="InvoiceDetails" id="@item.ID" style="display: none">
            <td colspan="10">Loading...</td>
        </tr>
    }
</table>
         
<script>
    $(document).ready(function () {
        $(".btn-toggle-invoice").click(function () {
            var val = $(this).attr("data-id");
            var detailsRow = $(".InvoiceDetails#" + val);
            detailsRow.toggle("fast");
            if (detailsRow.is(":visible")) {
                detailsRow.children("td").load("/Client/InvoiceDetails", { id: val });
            } else {
                detailsRow.html('<td colspan="8">Loading...</td>');
            }
        });
    });
</script>