﻿@model IEnumerable<CRM_BTM.Models.PRODUCT>

<style>
    .my-custom-scrollbar {
        position: relative;
        height: 600px;
        overflow: auto;
    }

    .table-wrapper-scroll-y {
        display: block;
    }
</style>


<div class="card bg-light">
    <div class="card-header">
        <div style="display: inline">Products</div>
    </div>
    @if (Model.Count() > 0)
    {
        <div class="card-body">
            <div class="table-responsive">
                <div class="table-wrapper-scroll-y my-custom-scrollbar">
                    <table id="demoGrid" class="table table-hover small">
                        <thead>
                            <tr>
                                <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().ID)</th>
                                <th>Category and definition</th>
                                <th>@Html.DisplayNameFor(model => model.FirstOrDefault().PRODUCT_STATUS.NAME)</th>
                                <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().TECHNOLOGY.DESCRIPTION)</th>
                                <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().ACTIVATION_DATE)</th>
                                <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().DEACTIVATION_DATE)</th>
                                <th class="xl-only">@Html.DisplayNameFor(model => model.FirstOrDefault().DEVICE.DEVICE_BRAND_MODEL.BRAND); @Html.DisplayNameFor(model => model.FirstOrDefault().DEVICE.DEVICE_BRAND_MODEL.MODEL)</th>
                                <th>Attributes</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model)
                            {
                            <tr>
                                <td class="xl-only">@Html.DisplayFor(modelItem => item.ID)</td>
                                <td>@Html.DisplayFor(modelItem => item.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION), @Html.DisplayFor(modelItem => item.PRODUCT_DEFINITION.DESCRIPTION)</td>
                                <td>@Html.DisplayFor(modelItem => item.PRODUCT_STATUS.NAME)</td>
                                <td class="xl-only">@Html.DisplayFor(modelItem => item.TECHNOLOGY.DESCRIPTION)</td>
                                <td class="xl-only">@Html.DisplayFor(modelItem => item.ACTIVATION_DATE)</td>
                                <td class="xl-only">@Html.DisplayFor(modelItem => item.DEACTIVATION_DATE)</td>
                                <td class="xl-only">@Html.DisplayFor(modelItem => item.DEVICE.DEVICE_BRAND_MODEL.BRAND); @Html.DisplayFor(modelItem => item.DEVICE.DEVICE_BRAND_MODEL.MODEL)</td>
                                <td class="">
                                    @foreach (var attr in item.PRODUCT_ATTRIBUTE)
                                    {
                                    <span class="value-field text-nowrap">@attr.PRODUCT_ATTRIBUTE_DEFINITION.DESCRIPTION : @attr.VALUE</span>
                                    }
                                </td>
                            </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    }
</div>
