﻿@model IEnumerable<CRM_BTM.Models.CONTRACT>

<div class="card bg-light">
    <div class="card-header">
        <div>
            <div style="display: inline; text-align:center"> 
                <h5><b>
                    Account contracts
                </b></h5> 
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-12">
                <div class="table-responsive">
                    <table class="table table-hover table-sm text-xsmall tab maxh-overflow">
                        <tr>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().CONTRACT_NUMBER)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().SIGN_DATE)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().START_DATE)</th>
                            <th>@Html.DisplayNameFor(model => model.FirstOrDefault().END_DATE)</th>
                        </tr>
                        @foreach (var contr in Model.OrderBy(x => x.SIGN_DATE))
                        {
                            <tr class="@(contr.START_DATE <= DateTime.Now && contr.END_DATE >= DateTime.Now ? "bg-info" : "")">
                                <td>@Html.DisplayFor(model => contr.CONTRACT_NUMBER)</td>
                                <td>@Html.DisplayFor(model => contr.SIGN_DATE)</td>
                                <td>@Html.DisplayFor(model => contr.START_DATE)</td>
                                <td>@Html.DisplayFor(model => contr.END_DATE)</td>
                            </tr>
                        }
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
