﻿@model IEnumerable<CRM_BTM.Models.OFFER>

<h3>Account offers</h3>
@foreach (var offer in Model.OrderByDescending(x => x.SALE_DATE))
{
    string classColor = "text-primary";
    if (offer.SALE_DATE.AddMonths(offer.OptionPricingPeriods.TotalLength()+3) < DateTime.Today)
    {
        classColor = "text-secondary";
    } else if (offer.SALE_DATE.AddMonths(offer.OptionPricingPeriods.TotalLength()) < DateTime.Today)
    {
        classColor = "text-warning";
    }
    
    <div class="card">
        <div class="card-header btn textalign-left" data-toggle="collapse" data-target="#OfferListTable_@offer.ID">
            <h5 class="d-inline @classColor">@offer.OFFER_OPTION.INTERNAL_NAME</h5> sold by @offer.SALE_CODE.TEAMS.TEAM_CODE team (@offer.SALE_DATE.ToShortDateString())
            <br/><small>Currently @offer.CurrentOfferMonth() month(s) after sale</small>
        </div>
        <div class="card-body row collapse" id="OfferListTable_@offer.ID">
            <div class="form-group col-12 border-dark">
                <table class="table table-hover table-light table-responsive">
                    <thead>
                        <tr>
                            <th class="xl-only">Option ID</th>
                            <th>Offer name</th>
                            <th class="xl-only">Categories</th>
                            <th class="xl-only">Description</th>
                            <th>Technology</th>
                            <th>Products</th>
                            <th>Length</th>
                            <th>Promo / Monthly value</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody id="OfferList" class="maxh-overflow">
                        <tr>
                            <td class="xl-only">@offer.OFFER_OPTION_ID</td>
                            <td>
                                @offer.OFFER_OPTION.OFFER_DEFINITION.INTERNAL_NAME; @offer.OFFER_OPTION.INTERNAL_NAME; (<b>@offer.OFFER_OPTION.INVOICE_NAME</b>)
                            </td>
                            <td class="xl-only">@String.Join(", ", offer.OFFER_OPTION.OFFER_CATEGORY.Select(x => x.DESCRIPTION).ToList())</td>
                            <td class="xl-only">@offer.OFFER_OPTION.DESCRIPTION</td>
                            <td>@offer.OFFER_OPTION.TECHNOLOGY.DESCRIPTION</td>
                            <td>@String.Join(", ", offer.OFFER_OPTION.OFFER_OPTION_PRODUCT.Select(x => x.PRODUCT_DEFINITION.DESCRIPTION).ToList())</td>
                            <td>@offer.OptionPricingPeriods.TotalLength()</td>
                            <td>@offer.OptionPricingPeriods.TotalPriceInPromo() / @(offer.OptionPricingPeriods.TotalLength() > 0 ? offer.OptionPricingPeriods.AveragePriceInPromo() : offer.OptionPricingPeriods.AveragePriceUnlimited())</td>
                            <td>
                                <span class="btn btn-outline-secondary" data-toggle="collapse" data-target="#details_@offer.ID">Products</span>
                            </td>
                        </tr>
                        <tr>
                            <td colspan="9">
                                <div class="collapse" id="details_@offer.ID">
                                    @if (offer.OFFER_OPTION.OFFER_OPTION_PRODUCT.Count == 0)
                                    {
                                        <i class="m-3">This offer has no products setup</i>
                                    }
                                    else
                                    {
                                        foreach (var prod in offer.OFFER_OPTION.OFFER_OPTION_PRODUCT)
                                        {
                                            <div class="offerProductContainer pb-2">
                                                @{ var prodPricing = offer.OptionPricingPeriods[prod.ID]; }
                                                <div class="prodHeader">
                                                    <span class="prodCategory">@prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION</span> - <span class="prodDescription">@prod.PRODUCT_DEFINITION.DESCRIPTION</span>
                                                </div>
                                                <div class="pricingBulletsContainer">
                                                    @if (prodPricing.Type.Equals('U'))
                                                    {
                                                        <div class="pricingBullet pricingBulletOOP bg-dark small d-block"><span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span></div>
                                                    }
                                                    else
                                                    {
                                                        foreach (var period in prodPricing.Periods.OrderBy(x => x.PeriodStart))
                                                        {
                                                            var RGBBytes = CRM_BTM.Views.OfferModels.IdToRBG.getRGB((int)prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY_ID);
                                                            <div class="pricingBullet text-nowrap small" style="width: @(80 * period.PeriodLength / offer.OptionPricingPeriods.TotalLength())%; background: rgb(@RGBBytes[0],@RGBBytes[1],@RGBBytes[2])">
                                                                <span class="pricingStart d-none d-lg-block">@period.PeriodStart</span>
                                                                <span class="pricingPrice">@period.Price.ToString("C")</span>
                                                            </div>
                                                        }
                                                        if (prodPricing.OutOfPromoPrice > 0)
                                                        {
                                                            <div class="pricingBullet pricingBulletOOP bg-dark small" style="width: 15%;">
                                                                <span class="pricingStart d-none d-lg-block">@(offer.OptionPricingPeriods.TotalLength() + 1)</span>
                                                                <span class="pricingPrice">@prodPricing.OutOfPromoPrice.ToString("C")</span>
                                                            </div>
                                                        }
                                                    }

                                                </div>
                                            </div>
                                        }
                                    }

                                </div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
}

