﻿@model CRM_BTM.Models.CRMAPP_ACCLIST_COLUMN_DEF

@{
    string label = (ViewData["SectionLabel"] != null ? ViewData["SectionLabel"].ToString() : "template");
    var sl = (SelectList)ViewData["SelectList"];
}

<div id="ColumnsWrapper-@label" style="@(label.Equals("template") ? "display: none;" : null)">
    <select name="Columns[@label].ID" class="form-control d-lg-inline-block">
        @foreach (var item in sl)
        {
            <option value="@item.Value" @(!label.Equals("template") && item.Value.Equals(Model.ID.ToString()) ? "selected" : "")>@item.Text</option>
        }
    </select>
    <div class="btn btn-outline-danger" id="Columns[@label]-remove" onclick="ColumnRemove(this)">Remove</div>
</div>
