﻿@model CRM_BTM.Models.CRMAPP_ACCLIST_CONDITIONS

@{
    string label = (ViewData["SectionLabel"] != null ? ViewData["SectionLabel"].ToString() : "template");
    var sl = (SelectList)ViewData["SelectList"];
}

<div id="ConditionsWrapper-@label" style="@(label.Equals("template") ? "display: none;" : null)" class="col-12">
    <select name="Conditions[@label].REQ_ID" class="form-control d-lg-inline-block">
        @foreach (var item in sl)
        {
            <option value="@item.Value" @(item.Value.Equals(Model.REQ_ID.ToString()) ? "selected" : "")>@item.Text</option>
        }
    </select>
    <select name="Conditions[@label].RELATION" class="form-control d-lg-inline-block col-lg-2">
        <option value="<" @(!label.Equals("template") && Model.RELATION.Equals("<") ? "selected" : "")>less than</option>
        <option value=">" @(!label.Equals("template") && Model.RELATION.Equals(">") ? "selected" : "")>greater than</option>
        <option value="!" @(!label.Equals("template") && Model.RELATION.Equals("!") ? "selected" : "")>not equals</option>
        <option value="=" @(!label.Equals("template") && Model.RELATION.Equals("=") ? "selected" : "")>equals</option>
    </select>
    @Html.TextBox("Conditions[" + label + "].VALUE", Model.VALUE, new { @class = "form-control d-lg-inline-block" })
    <div class="btn btn-outline-danger" id="Conditions[@label]-remove" onclick="ConditionRemove(this)">Remove</div>
</div>
