﻿@model IEnumerable<CRM_BTM.Models.ADDRESS_COUNTY>

<option value="" selected>-- select --</option>
@foreach (var item in Model.OrderBy(x => x.NAME))
{
    <option value="@item.ID">@item.NAME</option>
}

