﻿@model IEnumerable<CRM_BTM.Models.INSTALLER_DEVICES_STATE_V>

<div class="card">
    <div class="card-header">
        <span>Devices overview</span>
    </div>
    <div class="card-body maxh-overflow">
        <table class="table table-sm table-bordered table-responsive-md">
            <tr>
                <th>@Html.DisplayNameFor(model => model.First().DEVICE_TYPE)</th>
                <th>@Html.DisplayNameFor(model => model.First().BRAND)</th>
                <th>@Html.DisplayNameFor(model => model.First().MODEL)</th>
                <th>@Html.DisplayNameFor(model => model.First().REQUIRED_TODAY)</th>
                <th>@Html.DisplayNameFor(model => model.First().PICKED)</th>
                <th>@Html.DisplayNameFor(model => model.First().ASSIGNED)</th>
            </tr>

            @foreach (var item in Model.OrderBy(x => x.DEVICE_TYPE).ThenBy(x => x.BRAND))
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.DEVICE_TYPE)</td>
                    <td>@Html.DisplayFor(modelItem => item.BRAND)</td>
                    <td>@Html.DisplayFor(modelItem => item.MODEL)</td>
                    <td>@Html.DisplayFor(modelItem => item.REQUIRED_TODAY)</td>
                    <td>@Html.DisplayFor(modelItem => item.PICKED)</td>
                    <td>@Html.DisplayFor(modelItem => item.ASSIGNED)</td>
                </tr>
            }
        </table>
    </div>
</div>