﻿@model CRM_BTM.Models.InstallerModel

@{
    ViewBag.Title = "Installer dashbaord";
}

<div class="row">

    <div class="col-12 col-xl-6 p-3">
        @Html.Partial("DeviceOverview", Model.devOver)
    </div>

    <div class="col-12 col-xl-6 p-3">
        <div class="card">
            <div class="card-header">
                <span>Tasks overview</span>
            </div>
            <div class="card-body row">
                <table class="table table-sm table-bordered table-responsive" style="max-height: 500px;">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.tskOver.First().DUE_TIME)</th>
                        <th>@Html.DisplayNameFor(model => model.tskOver.First().NEW)</th>
                        <th>@Html.DisplayNameFor(model => model.tskOver.First().CONFIRMED)</th>
                        <th>@Html.DisplayNameFor(model => model.tskOver.First().DEFERRED)</th>
                        <th>@Html.DisplayNameFor(model => model.tskOver.First().COMPLETED)</th>
                        <th>@Html.DisplayNameFor(model => model.tskOver.First().CANCELLED)</th>
                    </tr>

                    @foreach (var item in Model.tskOver.OrderByDescending(x => x.DUE_DATE_ORDER))
                    {
                        <tr>
                            <td>@Html.DisplayFor(modelItem => item.DUE_TIME)</td>
                            <td>@Html.DisplayFor(modelItem => item.NEW)</td>
                            <td>@Html.DisplayFor(modelItem => item.CONFIRMED)</td>
                            <td>@Html.DisplayFor(modelItem => item.DEFERRED)</td>
                            <td>@Html.DisplayFor(modelItem => item.COMPLETED)</td>
                            <td>@Html.DisplayFor(modelItem => item.CANCELLED)</td>
                        </tr>
                    }

                </table>
            </div>
        </div>
    </div>

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Today tasks</span>
            </div>
            <div class="card-body row">
                <table class="table table-sm table-bordered table-responsive" style="max-height: 500px;">
                    <tr>
                        <th class="xl-only">@Html.DisplayNameFor(model => model.tskToday.First().DUE_DATE)</th>
                        <th class="xl-only">@Html.DisplayNameFor(model => model.tskToday.First().TASK_ID)</th>
                        <th>@Html.DisplayNameFor(model => model.tskToday.First().STATUS)</th>
                        <th>@Html.DisplayNameFor(model => model.tskToday.First().CLIENT_NAME)</th>
                        <th class="xl-only">@Html.DisplayNameFor(model => model.tskToday.First().CITY)</th>
                        <th>@Html.DisplayNameFor(model => model.tskToday.First().STREET)</th>
                        <th>@Html.DisplayNameFor(model => model.tskToday.First().BUILDING_NUM)</th>
                        <th>@Html.DisplayNameFor(model => model.tskToday.First().FLAT_NUM)</th>
                        <th>@Html.DisplayNameFor(model => model.tskToday.First().PRODUCTS)</th>
                        <th>@Html.DisplayNameFor(model => model.tskToday.First().DEVICES)</th>
                        <th>Actions</th>
                    </tr>

                    @foreach (var item in Model.tskToday.OrderByDescending(x => x.DUE_DATE))
                    {
                        <tr>
                            <td class="xl-only">@Html.DisplayFor(modelItem => item.DUE_DATE)</td>
                            <td class="xl-only">@Html.DisplayFor(modelItem => item.TASK_ID)</td>
                            <td>@Html.DisplayFor(modelItem => item.STATUS)</td>
                            <td>@Html.DisplayFor(modelItem => item.CLIENT_NAME)</td>
                            <td class="xl-only">@Html.DisplayFor(modelItem => item.CITY)</td>
                            <td>@Html.DisplayFor(modelItem => item.STREET)</td>
                            <td>@Html.DisplayFor(modelItem => item.BUILDING_NUM)</td>
                            <td>@Html.DisplayFor(modelItem => item.FLAT_NUM)</td>
                            <td class="small">
                                @foreach (string pr in item.PRODUCTS.Split('|').OrderBy(x => x.ToString()))
                                {
                                    <span class="d-inline-block value-field">@pr</span>
                                }
                            </td>
                            <td class="small">
                                @foreach (string dev in item.DEVICES.Split('|').OrderBy(x => x.ToString()))
                                {
                                    <span class="d-inline-block value-field">@dev</span>
                                }
                            </td>
                            <td>@Html.ActionLink("Edit", "InstallTask", new { id = item.OFFER_ID }, new { @class = "btn btn-outline-secondary" })</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>