﻿@model CRM_BTM.Models.InstallerModel

@{
    ViewBag.Title = "Installation task";
}


<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.installTask.TASK_ID)

    <hr />
    <div>
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
        <input type="submit" name="cl_ref" value="Client refused installation" class="btn btn-danger" />
        <input type="submit" name="cl_una" value="Client unavailable" class="btn btn-danger" />
        <input type="submit" name="ntp" value="No technical possibilities" class="btn btn-danger" />
    </div>
    <hr />

    <div class="row">
        <div class="col-12 p-3">
            <div class="card">
                <div class="card-header">
                    <span>Installation info</span>
                </div>
                <div class="card-body row">
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.TASK_ID, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.TASK_ID)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.CLIENT_ID, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.CLIENT_ID)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.ACCOUNT_ID, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.ACCOUNT_ID)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.DUE_DATE, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.DUE_DATE)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.CLIENT_NAME, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.CLIENT_NAME)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.CITY, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.CITY)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.STREET, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.STREET)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.BUILDING_NUM, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.BUILDING_NUM)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.FLAT_NUM, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.FLAT_NUM)</span>
                            </div>
                        </div>
                    </div>
                    <div class="col-12">
                        <div class="row">
                            @Html.LabelFor(model => model.installTask.PRODUCTS, htmlAttributes: new { @class = "col-md-4" })
                            <div class="col-md-8">
                                <span class="value-field">@Html.DisplayFor(model => model.installTask.PRODUCTS)</span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-12 p-3">
            <div class="card">
                <div class="card-header">
                    <span>Installations</span>
                </div>
                <div class="card-body row">
                    <table class="table table-sm table-bordered">
                        <tr>
                            <th>@Html.DisplayNameFor(m => m.prds.First().PROD_CAT)</th>
                            <th>@Html.DisplayNameFor(m => m.prds.First().PRODUCT_ID)</th>
                            <th>@Html.DisplayNameFor(m => m.prds.First().DEV_TYPE)</th>
                            <th>@Html.DisplayNameFor(m => m.prds.First().BRAND)</th>
                            <th>@Html.DisplayNameFor(m => m.prds.First().MODEL)</th>
                            <th>@Html.DisplayNameFor(m => m.prds.First().SERIAL)</th>
                        </tr>

                        @for (var prc = 0; prc < Model.prds.Count(); prc++)
                        {
                            <tr>
                                <td>@Html.DisplayFor(m => m.prds[prc].PROD_CAT)</td>
                                <td>@Html.DisplayFor(m => m.prds[prc].PRODUCT_ID)</td>
                                <td>@Html.DisplayFor(m => m.prds[prc].DEV_TYPE)</td>
                                <td>@Html.DisplayFor(m => m.prds[prc].BRAND)</td>
                                <td>@Html.DisplayFor(m => m.prds[prc].MODEL)</td>
                                <td>
                                    <select id="prds_[@prc]__DEVICE_ID" name="prds[@prc].DEVICE_ID" class="selectpicker" data-live-search="true" data-style="form-control border">
                                        <option selected value=null>---Select---</option>
                                        @foreach (var item in Model.availDev)
                                        {
                                            if (item.DEV_MOD_ID == Model.prds[prc].MOD_BRAND_ID)
                                            {
                                                <option value=@item.DEVICE_ID>
                                                    @item.SERIAL
                                                </option>
                                            }
                                        }
                                        @Html.HiddenFor(p => Model.prds[prc].PRODUCT_ID)
                                    </select>
                                </td>
                            </tr>
                        }
                    </table>
                    <div class="form-group">
                        <input type="submit" name="save" value="Save" class="btn btn-primary" />
                    </div>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts {

    <script>

        $(".selectpicker").selectpicker();

    </script>
}