﻿@model CRM_BTM.Models.INTERACT
@{
    ViewBag.Title = "New interaction";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm("Create", "Interact", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    @Html.HiddenFor(m => m.ACCOUNT_ID)

    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.INTERACT_TYPE_ID, "Type", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("INTERACT_TYPE_ID", null, null, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.INTERACT_DIRECTION_ID, "Direction", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("INTERACT_DIRECTION_ID", null, null, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.INTERACT_MEDIUM_ID, "Medium", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("INTERACT_MEDIUM_ID", null, null, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.TASKS_ID, "Related task", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.DropDownList("TASKS_ID", null, string.Empty, new { @class = "form-control" })
            </div>
        </div>
    </div>
    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.TextAreaFor(model => model.DESCRIPTION, new { @class = "form-control" })
            </div>
        </div>
    </div>
    
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>

}