﻿@model CRM_BTM.Models.InteractModel
@using PagedList.Mvc;

@{
    ViewBag.Title = "Interactions";
}

<link href="~/Content/PagedList.css" rel="stylesheet" type="text/css" />
<!-- Bootstrap Date-Picker Plugin -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/js/bootstrap-datepicker.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css" />
<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.clearForm)
    <div id="search" class="card">
        <h6 class="card-header">Search</h6>
        <div class="card-body">
            <div class="row">
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.InteractInfos.FirstOrDefault().INTERACT_DIRECTION, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="border-fix d-inline-block">
                                <select name="InteractDirectionId" id="InteractDirectionId" class="selectpicker" data-live-search="true">
                                    <option @{ if (0 == Model.InteractDirectionId) { <text> selected </text>  } } value=0>
                                        -- select --
                                    </option>
                                    @foreach (var item in Model.InteractDirections.OrderBy(x => x.NAME))
                                    {
                                        <option @{ if (item.ID == Model.InteractDirectionId) { <text> selected </text>  } }
                                                value=@item.ID>
                                            @item.NAME
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.InteractInfos.FirstOrDefault().INTERACT_MEDIUM, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="border-fix d-inline-block">
                                <select name="InteractMediumId" id="InteractMediumId" class="selectpicker" data-live-search="true">
                                    <option @{ if (0 == Model.InteractMediumId) { <text> selected </text>  } } value=0>
                                        -- select --
                                    </option>
                                    @foreach (var item in Model.InteractMediums.OrderBy(x => x.NAME))
                                    {
                                        <option @{ if (item.ID == Model.InteractMediumId) { <text> selected </text>  } }
                                                value=@item.ID>
                                            @item.NAME
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.InteractInfos.FirstOrDefault().INTERACT_TYPE, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="border-fix d-inline-block">
                                <select name="InteractTypeId" id="InteractTypeId" class="selectpicker" data-live-search="true">
                                    <option @{ if (0 == Model.InteractTypeId) { <text> selected </text>  } } value=0>
                                        -- select --
                                    </option>
                                    @foreach (var item in Model.InteractTypes.OrderBy(x => x.NAME))
                                    {
                                        <option @{ if (item.ID == Model.InteractTypeId) { <text> selected </text>  } }
                                                value=@item.ID>
                                            @item.NAME
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.InteractInfos.FirstOrDefault().INTERACT_DATE, new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            <div class="input-daterange input-group" id="datepicker">
                                @Html.EditorFor(model => model.dateFrom, new { htmlAttributes = new { @class = "input-sm form-control", @type = "text", @name = "start" } })
                                <span class="input-group-addon">&nbsp;to&nbsp;</span>
                                @Html.EditorFor(model => model.dateTo, new { htmlAttributes = new { @class = "input-sm form-control", @type = "text", @name = "end" } })
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.InteractInfos.FirstOrDefault().CLIENT_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ClientId, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                            @Html.ValidationMessageFor(model => model.ClientId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.InteractInfos.FirstOrDefault().CUSTOMER_FULL_NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.ClientFName, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-3">
                            @Html.DisplayNameFor(model => model.InteractInfos.FirstOrDefault().CLIENT_PESEL) / @Html.DisplayNameFor(model => model.InteractInfos.FirstOrDefault().CLIENT_NIP)
                        </label>
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PeselNip, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.InteractInfos.FirstOrDefault().TASKS_ID, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.TaskId, new { htmlAttributes = new { @class = "form-control", type = "text" } })
                        </div>
                    </div>
                </div>

            </div>

            <div class="form-group">
                <input type="submit" value="Search" class="btn btn-primary" />
                <input type="button" value="Reset" id="CLR" class="btn btn-danger" />
            </div>

        </div>
    </div>


}

<div class="mt-4 col-12">
    <p>Page @(Model.InteractInfos.PageCount < Model.InteractInfos.PageNumber ? 0 : Model.InteractInfos.PageNumber) of @Model.InteractInfos.PageCount</p>
    @Html.PagedListPager(Model.InteractInfos, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

    <table class="table table-sm table-striped table-hover table-bordered small mw-100 overflow-auto d-sm-table d-block">
        <tr>
            <th>@Html.DisplayNameFor(model => model.InteractInfos.First().INTERACT_ID)</th>
            <th>@Html.DisplayNameFor(model => model.InteractInfos.First().INTERACT_DATE)</th>
            <th>@Html.DisplayNameFor(model => model.InteractInfos.First().CLIENT_ID)</th>
            <th class="xl-only">@Html.DisplayNameFor(model => model.InteractInfos.First().CUSTOMER_FULL_NAME)</th>
            <th>@Html.DisplayNameFor(model => model.InteractInfos.First().INTERACT_DIRECTION)</th>
            <th>@Html.DisplayNameFor(model => model.InteractInfos.First().INTERACT_MEDIUM)</th>
            <th>@Html.DisplayNameFor(model => model.InteractInfos.First().INTERACT_TYPE)</th>
            <th class="xl-only">@Html.DisplayNameFor(model => model.InteractInfos.First().DESCRIPTION)</th>
            <th class="xl-only">@Html.DisplayNameFor(model => model.InteractInfos.First().TASKS_ID)</th>
        </tr>

        @if (Model.InteractInfos.Count != 0)
        {
            foreach (var item in Model.InteractInfos)
            {
                <tr>
                    <td>@Html.DisplayFor(model => item.INTERACT_ID)</td>
                    <td>@Html.DisplayFor(model => item.INTERACT_DATE)</td>
                    <td>@Html.DisplayFor(model => item.CLIENT_ID)</td>
                    <td class="xl-only">@Html.DisplayFor(model => item.CUSTOMER_FULL_NAME)</td>
                    <td>@Html.DisplayFor(model => item.INTERACT_DIRECTION)</td>
                    <td>@Html.DisplayFor(model => item.INTERACT_MEDIUM)</td>
                    <td>@Html.DisplayFor(model => item.INTERACT_TYPE)</td>
                    <td class="xl-only" style="word-wrap: break-word; width: 160px;">@Html.DisplayFor(model => item.DESCRIPTION)</td>
                    <td class="xl-only">
                        @if (item.TASKS_ID != null)
                        {
                            @Html.ActionLink(item.TASKS_ID.ToString(), "details", "tasks", new { id = item.TASKS_ID }, null)
                        }
                    </td>
                </tr>
            }
        }
        else
        {
            <tr>
                <td colspan="9">To see interactions, use search box above.</td>
            </tr>
        }

    </table>

    <p>Page @(Model.InteractInfos.PageCount < Model.InteractInfos.PageNumber ? 0 : Model.InteractInfos.PageNumber) of @Model.InteractInfos.PageCount</p>
    @Html.PagedListPager(Model.InteractInfos, page => Url.Action("Index", new { page, sortOrder = ViewBag.CurrentSort, currentFilter = ViewBag.CurrentFilter }))

</div>

@section Scripts {

    <script>
        $(document).ready(function () {
            $('.input-daterange').datepicker({
                autoclose: true,
                format: "yyyy-mm-dd"
            });
        })

        $(function () {
            $("#CLR").click(function () {

                $("#clearForm").val(true)

                console.log($("#clearForm").val())
                $("form").submit();


            });
        });

    </script>
}