﻿@model CRM_BTM.Models.InvoiceModel

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <h1>Create corrctive invoice</h1>
    <hr />

    <div class="container">

        <div class="row justify-content-center">
            <h2>
                @Html.DisplayFor(model => model.CurrentInvoice.INVOICE_TYPE.NAME).ToString().ToUpper(): @Html.DisplayFor(model => model.CurrentInvoice.INVOICE_NUMBER)
            </h2>
        </div>
        <div class="row ">

            <div class="col">

                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.ACCOUNT.CLIENT.fullName):
                    @Html.DisplayFor(model => model.CurrentInvoice.ACCOUNT.CLIENT.fullName)
                </div>
                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.INVOICE_TYPE.NAME):
                    @Html.DisplayFor(model => model.CurrentInvoice.INVOICE_TYPE.NAME)
                </div>
                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.INVOICE_STATUS.NAME):
                    @Html.DisplayFor(model => model.CurrentInvoice.INVOICE_STATUS.NAME)
                </div>
            </div>
            <div class="col">
                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.CREATION_DATE):
                    @Html.DisplayFor(model => model.CurrentInvoice.CREATION_DATE)
                </div>
                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.SEND_DATE):
                    @Html.DisplayFor(model => model.CurrentInvoice.SEND_DATE)
                </div>

                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.DUE_DATE):
                    @Html.DisplayFor(model => model.CurrentInvoice.DUE_DATE)
                </div>
            </div>

            <div class="col ">

                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.TOTAL):
                    @Html.DisplayFor(model => model.CurrentInvoice.TOTAL)
                </div>
                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.PAID_AMOUNT):
                    @Html.DisplayFor(model => model.CurrentInvoice.PAID_AMOUNT)
                </div>
                <div class="row justify-content-center">
                    @Html.DisplayNameFor(model => model.CurrentInvoice.PAYMENT_DATE):
                    @Html.DisplayFor(model => model.CurrentInvoice.PAYMENT_DATE)
                </div>
            </div>
        </div>
        <hr />
        <div class="row justify-content-center">
            <div>
                <table class="table table-responsive">
                    <tr>
                        <th>
                            @Html.DisplayNameFor(m => m.newInvProds.First().InvProd.PRODUCT.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.newInvProds.First().InvProd.PRODUCT.PRODUCT_DEFINITION.DESCRIPTION)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.newInvProds.First().InvProd.PRODUCT_ID)
                        </th>
                        <th>
                            @Html.DisplayNameFor(m => m.newInvProds.First().InvProd.AMOUNT)
                        </th>
                        <th>
                            @Html.DisplayName("New value")
                        </th>
                    </tr>

                    @for (int i = 0; i < Model.newInvProds.Count; i++)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(m => m.newInvProds[i].InvProd.PRODUCT.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION)
                            </td>
                            <th>
                                @Html.DisplayFor(m => m.newInvProds[i].InvProd.PRODUCT.PRODUCT_DEFINITION.DESCRIPTION)
                            </th>
                            <th>
                                @Html.DisplayFor(m => m.newInvProds[i].InvProd.PRODUCT_ID)
                                @Html.HiddenFor(m => m.newInvProds[i].InvProd.PRODUCT_ID)

                            </th>
                            <th>
                                @Html.DisplayFor(m => m.newInvProds[i].InvProd.AMOUNT)
                                @Html.HiddenFor(m => m.newInvProds[i].InvProd.AMOUNT)
                            </th>
                            <th>
                                @Html.TextBox("newInvProds["+i+"].newVal", Model.newInvProds[i].newVal, new { htmlAttributes = new { @class = "form-control" } })
                            </th>

                        </tr>
                    }

                    <tr>
                        <th colspan="5">
                            @Html.DisplayNameFor(m => m.newInvOths.First().InvItm.INVOICE_OTHER_ITEMS_DESC.DESCRIPTION)
                        </th>

                    </tr>
                    @for (int i = 0; i < Model.newInvOths.Count; i++)
                    {

                        <tr>
                            <td colspan="3">
                                @Html.DisplayFor(m => Model.newInvOths[i].InvItm.INVOICE_OTHER_ITEMS_DESC.DESCRIPTION)
                                @Html.HiddenFor(m => Model.newInvOths[i].InvItm.INVOICE_OTHER_ITEMS_DESC_ID)
                            </td>
                            <th>
                                @Html.DisplayFor(m => Model.newInvOths[i].InvItm.AMOUNT)
                                @Html.HiddenFor(m => Model.newInvOths[i].InvItm.AMOUNT)
                            </th>
                            <th>
                                @Html.TextBox("newInvOths[" + i + "].newVal", Model.newInvOths[i].newVal, new { htmlAttributes = new { @class = "form-control" } })
                            </th>
                        </tr>
                    }

                </table>
            </div>
        </div>
        <div class="row justify-content-end">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Save" class="btn btn-success" />
                </div>
            </div>
        </div>
    </div>
    @Html.HiddenFor(model => model.CurrentInvoice.ID)
    @Html.HiddenFor(model => model.CurrentInvoice.INVOICE_NUMBER)
    @Html.HiddenFor(model => model.CurrentInvoice.ACCOUNT_ID)
    @Html.HiddenFor(model => model.CurrentInvoice.ACCOUNT.CLIENT_ID)
}