﻿@model CRM_BTM.Models.INVOICE

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>INVOICE</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INVOICE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TOTAL)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TOTAL)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CREATION_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SEND_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SEND_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DUE_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DUE_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAYMENT_DATE)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAYMENT_DATE)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PAID_AMOUNT)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PAID_AMOUNT)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ACCOUNT.ID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ACCOUNT.ID)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVOICE2.INVOICE_NUMBER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE2.INVOICE_NUMBER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVOICE_STATUS.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE_STATUS.NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INVOICE_TYPE.NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE_TYPE.NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
