﻿@model IEnumerable<CRM_BTM.Models.INVOICE>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INVOICE_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TOTAL)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATION_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SEND_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DUE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAYMENT_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PAID_AMOUNT)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ACCOUNT.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVOICE2.INVOICE_NUMBER)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVOICE_STATUS.NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INVOICE_TYPE.NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INVOICE_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.TOTAL)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.CREATION_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.SEND_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DUE_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAYMENT_DATE)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.PAID_AMOUNT)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.ACCOUNT.ID)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INVOICE2.INVOICE_NUMBER)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INVOICE_STATUS.NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INVOICE_TYPE.NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
