﻿@model CRM_BTM.Models.ViewModels.UpsellUpgradeProcessModel
@{
    ViewBag.Title = "Summary";
}

<hr />
@Html.ActionLink("Start over", "Index", new { id = Model.AccountID }, htmlAttributes: new { @class = "btn btn-secondary" })
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.AccountID)
    @Html.HiddenFor(m => m.OfferOptionID)
    @Html.HiddenFor(m => m.ProcessType)

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <ol class="stepper">
                    <li class="step"><p>Select Offer</p></li>
                    <li class="step step-active"><p>Summary</p></li>
                </ol>
            </div>
            <div class="card-body row">
                <div class="col-12">
                    @if (Model.ProcessType == CRM_BTM.Models.ViewModels.UpsellUpgradeProcessModel.ProcessTypes.Upsell)
                    {
                        <p>You are <string>UPSELLING</string> an offer. This means that other client's products will <string>not</string> be affected.</p>
                    }
                    else
                    {
                        <p>You are <string>UPGRADING</string> an offer. This means that other client's products <string>will be deactivated!</string></p>
                    }
                </div>
                <hr class="col-12"/>
                <div class="col-12">
                    @{ var OfferOption = (CRM_BTM.Models.OFFER_OPTION)ViewBag.OfferOption; }
                    <h3>@OfferOption.INVOICE_NAME</h3>
                    <div class="row">
                        <p class="col-3">Total length</p>
                        <p class="col-9">@OfferOption.OptionPricingPeriods.TotalLength()</p>
                    </div>
                    <div class="row">
                        <p class="col-3">Total promo value</p>
                        <p class="col-9">@OfferOption.OptionPricingPeriods.TotalPriceInPromo()</p>
                    </div>
                    @Html.Partial("PartialViews/OfferOptionPricingBullets", OfferOption)
                </div>
                <hr class="col-12"/>
                <div class="form-group col-12">
                    <input type="submit" value="Sold!" class="btn btn-primary" />
                    @Html.ActionLink("Start over", "Index", new { id = Model.AccountID }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
    
}
