﻿@model CRM_BTM.Models.AddressBaseModel

@{
    ViewBag.Title = "Building ID: " + Model.buildingInfoDetail.BUILDING_ID + " (" + Model.buildingInfoDetail.BUILDING_TYPE + ")";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

<div class="row">

    <div class="col-12 col-lg-6 p-3">
        <div class="card">
            <div class="card-header">
                <span>Address details</span>
            </div>
            <div class="card-body row">
                <div class="row col-12">
                    @Html.LabelFor(model => model.buildingInfoDetail.STREET, htmlAttributes: new { @class = "col-md-5" })
                    <div class="col-md-7 value-field">
                        @Html.DisplayFor(model => model.buildingInfoDetail.STREET)
                    </div>
                </div>
                <div class="row col-12">
                    @Html.LabelFor(model => model.buildingInfoDetail.BUILDING_NUMBER, htmlAttributes: new { @class = "col-md-5" })
                    <div class="col-md-7 value-field">
                        @Html.DisplayFor(model => model.buildingInfoDetail.BUILDING_NUMBER)
                    </div>
                </div>
                <div class="row col-12">
                    @Html.LabelFor(model => model.buildingInfoDetail.CITY, htmlAttributes: new { @class = "col-md-5" })
                    <div class="col-md-7 value-field">
                        @Html.DisplayFor(model => model.buildingInfoDetail.CITY)
                    </div>
                </div>
                <div class="row col-12">
                    @Html.LabelFor(model => model.buildingInfoDetail.POST_CODE, htmlAttributes: new { @class = "col-md-5" })
                    <div class="col-md-7 value-field">
                        @Html.DisplayFor(model => model.buildingInfoDetail.POST_CODE)
                    </div>
                </div>
                <div class="row col-12">
                    @Html.LabelFor(model => model.buildingInfoDetail.PROVINCE, htmlAttributes: new { @class = "col-md-5" })
                    <div class="col-md-7 value-field">
                        @Html.DisplayFor(model => model.buildingInfoDetail.PROVINCE)
                    </div>
                </div>
                <div class="row col-12">
                    @Html.LabelFor(model => model.buildingInfoDetail.COUNTY, htmlAttributes: new { @class = "col-md-5" })
                    <div class="col-md-7 value-field">
                        @Html.DisplayFor(model => model.buildingInfoDetail.COUNTY)
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 p-3">
        <div class="card">
            <div class="card-header">
                <span>Available technologies</span>
            </div>
            <div class="card-body row">
                <table class="table table-sm table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.availTechnologies.First().TECHNOLOGY.DESCRIPTION)</th>
                        <th>@Html.DisplayNameFor(model => Model.availTechnologies.First().BANDWIDTH_MB)</th>
                        <th>@Html.DisplayNameFor(model => model.availTechnologies.First().HP)</th>
                    </tr>
                    @foreach (var item in Model.availTechnologies)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.TECHNOLOGY.DESCRIPTION)</td>
                            <td>@Html.DisplayFor(m => item.BANDWIDTH_MB)</td>
                            <td>@Html.DisplayFor(m => item.HP)</td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Clients accounts</span>
            </div>
            <div class="card-body row">
                <table class="table table-sm table-hover">
                    <tr>
                        <th>@Html.DisplayNameFor(model => model.account.First().ADDRESS1.FLAT)</th>
                        <th>@Html.DisplayNameFor(model => model.account.First().CLIENT.ID)</th>
                        <th>@Html.DisplayNameFor(model => model.account.First().CLIENT.fullName)</th>
                        <th class="xl-only">@Html.DisplayNameFor(model => model.account.First().CLIENT.SEGMENT.NAME)</th>
                        <th>Products</th>
                    </tr>
                    @foreach (var item in Model.account)
                    {
                        <tr>
                            <td>@Html.DisplayFor(m => item.ADDRESS1.FLAT)</td>
                            <td>@Html.DisplayFor(m => item.CLIENT.ID)</td>
                            <td>@Html.DisplayFor(m => item.CLIENT.fullName)</td>
                            <td class="xl-only">@Html.DisplayFor(m => item.CLIENT.SEGMENT.NAME)</td>
                            <td>
                                <ul class="list-unstyled">
                                    @if (item.PRODUCT.Count != 0)
                                    {
                                        foreach (var prod in item.PRODUCT)
                                        {
                                            if (prod.PRODUCT_STATUS.NAME != "cancelled" & prod.PRODUCT_STATUS.NAME != "deactivated")
                                            {
                                                <li class="">
                                                    @Html.DisplayFor(i => prod.PRODUCT_DEFINITION.PRODUCT_CATEGORY.DESCRIPTION) /
                                                    @Html.DisplayFor(i => prod.TECHNOLOGY.DESCRIPTION) /
                                                    @Html.DisplayFor(i => prod.PRODUCT_STATUS.NAME)
                                                </li>
                                            }
                                        }

                                    }
                                    else
                                    {
                                        <i>No products</i>
                                    }
                                </ul>
                            </td>
                        </tr>
                    }
                </table>
            </div>
        </div>
    </div>

</div>
