﻿@model CRM_BTM.Models.AddressBaseModel

@{
    ViewBag.Title = "Address Base file import";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm("ImportAddressBase", "AddressBase", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <div class="col-md-10">
                <input type="file" name="FileUpload" required class="form-control"/>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Import" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}


