﻿@model CRM_BTM.Models.AddressBaseModel

@{
    ViewBag.Title = "Address List";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

@using (Html.BeginForm())
{
    <div class="col-12 p-3">
        <div class="card" id="search">
            <div class="card-header">
                <span>Search address</span>
            </div>
            <div class="card-body row">

                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">Province</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="provinceId" id="provinceId" class="selectpicker" data-live-search="true">
                                    <option @{ if (0 == Model.provinceId) { <text> selected </text>  } } value=0>-- select --</option>
                                    @foreach (var item in Model.province.OrderBy(x => x.NAME))
                                    {
                                        <option @{ if (item.ID == Model.provinceId) { <text> selected </text>  } }
                                                value=@item.ID>
                                            @item.NAME
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">County</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="countyId" id="countyId" class="selectpicker" data-live-search="true" @{ if (0 == Model.provinceId) { <text> disabled </text>  } }>
                                    <option @{ if (0 == Model.countyId) { <text> selected </text>  } } value=0>-- select --</option>
                                    @foreach (var item in Model.county.OrderBy(x => x.NAME))
                                    {
                                        <option @{ if (item.ID == Model.countyId) { <text> selected </text>  } } value=@item.ID>
                                            @item.NAME
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">City</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="cityId" id="cityId" class="selectpicker" data-live-search="true" @{ if (0 == Model.countyId) { <text> disabled </text>  } }>
                                    <option @{ if (0 == Model.cityId) { <text> selected </text>  } } value=0>-- select --</option>
                                    @foreach (var item in Model.city.OrderBy(x => x.NAME))
                                    {
                                        <option @{ if (item.ID == Model.cityId) { <text> selected </text>  } } value=@item.ID>
                                            @item.NAME
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">Post code</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="postCodeIn" id="postCodeIn" class="selectpicker" data-live-search="true" @{ if (0 == Model.cityId) { <text> disabled </text>  } }>
                                    <option @{ if (0 == Model.cityId) { <text> selected </text>  } } value=0>-- select --</option>
                                    @foreach (var item in Model.postCodeList.OrderBy(x => x.ToString()))
                                    {
                                        <option @{ if (item == Model.postCodeIn) { <text> selected </text>  } } value="@item.ToString()">
                                            @item.ToString()
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">Street</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="streetID" id="streetID" class="selectpicker" data-live-search="true" @{ if (0 == Model.cityId) { <text> disabled </text>  } }>
                                    <option @{ if (0 == Model.streetID) { <text> selected </text>  } } value=0>-- select --</option>
                                    @foreach (var item in Model.street.OrderBy(x => x.NAME))
                                    {
                                        <option @{ if (item.ID == Model.streetID) { <text> selected </text>  } } value=@item.ID>
                                            @item.NAME
                                        </option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">Building ID</label>
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.buildingId, new { htmlAttributes = new { @class = "form-control ", @type = "text" } })
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
}
    <div class="col-12">
        <div class="w-100 overflow-auto d-block">
            <table class="table table-sm table-striped table-hover table-bordered">
                <tr>
                    <th>@Html.DisplayNameFor(model => model.building_info.First().BUILDING_ID)</th>
                    <th>@Html.DisplayNameFor(model => model.building_info.First().STREET)</th>
                    <th>@Html.DisplayNameFor(model => model.building_info.First().BUILDING_NUMBER)</th>
                    <th>@Html.DisplayNameFor(model => model.building_info.First().POST_CODE)</th>
                    <th>@Html.DisplayNameFor(model => model.building_info.First().CITY)</th>
                    <th class="xl-only">@Html.DisplayNameFor(model => model.building_info.First().COUNTY)</th>
                    <th class="xl-only">@Html.DisplayNameFor(model => model.building_info.First().PROVINCE)</th>
                    <th class="xl-only">@Html.DisplayNameFor(model => model.building_info.First().BUILDING_TYPE)</th>
                    <th class="xl-only">@Html.DisplayNameFor(model => model.building_info.First().TECHNOLOGIES)</th>
                    <th class="xl-only">@Html.DisplayNameFor(model => model.building_info.First().BANDWIDTHS)</th>
                    <th>Actions</th>
                </tr>

                @if (Model.building_info.Count() == 0)
                {
                    <tr>
                        <td colspan="11"><i>No address found, please use search form above</i></td>
                    </tr>
                }
                @foreach (var item in Model.building_info)
                {
                    <tr>
                        <td>@Html.DisplayFor(modelItem => item.BUILDING_ID)</td>
                        <td>@Html.DisplayFor(modelItem => item.STREET)</td>
                        <td>@Html.DisplayFor(modelItem => item.BUILDING_NUMBER)</td>
                        <td>@Html.DisplayFor(modelItem => item.POST_CODE)</td>
                        <td>@Html.DisplayFor(modelItem => item.CITY)</td>
                        <td class="xl-only">@Html.DisplayFor(modelItem => item.COUNTY)</td>
                        <td class="xl-only">@Html.DisplayFor(modelItem => item.PROVINCE)</td>
                        <td class="xl-only">@Html.DisplayFor(modelItem => item.BUILDING_TYPE)</td>
                        <td class="xl-only">@Html.DisplayFor(modelItem => item.TECHNOLOGIES)</td>
                        <td class="xl-only">@Html.DisplayFor(modelItem => item.BANDWIDTHS)</td>
                        <td>@Html.ActionLink("Details", "Details", new { id = item.BUILDING_ID }, new { @class = "btn btn-outline-secondary" })</td>
                    </tr>
                }

            </table>
        </div>
    </div>
@section Scripts {

    <script>
        $(".selectpicker").selectpicker();

        $(function () {

            $("#provinceId").change(function () {
                $("#countyId").val(0);
                $("#buildingId").val(0);
                $("#cityId").val(0);
                $("#postCodeIn").val(null);
                $("#streetID").val(0);
                $("form").submit();
                console.log('poszlo');
            });

            $("#buildingId").change(function () {
                var c = $(this);
                $.when(c.focusout()).then(function () {
                    $("#countyId").val(0);
                    $("#provinceId").val(0);
                    $("#cityId").val(0);
                    $("#postCodeIn").val(null);
                    $("#streetID").val(0);
                    $("form").submit();
                });
                console.log('poszlo');
            });

            $("#countyId").change(function () {

                $("#buildingId").val(0);
                $("#cityId").val(0);
                $("#postCodeIn").val(null);
                $("#streetID").val(0);
                $("form").submit();
                console.log('poszlo');
            });

            $("#cityId").change(function () {


                $("#buildingId").val(0);
                $("#postCodeIn").val(null);
                $("#streetID").val(0);
                $("form").submit();
                console.log('poszlo');
            });

            $("#postCodeIn").change(function () {

                $("#buildingId").val(0);
                $("#streetID").val(0);
                $("form").submit();
                console.log('poszlo');
            });

            $("#streetID").change(function () {
                $("#postCodeIn").val(null);
                $("form").submit();
                $("#buildingId").val(0);
                console.log('poszlo');
            });
        });

    </script>

}