﻿@model CustomAuth.Models.ManageUserModel
@{
    ViewBag.Title = "New CRM user";
}

<hr />
<div class="">
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@Html.ValidationSummary(true, "", new { @class = "text-danger" })

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal row">

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>User</span>
            </div>
            <div class="card-body row">
                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Username", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserModel.Username, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserModel.Username, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Firstname", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserModel.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserModel.FirstName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Lastname", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserModel.LastName, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserModel.LastName, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("User HR ID", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserHrId, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserHrId, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>


                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserModel.Email, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserModel.Email, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            @Html.EditorFor(model => model.UserModel.Password, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.UserModel.Password, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>

                <div class="form-group col-12">
                    <div class="row">
                        @Html.Label("Is active", htmlAttributes: new { @class = "control-label col-md-2" })
                        <div class="col-md-10">
                            <div class="checkbox">
                                @Html.EditorFor(model => model.UserModel.IsActive)
                                @Html.ValidationMessageFor(model => model.UserModel.IsActive, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-5 p-3">
        <div class="card">
            <div class="card-header">
                <span>Roles</span>
            </div>
            <div class="card-body">
                <div class="maxh-overflow">
                    <table id="RolesTable" class="table table-sm table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Assign role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RoleModel)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox"
                                               name="ModelOut"
                                               value="@item.RoleId"
                                               @if (Model.UserModel.Roles != null) { if (Model.UserModel.Roles.Contains(item)) { <text> checked </text> } } />
                                        @item.RoleName
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
             </div>
        </div>
    </div>
    <div class="col-12 col-lg-7 p-3">
        <div class="card">
            <div class="card-header">
                <span>Claims</span>
            </div>
            <div class="card-body">
                <div class="maxh-overflow">
                    <table id="ClaimsTable" class="table table-sm table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Assign</th>
                                <th>Category</th>
                                <th>Operation</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ClaimsModel)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox"
                                               name="ClaimsOut"
                                               value="@item.ClaimId" />
                                    </td>
                                    <td>@item.Category</td>
                                    <td>@item.Operation</td>
                                    <td>@item.Description</td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group p-3">
        <input type="submit" value="Create" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>

}
