﻿@model CustomAuth.DataAccess.User

@{
    ViewBag.Title = "CRM User details";
}

<hr />
<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary m2" })
    @Html.ActionLink("Edit", "Edit", new { id = Model.UserId }, new { @class = "btn btn-secondary m2" })
</div>
<hr />

<div>
    <dl class="row">
        <dt class="col-3">
            @Html.DisplayName("Username")
        </dt>
        <dd class="col-9 value-field">
            @Html.DisplayFor(model => model.Username)
        </dd>

        <dt class="col-3">
            @Html.DisplayName("Name")
        </dt>
        <dd class="col-9 value-field">
            @Html.DisplayFor(model => model.FirstName)
        </dd>

        <dt class="col-3">
            @Html.DisplayName("Lastname")
        </dt>
        <dd class="col-9 value-field">
            @Html.DisplayFor(model => model.LastName)
        </dd>

        <dt class="col-3">
            @Html.DisplayName("E-mail")
        </dt>
        <dd class="col-9 value-field">
            @Html.DisplayFor(model => model.Email)
        </dd>
        
        <dt class="col-3">
            @Html.DisplayName("Is active")
        </dt>
        <dd class="col-9 value-field">
            @Html.DisplayFor(model => model.IsActive)
        </dd>

        <dt class="col-3">
            @Html.DisplayName("Activation code")
        </dt>
        <dd class="col-9 value-field">
            @Html.DisplayFor(model => model.ActivationCode)
        </dd>

    </dl>
</div>
