﻿@model CustomAuth.Models.ManageUserModel

@{
    ViewBag.Title = "Edit user: " + Model.UserModel.UserId;
}

<hr />
<div class="">
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.UserModel.UserId)
        @Html.HiddenFor(model => model.UserModel.Username)
        
        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserModel.FirstName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserModel.FirstName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Lastname", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserModel.LastName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserModel.LastName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <div class="row">
                @Html.Label("E-mail", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserModel.Email, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.UserModel.Email, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Password", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.UserPassword, new { htmlAttributes = new { @class = "form-control", placeholder = "Password" } })
                    @Html.ValidationMessageFor(model => model.UserModel.Password, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>



        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Is active", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.UserModel.IsActive)
                        @Html.ValidationMessageFor(model => model.UserModel.IsActive, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
    </div>




    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
