﻿@model IEnumerable<CustomAuth.DataAccess.User>

@{
    ViewBag.Title = "Application Users";
}

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<table class="table table-sm table-striped table-hover table-bordered" id="dataTable">
    <thead>
        <tr>
            <th>@Html.DisplayName("Username")</th>
            <th class="xl-only">@Html.DisplayName("Name")</th>
            <th class="xl-only">@Html.DisplayName("Lastname")</th>
            <th>@Html.DisplayName("E-mail")</th>
            <th class="xl-only">@Html.DisplayName("Is active")</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.OrderBy(x => x.Username))
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Username)</td>
                <td class="xl-only">@Html.DisplayFor(modelItem => item.FirstName)</td>
                <td class="xl-only">@Html.DisplayFor(modelItem => item.LastName)</td>
                <td>@Html.DisplayFor(modelItem => item.Email)</td>
                <td class="xl-only">@Html.DisplayFor(modelItem => item.IsActive)</td>
                <td>
                    @Html.ActionLink("Edit", "Edit", new { id = item.UserId }, new { @class = "btn btn-outline-secondary" })
                    @Html.ActionLink("Roles", "ManageUserRoles", new { id = item.UserId }, new { @class = "btn btn-outline-secondary" })
                    @Html.ActionLink("Claims", "ManageUserClaims", new { id = item.UserId }, new { @class = "btn btn-outline-secondary" })
                    @Html.ActionLink("Details", "Details", new { id = item.UserId }, new { @class = "btn btn-outline-secondary" })
                </td>
            </tr>
        }
    </tbody>
</table>

@section Scripts {
    <script>
        $("#dataTable").DataTable();
    </script>
}