﻿@model CustomAuth.Models.ManageUserModel

@{
    ViewBag.Title = "Claims for: " + Model.UserModel.Username;
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

<p>Disabled claims are granted by Role assignment.</p>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal maxh-overflow">
        <table id="ClaimsTable" class="table table-sm table-striped table-hover table-bordered">
            <thead>
                <tr>
                    <th>Assign claim</th>
                    <th>Category</th>
                    <th>Operation</th>
                    <th>Description</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model.ClaimsModel.OrderBy(x => x.ClaimName()))
                {
                    <tr @if (Model.RolesClaims.Contains(item.ClaimId)) { <text> class="bg-transparent" </text> }>
                        <td>
                            <input type="checkbox"
                                   name="ClaimsOut"
                                   value="@item.ClaimId"
                                   @if (Model.UserModel.Claims != null) { if (Model.UserModel.Claims.Contains(item)) { <text> checked </text> } }
                                   @if (Model.UserModel.Roles != null) { if (Model.RolesClaims.Contains(item.ClaimId)) { <text> disabled </text> } } />
                            @item.ClaimName()
                        </td>
                        <td>@item.Category</td>
                        <td>@item.Operation</td>
                        <td>@item.Description</td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}
