﻿@model CustomAuth.Models.ManageUserModel

@{
    ViewBag.Title = "Roles for: " + Model.UserModel.Username;
}

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
<div class="form-horizontal">
    <div class="col-12 col-lg-6 p-3">
        <div class="card">
            <div class="card-header">
                <span>Roles</span>
            </div>
            <div class="card-body row">
                <div class="col-12 maxh-overflow">
                    <table id="RolesTable" class="table table-sm table-striped table-hover table-bordered">
                        <thead>
                            <tr>
                                <th>Assign role</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.RoleModel)
                            {
                                <tr>
                                    <td>
                                        <input type="checkbox"
                                               name="ModelOut"
                                               value="@item.RoleId"
                                               @if (Model.UserModel.Roles != null) { if (Model.UserModel.Roles.Contains(item)) { <text> checked </text> } } />
                                        @item.RoleName
                                    </td>

                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
    }
