﻿@model CustomAuth.Models.ManageRoleModel

@{
    ViewBag.Title = "Edit role";
}

<hr />
<div class="">
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ActRole.RoleId)

        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Role name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.ActRole.RoleName, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.ActRole.RoleName, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="col-12 col-lg-12 p-3">
            <div class="card">
                <div class="card-header">
                    <span>Claims</span>
                </div>
                <div class="card-body row">
                    <div class="col-12 maxh-overflow">
                        <table id="ClaimsTable" class="table table-sm table-striped table-hover table-bordered">
                            <thead>
                                <tr>
                                    <th>Assign</th>
                                    <th>Category</th>
                                    <th>Operation</th>
                                    <th>Description</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.ClaimModel)
                                {
                                    <tr>
                                        <td>
                                            <input type="checkbox"
                                                   name="ClaimsList"
                                                   value="@item.ClaimId"
                                                   @if (Model.ActRole.Claims != null) { if (Model.ActRole.Claims.Contains(item)) { <text> checked </text> } } />
                                            @item.ClaimName()
                                        </td>
                                        <td>@item.Category</td>
                                        <td>@item.Operation</td>
                                        <td>@item.Description</td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

