﻿@model IEnumerable<CustomAuth.DataAccess.Role>

@{
    ViewBag.Title = "User roles";
}

<hr />
<div class="">
    @Html.ActionLink("Create new", "Create", null, new { @class = "btn btn-primary" })
</div>
<hr />

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayName("Role name")
        </th>
        <th>Users in role</th>
        <th>Actions</th>
    </tr>

    @foreach (var item in Model.OrderBy(x => x.RoleName))
    {
        var AllowDelete = @item.Users.Count == 0;
        <tr>
            <td>@Html.DisplayFor(modelItem => item.RoleName)</td>
            <td>@item.Users.Count</td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.RoleId }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("Users", "RoleUsers", new { id = item.RoleId }, new { @class = "btn btn-outline-secondary" })
                @if (AllowDelete)
                {
                    @Html.ActionLink("Delete", "Delete", new { id = item.RoleId }, new { @class = "btn btn-outline-danger", onclick = "return confirm('Are you sure you wish to remove this role? This action cannot be reversed.');" })
                }
            </td>
        </tr>
    }

</table>

