﻿@model CustomAuth.Models.ManageRoleModel

@{
    ViewBag.Title = "Role users";
}
<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

<h4>Users in role: <b>@Model.ActRole.RoleName</b></h4>

<table id="UsersTab" class="table table-sm table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Username</th>
            <th>Name</th>
            <th>Lastname</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th>
                <input type="text" id="srchUsername" placeholder="Search by username" class="input-group-text mw-100 w-100" />
            </th>
            <th>
                <input type="text" id="srchName" placeholder="Search by name" class="input-group-text mw-100 w-100" />
            </th>
            <th>
                <input type="text" id="srchLastname" placeholder="Search by lastname" class="input-group-text mw-100 w-100" />
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableData">
        <tr>
            <td colspan="4">Loading...</td>
        </tr>
    </tbody>
</table>

<div>
    @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-secondary" })
</div>

@section Scripts {
    <script>
        $("#tableData").load("/ManageRole/RoleUsersList/@Model.ActRole.RoleId");

        $(function () {
            $("#srchUsername").focusout(function () {
                var data = { UsernameString: $(this).val(), NameString: $("#srchName").val(), LastNameString: $("#srchLastname").val()};
                $("#tableData").load("/ManageRole/RoleUsersList/@Model.ActRole.RoleId", data);
            });
        });

        $(function () {
            $("#srchName").focusout(function () {
                var data = { UsernameString: $("#srchUsername").val(), NameString: $("#srchName").val(), LastNameString: $("#srchLastname").val() };
                $("#tableData").load("/ManageRole/RoleUsersList/@Model.ActRole.RoleId", data);
            });
        });

        $(function () {
            $("#srchLastname").focusout(function () {
                var data = { UsernameString: $("#srchUsername").val(), NameString: $("#srchName").val(), LastNameString: $("#srchLastname").val() };
                $("#tableData").load("/ManageRole/RoleUsersList/@Model.ActRole.RoleId", data);
            });
        });
    </script>
}