﻿@model CustomAuth.Models.ManageRoleModel

@foreach (var item in Model.existingUserModel.OrderBy(x=>x.Username))
{
    <tr>
        <td>@Html.DisplayFor(m => item.Username)</td>
        <td>@Html.DisplayFor(m => item.FirstName)</td>
        <td>@Html.DisplayFor(m => item.LastName)</td>
        <td>@Html.ActionLink("Remove", "RemoveUser", new { u_id = item.UserId, r_id = Model.ActRole.RoleId }, new { style = "color: red; font-weight: bold" })</td>

    </tr>
}

@foreach (var item in Model.UserModel.OrderBy(x => x.Username))
{
    <tr>
        <td>@Html.DisplayFor(m => item.Username)</td>
        <td>@Html.DisplayFor(m => item.FirstName)</td>
        <td>@Html.DisplayFor(m => item.LastName)</td>
        <td>@Html.ActionLink("Add", "AddUser", new { u_id = item.UserId, r_id = Model.ActRole.RoleId }, new { style = "color: green; font-weight: bold" })</td>
    </tr>
}
