﻿@model CRM_BTM.ViewModels.AutomaticReportsAddViewModel
@using CRM_BTM.Models;
<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Run now", "Run", new { id = Model.Report.ID }, new { @class = "btn btn-secondary" })
    @Html.ActionLink("User Access", "UserAccess", new { id = Model.Report.ID }, new { @class = "btn btn-secondary" })
    @Html.ActionLink("Remove", "Remove", new { id = Model.Report.ID }, new { @class = "btn btn-secondary", onclick = "return confirm('Are you sure you wish to remove this report? This action cannot be reversed.');" })
    @if (Model.Report.ENABLED)
    {
        @Html.ActionLink("Disable", "Disable", new { id = Model.Report.ID }, new { @class = "btn btn-secondary" })
    }
    else
    {
        @Html.ActionLink("Enable", "Enable", new { id = Model.Report.ID }, new { @class = "btn btn-secondary" })
    }
</div>
<hr />

<p class="p-3 m-3 bg-warning">Be aware that this module requires knowledge about Oracle DBMS Scheduler. Trying to mindlessly create/edit reports may cause unexpected errors.</p><br/>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-vertical">
        @Html.HiddenFor(model => model.Report.ID)
        @Html.HiddenFor(model => model.Report.CREATE_DATE)

        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.TITLE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Report.TITLE, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Report.TITLE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Report.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Report.DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.ENABLED, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Report.ENABLED, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Report.ENABLED, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.INTERVAL, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Report.INTERVAL, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Report.INTERVAL, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.ACTION, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Report.ACTION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Report.ACTION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.TYPE, htmlAttributes: new { @class = "control-label col-md-2", @disabled = "true" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Report.TYPE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Report.TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.OWNER, htmlAttributes: new { @class = "control-label col-md-2", @disabled = "true" })
                <div class="col-md-10">
                    <div class="checkbox">
                        <select name="owner" id="owner" class="form-control">
                            @foreach (CRM_USER u in Model.Users.OrderBy(x => x.IDENTITY_ID))
                            {
                                <option value="@u.ID">@u.IDENTITY_ID</option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.Report.EXPORT_PATH, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="checkbox">
                        @Html.EditorFor(model => model.Report.EXPORT_PATH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.Report.EXPORT_PATH, "", new { @class = "text-danger" })
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "Index", new { id = Model.Report.ID }, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
