﻿@model IEnumerable<CRM_BTM.Models.REPORT>

<hr />
<div>
    @Html.ActionLink("Create new", "Add", null, new { @class = "btn btn-primary m2" })
</div>
<hr />

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ID)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TITLE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.CREATE_DATE)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ENABLED)
        </th>
        <th>
            Actions
        </th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="small">
            <td>
                @Html.DisplayFor(modelItem => item.ID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TITLE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DESCRIPTION)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.CREATE_DATE)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ENABLED)
            </td>
            <td>
                @Html.ActionLink("Run now", "Run", new { id = item.ID }, new { @class = "btn btn-outline-success" })
                @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                @Html.ActionLink("User Access", "UserAccess", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                @if (item.ENABLED)
                {
                    @Html.ActionLink("Disable", "Disable", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                }
                else
                {
                    @Html.ActionLink("Enable", "Enable", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
                }
                @Html.ActionLink("Remove", "Remove", new { id = item.ID }, new { @class = "btn btn-outline-danger", onclick = "return confirm('Are you sure you wish to remove this report? This action cannot be reversed.');" })
            </td>
        </tr>
    }

</table>

