﻿@model CRM_BTM.ViewModels.AutomaticReportsUserAccessViewModel
@using CRM_BTM.Models;


<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary m2" })
</div>
<hr />

<h4>Access for report: <b>@Model.Report.TITLE</b></h4>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <input type="hidden" name="reportId" value="@Model.Report.ID" />

    <table class="table table-sm table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th>User</th>
                <th>Report access and distribution</th>
            </tr>
        </thead>
        <tbody>
            @foreach (CRM_USER user in Model.AllUsers.OrderBy(x => x.IDENTITY_ID))
            {
                <tr>
                    <td>@user.IDENTITY_ID</td>
                    <td><input type="checkbox" name="accessGranted" value="@user.ID" @(Model.Report.ALLOWED_USERS.Contains(user) ? "checked" : "") /></td>
                </tr>
            }
        </tbody>
    </table>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary m2" })
    </div>
}
