﻿@model IEnumerable<CRM_BTM.Models.DEVICE>
@foreach (var item in Model.OrderBy(x => x.SERIAL))
{
<tr>
    <td>@item.DEVICE_BRAND_MODEL.DEVICE_TYPE.DESCRIPTION</td>
    <td>@item.DEVICE_BRAND_MODEL.BRAND</td>
    <td>@item.DEVICE_BRAND_MODEL.MODEL</td>
    <td>@item.SERIAL</td>
    <td class="xl-only">@item.MAC</td>
    <td class="text-nowrap">
        @Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })
        <a href="@Url.Action("Delete", "Device", new { id = item.ID })"
           class="btn btn-outline-danger"
           onclick="return confirm('Are you sure you wish to remove this device? This action cannot be reversed.');">
            Delete
        </a>
        @if (item.CRM_USER_ID == null && item.PRODUCT.Count == 0)
        {
            @Html.ActionLink("Pick", "PickDevice", new { id = item.ID }, new { @class = "btn btn-outline-primary ml-3" })
        }
    </td>
</tr>
}
