﻿@model IEnumerable<CRM_BTM.Models.DEVICE_BRAND_MODEL>
<option value="" selected>-- select --</option>
@foreach (var item in Model.OrderBy(x => x.BRAND).ThenBy(x => x.MODEL))
{
    <option value="@item.ID">@item.BRAND - @item.MODEL</option>
}
