﻿@model IEnumerable<CRM_BTM.Models.PRODUCT_STATUS>

@{
    ViewBag.Title = "Product statuses";
}

<hr />
<div>
    @Html.ActionLink("Create New", "Create", null, new { @class = "btn btn-primary" })
</div>
<hr />

<table class="table table-sm table-striped table-hover table-bordered">
    <tr>
        <th>@Html.DisplayNameFor(model => model.ID)</th>
        <th>@Html.DisplayNameFor(model => model.NAME)</th>
        <th>Product count</th>
        <th>Actions</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>@Html.DisplayFor(modelItem => item.ID)</td>
            <td>@Html.DisplayFor(modelItem => item.NAME)</td>
            <td>@item.PRODUCT.Count()</td>
            <td>@Html.ActionLink("Edit", "Edit", new { id = item.ID }, new { @class = "btn btn-outline-secondary" })</td>
        </tr>
    }
</table>
