﻿@model CRM_BTM.Models.OFFER_OPTION

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>OFFER_OPTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INVOICE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTERNAL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTERNAL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALID_FROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALID_FROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALID_TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALID_TO)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFER_DEFINITION.INVOICE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFER_DEFINITION.INVOICE_NAME)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
