﻿@model CRM_BTM.Models.OFFER_OPTION

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>OFFER_OPTION</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.INVOICE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INVOICE_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.INTERNAL_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.INTERNAL_NAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DESCRIPTION)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALID_FROM)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALID_FROM)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VALID_TO)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VALID_TO)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TECHNOLOGY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TECHNOLOGY)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.OFFER_DEFINITION.INVOICE_NAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.OFFER_DEFINITION.INVOICE_NAME)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
