﻿@model IEnumerable<CRM_BTM.Models.OFFER_OPTION>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.INVOICE_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.INTERNAL_NAME)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DESCRIPTION)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALID_FROM)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VALID_TO)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.OFFER_DEFINITION.INVOICE_NAME)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.INVOICE_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.INTERNAL_NAME)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DESCRIPTION)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALID_FROM)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.VALID_TO)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.OFFER_DEFINITION.INVOICE_NAME)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.ID }) |
            @Html.ActionLink("Details", "Details", new { id=item.ID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.ID })
        </td>
    </tr>
}

</table>
