﻿@model CRM_BTM.Models.ViewModels.ClientDetailsViewModel

@{
    ViewBag.Title = "Client dashboard";
}

<hr />
<div>
    @Html.Partial("_ActivityLogModal", Model.Client)
</div>
<hr />

<div class="col-12 p-3">
    <div class="card">
        <div class="card-header">
            <span>Client information</span>
        </div>
        <div class="card-body row">
            @Html.Partial("PartialViews/ClientInformation", Model.Client)
        </div>
    </div>
</div>

<div class="col-12">
    @using (Html.BeginForm())
    {
        var AccountSelectList = (SelectList)ViewBag.ClientAccountSelectList;
        @Html.AntiForgeryToken()
        @Html.Hidden("id", Model.Client.ID)

        <div class="col-12">
            <div class="row">
                <label class="d-inline-block m-3">Select account</label>
                @Html.DropDownList("AccountID", AccountSelectList, new { @class = "form-control d-inline-block m-3" })
                <input type="submit" value="View" class="btn btn-primary d-inline-block m-3" />
            </div>
        </div>

    }

    <div class="card mb-3">
        <div class="card-header">
            <span class="card-header-pills">Sell</span>
        </div>
        <div class="card-body row">
            @Html.ActionLink("New account", "Index", "NewAccount", new { id = Model.Client.ID }, new { @class = "btn btn-primary m-1" })
            @if (Model.AccountViewModel != null)
            {
                @Html.ActionLink("Upsell / Upgrade", "Index", "UpsellUpgrade", new { id = Model.AccountViewModel.Account.ID }, new { @class = "btn btn-primary m-1" })
            }

        </div>
    </div>

    @if (Model.AccountViewModel != null)
    {
        @Html.Partial("PartialViews/AccountInformation", Model.AccountViewModel)
    }
</div>


