@model CRM_BTM.Models.CLIENT

@{
    ViewBag.Title = "Edit client";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
@Html.ActionLink("Back", "Details", "Client", new { id = Model.ID }, new { @class = "btn btn-secondary" })
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.ID)
    @Html.HiddenFor(m => m.PESEL)
    @Html.HiddenFor(m => m.NIP)
    @Html.HiddenFor(m => m.SEGMENT_ID)

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Client information</span>
            </div>
            <div class="card-body row">
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.LASTNAME, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.LASTNAME, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.LASTNAME, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.EMAIL, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.EMAIL, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.EMAIL, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.PHONE_PRIMARY, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PHONE_PRIMARY, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PHONE_PRIMARY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        @Html.LabelFor(model => model.PHONE_SECONDARY, htmlAttributes: new { @class = "control-label col-md-3" })
                        <div class="col-md-9">
                            @Html.EditorFor(model => model.PHONE_SECONDARY, new { htmlAttributes = new { @class = "form-control" } })
                            @Html.ValidationMessageFor(model => model.PHONE_SECONDARY, "", new { @class = "text-danger" })
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    @Html.ActionLink("Back", "Details", "Client", new { id = Model.ID }, new { @class = "btn btn-secondary" })
                    <input type="submit" value="Save" class="btn btn-primary" />
                </div>
            </div>
        </div>
    </div>
}
