﻿@model CRM_BTM.Models.ViewModels.EditBillingAddressModel
@{
    ViewBag.Title = "Billing address";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
@Html.ActionLink("Back", "Details", "Client", new { id = Model.ClientId }, new { @class = "btn btn-secondary" })
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    @Html.HiddenFor(m => m.AccountID)
    @Html.HiddenFor(m => m.ClientId)
    

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">

            </div>
            <div class="card-body row">
                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">Province</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="ProvinceID" id="ProvinceDropdown" class="selectpicker" data-live-search="true">
                                    <option value="">-- select --</option>
                                    @foreach (var province in Model.AddressProvince.OrderBy(x => x.Text))
                                    {
                                        <option value="@province.Value">@province.Text</option>
                                    }
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">County</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="CountyID" id="CountyDropdown" class="selectpicker" data-live-search="true"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">City</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="CityID" id="CityDropdown" class="selectpicker" data-live-search="true"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">Street</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                <select name="StreetID" id="StreetDropdown" class="selectpicker" data-live-search="true"></select>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12">
                    <div class="row">
                        <label class="control-label col-md-2">Flat</label>
                        <div class="col-md-10">
                            <div class="border-fix d-inline-block">
                                @Html.EditorFor(model => model.BillingFlat, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.BillingFlat, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                </div>
                <div class="form-group col-12 border-dark" id="AddressListTable">
                    <table class="table table-hover">
                        <thead>
                            <tr>
                                <th>Post code</th>
                                <th>Building type</th>
                                <th>Technology</th>
                                <th>Building number</th>
                                <th>Actions</th>
                            </tr>
                        </thead>
                        <tbody id="AddressList" class="maxh-overflow"></tbody>
                    </table>
                </div>
                <div class="form-group col-12">
                    @Html.ActionLink("Back", "Details", "Client", new { id = Model.ClientId }, new { @class = "btn btn-secondary" })
                </div>
            </div>
        </div>
    </div>
}

@section Scripts {

    <script>

        $("#ProvinceDropdown").change(function () {
            $("#CountyDropdown").prop('disabled', true).attr("value", null).find('option').remove();
            $("#CityDropdown").prop('disabled', true).attr("value", null).find('option').remove();
            $("#StreetDropdown").prop('disabled', true).attr("value", null).find('option').remove();
            $("#AddressListTable").hide();
            $("#CountyDropdown").load("/Client/Province2County/" + this.value, function () {
                $("#CountyDropdown").prop('disabled', false);
                $("#CountyDropdown").selectpicker('refresh');
                $("#CountyDropdown").change();
            });
        });

        $("#CountyDropdown").change(function () {
            $("#CityDropdown").prop('disabled', true).attr("value", null).find('option').remove();
            $("#StreetDropdown").prop('disabled', true).attr("value", null).find('option').remove();
            $("#AddressListTable").hide();
            if (this.value) {
                $("#CityDropdown").load("/Client/County2City/" + this.value, function () {
                    $("#CityDropdown").prop('disabled', false);
                    $("#CityDropdown").selectpicker('refresh');
                    $("#CityDropdown").change();
                });
            } else {
                $("#CityDropdown").selectpicker('refresh');
                $("#CityDropdown").change();
            }

        });

        $("#CityDropdown").change(function () {
            $("#StreetDropdown").prop('disabled', true).attr("value", null).find('option').remove();
            $("#AddressListTable").hide();
            if (this.value) {
                $("#StreetDropdown").load("/Client/City2Street/" + this.value, function () {
                    $("#StreetDropdown").prop('disabled', false);
                    $("#StreetDropdown").selectpicker('refresh');
                    $("#StreetDropdown").change();
                });
            } else {
                $("#StreetDropdown").selectpicker('refresh');
                $("#StreetDropdown").change();
            }
        });

        $("#StreetDropdown").change(function () {
            if (this.value) {

                $.ajax({
                    url: "/Client/Street2Building/" + this.value,
                    data: { OnlyWithTech: "false", FormName: "BillingBuildingID" }
                }).done(function (data, textStatus, jqXHR) {
                    if (jqXHR.status == "204") {
                        $("#AddressList").html("<tr><td colspan=4>Nothing found</td></tr>");
                    } else {
                        $("#AddressList").html(data);
                    }
                });

                $("#AddressListTable").show();
            } else {
                $("#AddressListTable").hide();
            }
        });

        $("#CountyDropdown").prop('disabled', true);
        $("#CityDropdown").prop('disabled', true);
        $("#StreetDropdown").prop('disabled', true);
        $("#AddressListTable").hide()
    </script>

}
