﻿@model CRM_BTM.Models.ViewModels.HomeIndexViewModel
@{
    ViewBag.Title = "Home Page";
}

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<div class="row">

    <div class="col-12 p-3">
        <div class="card">
            <div class="card-header">
                <span>Hello <strong>@Model.IdentityUser.FirstName</strong>!</span>
            </div>
            <div class="card-body">
                <p>Currently your roles are: </p>
                <ul>
                    @foreach (var role in Model.IdentityUser.Roles)
                    {
                        <li>@role.RoleName</li>
                    }
                </ul>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 p-3">
        <div class="card">
            <div class="card-header">
                <span>Current tasks</span>
            </div>
            <div class="card-body">
                @{
                    var chart1 = Model.CurrentTasksChart;
                    string imagebase64string1 = Convert.ToBase64String(chart1.ToWebImage().GetBytes());
                    string dataUrl1 = string.Format("data:image/jpeg;base64,{0}", imagebase64string1);
                    <img src="@dataUrl1" alt="image" class="col-6 zoom d-block m-auto" />
                }
                <table id="currentTasks">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type/Subtype</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model.CurrentTasks)
                        {
                            <tr>
                                <th>@t.TASK_ID</th>
                                <th>@t.TASK_TYPE/@t.TASK_SUBTYPE</th>
                                <th>@t.TASK_STATUS</th>
                                <th>@Html.ActionLink("Details", "Details", "Tasks", new { id = t.TASK_ID }, new { @class = "btn btn-outline-secondary btn-sm" })</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <div class="col-12 col-lg-6 p-3">
        <div class="card">
            <div class="card-header">
                <span>Recent tasks</span>
            </div>
            <div class="card-body">
                @{
                    var chart2 = Model.RecentTasksChart;
                    string imagebase64string2 = Convert.ToBase64String(chart2.ToWebImage().GetBytes());
                    string dataUrl2 = string.Format("data:image/jpeg;base64,{0}", imagebase64string2);
                    <img src="@dataUrl2" alt="image" class="col-6 zoom d-block m-auto"/>
                }
                <table id="recentTasks">
                    <thead>
                        <tr>
                            <th>ID</th>
                            <th>Type/Subtype</th>
                            <th>Status</th>
                            <th>Actions</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var t in Model.RecentTasks)
                        {
                            <tr>
                                <th>@t.TASK_ID</th>
                                <th>@t.TASK_TYPE/@t.TASK_SUBTYPE</th>
                                <th>@t.TASK_STATUS</th>
                                <th>@Html.ActionLink("Details", "Details", "Tasks", new { id = t.TASK_ID }, new { @class = "btn btn-outline-secondary btn-sm" })</th>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>

@section Scripts {
<script>
    $("#currentTasks").DataTable();
    $("#recentTasks").DataTable();
</script>
}