﻿@model CRM_BTM.Models.ActivityLogModels.ActLogEntryIDList
@{
    Layout = "";
}


<div class="activity-log-entries">
    @if (Model.Count == 0)
    {
        <span><i>No entries found</i></span>
    }
    @foreach (var entryID in Model.OrderByDescending(x => x.EntryID))
    {
        <div class="card mb-3 small">
            <div class="card-header font-weight-bold">[@entryID.EntryTime] by @entryID.UserLogin</div>
            @foreach (var entry in entryID.OrderBy(e => e.ReferencedTable).ThenBy(e => e.ReferencedID))
            {
                var typeString = @CRM_BTM.Models.ACTIVITY_LOG.EntryTypeFull(@entry.EntryType);
                <table class="table table-sm table-striped table-hover table-bordered mb-0 border-dark actlog-type-@typeString.ToLower()">
                    <tr>
                        <th class="col-2" colspan="2">@entry.ReferencedTable: @entry.ReferencedID (@typeString)</th>
                        <td class="col-3">@Html.LabelFor(m => entry.FirstOrDefault().PARAM_1)</td>
                        <td class="col-3">@Html.LabelFor(m => entry.FirstOrDefault().PARAM_2)</td>
                    </tr>
                    @foreach (var change in entry.OrderBy(c => c.REFERENCED_FIELD))
                    {
                        <tr>
                            <td>@change.REFERENCED_FIELD</td>
                            <td class="col-4">
                                @if (@change.VALUE_BEFORE != null)
                                {<p class="d-inline-block value-field">@change.VALUE_BEFORE</p>}
                                &#8594;
                                @if (@change.VALUE_AFTER != null)
                                {<p class="d-inline-block value-field">@change.VALUE_AFTER</p>}
                            </td>
                            <td>@change.PARAM_1</td>
                            <td>@change.PARAM_2</td>
                        </tr>
                    }
                </table>
            }
        </div>
    }
</div>