﻿@model CRM_BTM.Models.DEVICE
@{
    ViewBag.Title = "New device";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

<div class="form-horizontal">

    <div class="form-group col-12">
        <div class="row">
            @Html.Label("Device brand and model", htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                <div class="border-fix d-inline-block">
                    <select name="DEVICE_BRAND_MODEL_ID" class="selectpicker" data-live-search="true" data-style="form-control border">
                        <option selected value=null>---Select---</option>
                        @foreach (var item in ViewBag.DEVICE_BRAND_MODEL_ID)
                        {
                            <option value=@item.Value>@item.Text</option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.SERIAL, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.SERIAL, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.SERIAL, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group col-12">
        <div class="row">
            @Html.LabelFor(model => model.MAC, htmlAttributes: new { @class = "control-label col-md-3" })
            <div class="col-md-9">
                @Html.EditorFor(model => model.MAC, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.MAC, "", new { @class = "text-danger" })
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>
}

<script>

    $(".selectpicker").selectpicker();

</script>
