﻿@model IEnumerable<CRM_BTM.Models.INSTALLER_DEVICES_STATE_V>
@{
    ViewBag.Title = "Devices";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<link href="~/Content/jquery.dataTables.min.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/jquery.dataTables.min.js"></script>

<hr />
<div>
    @Html.ActionLink("New device", "Create", null, new { @class = "btn btn-primary" })
</div>
<hr />

<div class="col-12 p-3 maxh-overflow">
    @Html.Partial("~/Views/Installer/DeviceOverview.cshtml", Model)
</div>

<div class="col-12 p-3">
    <div class="card">
        <div class="card-header">
            <span>Search devices</span>
        </div>
        <div class="card-body row">

            <div class="form-group col-12 col-xl-6 order-xl-1">
                <div class="row">
                    <label class="control-label col-md-2 col-xl-4">Type</label>
                    <div class="col-md-10 col-xl-8">
                        <div class="border-fix d-inline-block">
                            @Html.DropDownList("Type", (SelectList)ViewBag.DEVICE_TYPE_ID, String.Empty, new { id = "TypeDropdown", @class = "selectpicker" })
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-12 col-xl-6 order-xl-3">
                <div class="row">
                    <label class="control-label col-md-2 col-xl-4">Brand & model</label>
                    <div class="col-md-10 col-xl-8">
                        <div class="border-fix d-inline-block">
                            <select name="BrandModel" id="BrandModelDropdown" class="selectpicker"></select>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-12 col-xl-6 order-xl-2">
                <div class="row">
                    <label class="control-label col-md-2 col-xl-4">Not picked</label>
                    <div class="col-md-10 col-xl-8">
                        <div class="d-inline-block">
                            <input type="checkbox" id="NotPickedCheckbox" checked />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group col-12 col-xl-6 order-xl-4">
                <div class="row">
                    <label class="control-label col-md-2 col-xl-4">Not installed</label>
                    <div class="col-md-10 col-xl-8">
                        <div class="d-inline-block">
                            <input type="checkbox" id="NotInstalledCheckbox" checked />
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group p-3 order-5">
                <button class="btn btn-primary" onclick="loadDevices()" id="SearchButton">Search</button>
            </div>

        </div>
    </div>
</div>

<div class="col-12 p-3" id="DeviceTableContainer">
    <table id="DeviceTable">
        <thead>
            <tr>
                <th>Type</th>
                <th>Brand</th>
                <th>Model</th>
                <th>Serial</th>
                <th class="xl-only">MAC</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody id="DeviceList"></tbody>
    </table>
</div>

@section Scripts {
    <script>

        $("#TypeDropdown").change(function () {
            $("#BrandModelDropdown").prop('disabled', true).attr("value", null).find('option').remove();
            $("#DeviceTableContainer").hide();
            $("#BrandModelDropdown").load("/Device/Type2BrandModel/" + this.value, function () {
                $("#BrandModelDropdown").prop('disabled', false);
                $("#BrandModelDropdown").selectpicker('refresh');
                $("#BrandModelDropdown").change();
            });
        });

        $("#BrandModelDropdown").change(function () {
            if (this.value) {
                $("#SearchButton").prop('disabled', false);
            } else {
                $("#DeviceTableContainer").hide();
                $("#SearchButton").prop('disabled', true);
            }
        });


        $("#BrandModelDropdown").prop('disabled', true);
        $("#SearchButton").prop('disabled', true);
        $("#DeviceTableContainer").hide();
        $("#DeviceTable").DataTable();

        function loadDevices() {
            $("#DeviceTable").DataTable().destroy();
            $("#DeviceList").html("<tr><td colspan=6>Loading...</td></tr>");
            $("#DeviceTableContainer").show();

            var NotPickedValue = "false";
            if ($("#NotPickedCheckbox").prop("checked"))
                NotPickedValue = "true";
            var NotInstalledValue = "false";
            if ($("#NotInstalledCheckbox").prop("checked"))
                NotInstalledValue = "true";

            $.ajax({
                url: "/Device/BrandModel2Device/" + $("#BrandModelDropdown").prop('value'),
                data: {
                    NotPicked: NotPickedValue,
                    NotInstalled: NotInstalledValue
                }
            }).done(function (data, textStatus, jqXHR) {
                if (jqXHR.status == "204") {
                    $("#DeviceList").html("<tr><td colspan=6>Nothing found</td></tr>");
                } else {
                    $("#DeviceList").html(data);
                }
                $("#DeviceTable").DataTable();
            });
        }


    </script>
}