﻿@model CRM_BTM.Models.ViewModels.TasksConfigIndexViewModel
@{
    ViewBag.Title = "Tasks dashboard";
}

<div class="row">
    <div class="card-wrapper col-12 col-xl-4 mb-4">
        <div id="statuses" class="card bg-light">
            <h6 class="card-header ">
                <a href="@Url.Action("StatusList", "TasksConfig")"><img alt="List" src="@Url.Content("~/Content/Images/link-icon.png")" /></a>
                Available statuses
            </h6>
            <div class="card-body overflow-auto small" style="max-height: 500px;">
                @Html.Partial("PartialViews/StatusList", Model.Statuses.OrderBy(s => s.ID), ViewData)
            </div>
        </div>
    </div>

    <div class="card-wrapper col-12 col-xl-4 mb-4">
        <div id="statuses" class="card bg-light">
            <h6 class="card-header b">
                <a href="@Url.Action("TypeList", "TasksConfig")"><img alt="List" src="@Url.Content("~/Content/Images/link-icon.png")" /></a>
                Available types
            </h6>
            <div class="card-body overflow-auto small" style="max-height: 500px;">
                @Html.Partial("PartialViews/TypeList", Model.Types.OrderBy(s => s.ID), ViewData)
            </div>
        </div>
    </div>

    <div class="card-wrapper col-12 col-xl-4 mb-4">
        <div id="statuses" class="card bg-light">
            <h6 class="card-header b">
                <a href="@Url.Action("SubtypeList", "TasksConfig")"><img alt="List" src="@Url.Content("~/Content/Images/link-icon.png")" /></a>
                Available subtypes
            </h6>
            <div class="card-body overflow-auto small" style="max-height: 500px;">
                @Html.Partial("PartialViews/SubtypeList", Model.Subtypes.OrderBy(s => s.ID), ViewData)
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="card-wrapper col-12">
        <div id="statuses" class="card bg-light">
            <h6 class="card-header b">
                <a href="@Url.Action("ParamList", "TasksConfig")"><img alt="List" src="@Url.Content("~/Content/Images/link-icon.png")" /></a>
                Task parameters
            </h6>
            <div class="card-body overflow-auto small" style="max-height: 800px;">
                @Html.Partial("PartialViews/TaskParameters", Model.Parameters.OrderBy(s => s.ID), ViewData)
            </div>
        </div>
    </div>
</div>