﻿@model CRM_BTM.Models.TASK_PARAM_DEFINITION

@{
    ViewBag.Title = "Edit parameter definition";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "ParamList", null, new { @class = "btn btn-secondary" })
    @Html.Partial("_ActivityLogModal")
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.ID)

    <div class="form-horizontal">
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.PARAM_TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PARAM_TYPE", (SelectList)ViewBag.Types, new { @class = "form-control" })
                    @Html.ValidationMessageFor(model => model.PARAM_TYPE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.DESCRIPTION, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.FULL_DESCRIPTION, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.FULL_DESCRIPTION, new { @class = "form-control", type = "textarea" })
                    @Html.ValidationMessageFor(model => model.FULL_DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.REGEXP, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.REGEXP, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.REGEXP, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "ParamList", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}