﻿@model IEnumerable<CRM_BTM.Models.TASK_PARAM_DEFINITION>

@{
    ViewBag.Title = "Task parameters list";
}

<hr />
<div>
    @Html.ActionLink("Create new", "ParamAdd", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to dashboard", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@Html.Partial("PartialViews/TaskParameters", Model, ViewData)

