﻿@model IEnumerable<CRM_BTM.Models.TASK_PARAM_VALUE_LIST>

@{
    ViewBag.Title = "Param value list: " + ViewBag.Parameter.DESCRIPTION;
}

<hr />
<div>
    @Html.ActionLink("Back to list", "ParamList", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.Hidden("paramId", (object)ViewBag.Parameter.ID)

    <div class="form-horizontal">

        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @{ int i = 0; }

        <div class="col-md-10" id="valgroup-container">
            @{ ViewData["SectionLabel"] = "template"; }
            @Html.Partial("PartialViews/ParamEditValuesFormSection", new CRM_BTM.Models.TASK_PARAM_VALUE_LIST(), ViewData)
            @foreach (CRM_BTM.Models.TASK_PARAM_VALUE_LIST val in Model)
            {
                ViewData["SectionLabel"] = i.ToString();
                @Html.Partial("PartialViews/ParamEditValuesFormSection", val, ViewData)
                i++;
            }
        </div>

        <div class="col-10">
            <div class="btn btn-outline-success" id="valgroup-add" onclick="addSection();">Add</div>
        </div>

        <div class="form-group m-3">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "ParamList", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}
@section Scripts {

    <script>
        function addSection() {
            var cont = $("#valgroup-container");
            var childCount = cont.children("div").length;
            if (childCount == 1) {
                var newindex = 0;
                var newSection = $("#valgroup-template").clone();
                newSection.css("display", "");
                changeIndex(newSection, newindex);
                newSection.children("*[name*='VALUE']").val('');
                newSection.appendTo("#valgroup-container");
            } else {
                var copiedIndex = childCount - 2;
                var newindex = childCount - 1;
                var newSection = $("#valgroup-" + copiedIndex).clone();
                changeIndex(newSection, newindex);
                newSection.children("*[name*='VALUE']").val('');
                newSection.appendTo("#valgroup-container");
            }

        }

        function removeSection(button) {
            var section = $("#" + button.id).parent();
            var cont = $("#valgroup-container");
            var removeIndex = parseInt(button.id.replace("valgroup-remove-", ""));
            var maxIndex = cont.children("div").length - 2;
            console.log("Remove " + section.attr('id'));
            console.log("removeIndex " + removeIndex);
            console.log("maxIndex " + maxIndex);
            section.remove();
            var i = 0;
            for (i = removeIndex + 1; i <= maxIndex; i++) {
                console.log("CHANGING " + i);
                changeIndex(cont.children("#valgroup-" + i), i - 1);
            }

        }

        function changeIndex(section, newIndex) {
            console.log("changeIndex: " + section.attr('id') + " into " + newIndex);
            var oldIndex = section.attr("id").replace("valgroup-", "");
            console.log(oldIndex);
            section.attr('id', 'valgroup-' + newIndex);
            section.children("*[name*='.']").each(function (idx) {
                var oldAttr = $(this).attr('name');
                var newAttr = oldAttr.replace(oldIndex, newIndex);
                $(this).attr("name", newAttr);
            });
            section.children("*[name*='.ID']").attr('value', '');
            section.children("*[id|='valgroup-remove']").attr('id', 'valgroup-remove-' + newIndex);
        }
    </script>

}