﻿@model IEnumerable<CRM_BTM.Models.TASK_STATUS>

@{
    ViewBag.Title = "Task status list";
}

<hr />
<div>
    @Html.ActionLink("Create new", "StatusAdd", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to dashboard", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />


@Html.Partial("PartialViews/StatusList", Model, ViewData)
