﻿@model IEnumerable<CRM_BTM.Models.TASK_SUBTYPE>

@{
    ViewBag.Title = "Task subtype list";
}

<hr />
<div>
    @Html.ActionLink("Create new", "SubtypeAdd", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to dashboard", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@Html.Partial("PartialViews/SubtypeList", Model, ViewData)
