﻿@model CRM_BTM.Models.TASK_TYPE

@{
    ViewBag.Title = "New task type";
}

<hr />
<div>
    @Html.ActionLink("Back to list", "TypeList", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })

    <div class="form-horizontal">
        <div class="form-group col-12">
            <div class="row">
                @Html.LabelFor(model => model.NAME, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.NAME, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.NAME, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>

        <div class="form-group">
            <input type="submit" value="Create" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "TypeList", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}