﻿@model IEnumerable<CRM_BTM.Models.TASK_TYPE>

@{
    ViewBag.Title = "Task type list";
}

<hr />
<div>
    @Html.ActionLink("Create new", "TypeAdd", null, new { @class = "btn btn-primary" })
    @Html.ActionLink("Back to dashboard", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@Html.Partial("PartialViews/TypeList", Model, ViewData)

