﻿@model CRM_BTM.Models.UserStructModel

@{
    ViewBag.Title = "Add user to structure";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
<div class="form-horizontal">

    <div class="form-group col-12">
        <div class="row">
            <label class="control-label col-md-2">User</label>
            <div class="col-md-10">
                <div class="border-fix d-inline-block">
                    <select name="crmUserId" class="selectpicker" data-live-search="true">
                        <option selected value=null></option>
                        @foreach (var item in Model.allUsers.OrderBy(x => x.FIRST_NAME).ThenBy(x => x.LAST_NAME))
                        {
                            <option value="@item.USER_ID">
                                @item.FIRST_NAME @item.LAST_NAME
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-12">
        <div class="row">
            <label class="control-label col-md-2">Manager</label>
            <div class="col-md-10">
                <div class="border-fix d-inline-block">
                    <select name="managerStructid" class="selectpicker" data-live-search="true">
                        <option selected value=null></option>
                        @foreach (var item in Model.salesStructure.OrderBy(x => x.FIRSTNAME).ThenBy(x => x.LASTNAME))
                        {
                            <option value="@item.USR_STC_ID">
                                @item.FIRSTNAME @item.LASTNAME
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group col-12">
        <div class="row">
            <label class="control-label col-md-2">Team</label>
            <div class="col-md-10">
                <div class="border-fix d-inline-block">
                    <select name="teamId" class="selectpicker" data-live-search="true">
                        <option selected value=null></option>
                        @foreach (var item in Model.teamsModel.OrderBy(x => x.DESCRIPTION))
                        {
                            <option value="@item.ID">
                                @item.DESCRIPTION
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>

    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
</div>

}
<script>

    $(".selectpicker").selectpicker();

</script>



