﻿@model CRM_BTM.Models.UserStructModel

@{
    ViewBag.Title = "Sales structure";
}

<hr />
<div>
    @Html.ActionLink("Add user to structure", "AddUser", null, new { @class = "btn btn-primary" })
</div>
<hr />

<div>
    <table id="StructTab" class="table table-sm table-striped table-hover table-bordered">
        <thead>
            <tr>
                <th class="xl-only">Agent</th>
                <th>@Html.DisplayNameFor(model => model.salesStructure.First().USERNAME)</th>
                <th class="xl-only">Manager</th>
                <th class="xl-only">@Html.DisplayNameFor(model => model.salesStructure.First().CODE)</th>
                <th>@Html.DisplayNameFor(model => model.salesStructure.First().TEAM)</th>
                <th class="xl-only">Team leader</th>
                <th>Actions</th>
            </tr>
            <tr>
                <th class="xl-only"><input type="text" id="srchAgent" placeholder="Agent" class="input-group-text mw-100 w-100" /></th>
                <th><input type="text" id="srchUSERNAME" placeholder="Username" class="input-group-text mw-100 w-100" /></th>
                <th class="xl-only"><input type="text" id="srchManager" placeholder="Manager" class="input-group-text mw-100 w-100" /></th>
                <th class="xl-only"><input type="text" id="srchCode" placeholder="Code" class="input-group-text mw-100 w-100" /></th>
                <th><input type="text" id="srchTeam" placeholder="Team" class="input-group-text mw-100 w-100" /></th>
                <th class="xl-only"></th>
                <th>@Html.ActionLink("Clear", "Index", null, new { @class = "btn btn-outline-info" })</th>
            </tr>
        </thead>
        <tbody id="tableData">
            <tr>
                <td colspan="7"><i>Loading...</i></td>
            </tr>
        </tbody>
    </table>
</div>

@section Scripts {
    <script>
        function updateStructData() {
            var data = { AgentString: $("#srchAgent").val(), UsernameString: $("#srchUSERNAME").val(), ManagerString: $("#srchManager").val(), CodeString: $("#srchCode").val(), TeamString: $("#srchTeam").val() };
            $("#tableData").load("/UsersStruct/UsersStructList", data);
        }

        $("#srchAgent").focusout(function () { updateStructData(); });
        $("#srchUSERNAME").focusout(function () { updateStructData; });
        $("#srchManager").focusout(function () { updateStructData; });
        $("#srchCode").focusout(function () { updateStructData; });
        $("#srchTeam").focusout(function () { updateStructData; });

        updateStructData();
    </script>
}