﻿@model CRM_BTM.Models.UserStructModel

@{
    ViewBag.Title = "Add sales team";
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
<div>
    @Html.ActionLink("Back to list", "TeamsList", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Team name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.teamEdit.DESCRIPTION, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.teamEdit.DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Team code", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.teamEdit.TEAM_CODE, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.teamEdit.TEAM_CODE, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Team leader", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <div class="border-fix d-inline-block">
                        <select name="teamLeaderId" class="selectpicker" data-live-search="true" data-dropup-auto="false" >
                            <option selected value="null"> </option>
                            @foreach (var item in Model.salesStructure.OrderBy(x => x.FIRSTNAME).ThenBy(x => x.LASTNAME))
                            {
                                <option value=@item.USR_STC_ID>
                                    @item.FIRSTNAME @item.LASTNAME
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
        </div>
    </div>

}

@section Scripts {

    <script>
        $(".selectpicker").selectpicker();
    </script>

}