﻿@model CRM_BTM.Models.UserStructModel

@{
    ViewBag.Title = "Edit team: " + Model.teamEdit.DESCRIPTION;
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
<div>
    @Html.ActionLink("Back to list", "TeamsList", null, new { @class = "btn btn-secondary" })

</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group col-12">
            <div class="row">
                @Html.Label("Team name", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.teamEdit.DESCRIPTION, new { htmlAttributes = new { @class = "form-control " } })
                    @Html.ValidationMessageFor(model => model.teamEdit.DESCRIPTION, "", new { @class = "text-danger" })
                </div>
            </div>
        </div>
        <div class="form-group col-12">
            <div class="row">
                <label class="control-label col-md-2">Team leader</label>
                <div class="col-md-10">
                    <div class="border-fix d-inline-block">
                        <select name="teamLeaderId" class="selectpicker" data-live-search="true">
                            @foreach (var item in Model.salesStructure.OrderBy(x => x.FIRSTNAME).ThenBy(x => x.LASTNAME))
                            {
                                <option value=@item.USR_STC_ID
                                        @{ if (item.USR_STC_ID == Model.teamEdit.TEAM_LEADER_ID) { <text> selected </text>  } }>
                                    @item.FIRSTNAME @item.LASTNAME
                                </option>
                            }
                        </select>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            <input type="submit" value="Save" class="btn btn-primary" />
            @Html.ActionLink("Back to list", "TeamsList", null, new { @class = "btn btn-secondary" })
        </div>
    </div>
}

<div class="col-12 p-3">
    <div class="card">
        <div class="card-header">
            <span>Members</span>
        </div>
        <div class="card-body row">
            <table id="MembersTab" class="table table-sm table-hover">
                <thead>
                    <tr>
                        <th>First name</th>
                        <th>Last name</th>
                        <th>Team</th>
                        <th>Sales code</th>
                        <th></th>
                    </tr>
                    <tr>
                        <th><input type="text" id="srchName" placeholder="First name" class="input-group-text" /></th>
                        <th><input type="text" id="srchLastname" placeholder="Last name" class="input-group-text" /></th>
                        <th><input type="text" id="srchTeam" placeholder="Team" class="input-group-text" /></th>
                        <th><input type="text" id="srchCode" placeholder="Code" class="input-group-text" /></th>
                        <th></th>
                    </tr>
                </thead>
                <tbody id="MembersTableData">
                    <tr>
                        <td colspan="5"><i>Loading...</i></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

@section Scripts{
    <script>

        function updateMembersTableData() {
            var data = {
                NameString: $("#srchName").val(),
                LastnameString: $("#srchLastname").val(),
                TeamString: $("#srchTeam").val(),
                CodeString: $("#srchCode").val()
            };
            $("#MembersTableData").load("/UsersStruct/TeamUsersSearch/@Model.teamEdit.ID", data);
        }

        updateMembersTableData();
        $(".selectpicker").selectpicker();

        $("#srchName").focusout(function () { updateMembersTableData(); });
        $("#srchLastname").focusout(function () { updateMembersTableData(); });
        $("#srchTeam").focusout(function () { updateMembersTableData(); });
        $("#srchCode").focusout(function () { updateMembersTableData(); });


    </script>

}
