﻿@model IEnumerable<CRM_BTM.Models.TEAM_LEADER2IDENTITY_V>

@foreach (var item in Model.OrderBy(x => x.DESCRIPTION))
{
    <tr>
        <td>@Html.DisplayFor(m => item.DESCRIPTION)</td>
        <td>@Html.DisplayFor(m => item.TEAMCODE)</td>
        <td>@Html.DisplayFor(m => item.LEADERFIRSTNAME) @Html.DisplayFor(m => item.LEADERLASTNAME)</td>
        <td>@Html.ActionLink("Edit", "teamEdit", new { id = item.TEAMID }, new { @class = "btn btn-outline-secondary" })</td>
    </tr>
}