﻿@model CRM_BTM.Models.UserStructModel

@foreach (var item in Model.salesStructure.Where(d => d.TEAM_ID == Model.teamEdit.ID).OrderBy(x => x.FIRSTNAME).ThenBy(x => x.LASTNAME))
{
    <tr>
        <td>@Html.DisplayFor(m => item.FIRSTNAME)</td>
        <td>@Html.DisplayFor(m => item.LASTNAME)</td>
        <td>@Html.DisplayFor(m => item.TEAM)</td>
        <td>@Html.DisplayFor(m => item.CODE)</td>
        <td>@Html.ActionLink("Remove", "TeamRemoveUser", new { u_id = item.USR_STC_ID, t_id = Model.teamEdit.ID, model = Model }, new { @class = "btn btn-outline-danger" })</td>
    </tr>
}

@foreach (var item in Model.salesStructure.Where(d => d.TEAM_ID != Model.teamEdit.ID | d.TEAM_ID == null).OrderBy(x => x.FIRSTNAME).ThenBy(x => x.LASTNAME))
{
    <tr>
        <td>@Html.DisplayFor(m => item.FIRSTNAME)</td>
        <td>@Html.DisplayFor(m => item.LASTNAME)</td>
        <td>@Html.DisplayFor(m => item.TEAM)</td>
        <td>@Html.DisplayFor(m => item.CODE)</td>
        <td>@Html.ActionLink("Add", "TeamAddUser", new { u_id = item.USR_STC_ID, t_id = Model.teamEdit.ID }, new { @class = "btn btn-outline-success" })</td>
    </tr>
}