﻿@{
    ViewBag.Title = "Sales teams";
}

<hr />
<div>
    @Html.ActionLink("Add team", "TeamAdd", null, new { @class = "btn btn-primary" })
</div>
<hr />

<table id="TeamTab" class="table table-sm table-striped table-hover table-bordered">
    <thead>
        <tr>
            <th>Team name</th>
            <th>Code</th>
            <th>Team leader</th>
            <th>Actions</th>
        </tr>
        <tr>
            <th><input type="text" id="srchTeamName" placeholder="Team name" class="input-group-text" /></th>
            <th><input type="text" id="srchCode" placeholder="Code" class="input-group-text" /></th>
            <th><input type="text" id="srchLeader" placeholder="Team Leader" class="input-group-text" /></th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableData">
        <tr>
            <td colspan="4"><i>Loading...</i></td>
        </tr>
    </tbody>
</table>

@section Scripts {
    <script>
        function reloadTeamsData() {
            var data = { TeamNameString: $("#srchTeamName").val(), CodeString: $("#srchCode").val(), LeaderString: $("#srchLeader").val() };
            $("#tableData").load("/UsersStruct/TeamsListSearch", data);
        }

        $("#srchTeamName").focusout(function () { reloadTeamsData(); });
        $("#srchCode").focusout(function () { reloadTeamsData(); });
        $("#srchLeader").focusout(function () { reloadTeamsData(); });

        reloadTeamsData();
    </script>
}
