﻿@model CRM_BTM.Models.UserStructModel

@{
    ViewBag.Title = "Manager for: " + Model.userIdent.USERNAME;
}

<link href="~/Content/bootstrap-select.css" rel="stylesheet" type="text/css" />
<script src="~/Scripts/bootstrap-select.js"></script>

<hr />
<div>
    @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
</div>
<hr />

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-group col-12">
        <div class="row">
            <label class="control-label col-md-2">Manager</label>
            <div class="col-md-10">
                <div class="border-fix d-inline-block">
                    <select name="managerStructid" class="selectpicker" data-live-search="true" style="border: 1px solid black;">
                        @foreach (var item in Model.salesStructure.OrderBy(x => x.FIRSTNAME).ThenBy(x => x.LASTNAME))
                        {
                            <option value=@item.USR_STC_ID
                                    @{ if (item.USR_STC_ID == Model.userStcEdt.MANAGER_ID) { <text> selected </text>  } }>
                                @item.FIRSTNAME @item.LASTNAME
                            </option>
                        }
                    </select>
                </div>
            </div>
        </div>
    </div>
    <div class="form-group">
        <input type="submit" value="Edit" class="btn btn-primary" />
        @Html.ActionLink("Back to list", "Index", null, new { @class = "btn btn-secondary" })
    </div>
}

@section Scripts {

    <script>
        $(".selectpicker").selectpicker();
    </script>

}