﻿@model IEnumerable<CRM_BTM.Models.SALES_STRUCTURE_V>

@foreach (var item in Model.OrderBy(x => x.TEAM).ThenBy(x => x.USERNAME))
{
    <tr>
        <td class="xl-only">@Html.DisplayFor(modelItem => item.FIRSTNAME) @Html.DisplayFor(modelItem => item.LASTNAME)</td>
        <td>@Html.DisplayFor(modelItem => item.USERNAME)</td>
        <td class="xl-only">@Html.DisplayFor(modelItem => item.FIRSTNAME_MANAGER) @Html.DisplayFor(modelItem => item.LASTNAME_MANAGER)</td>
        <td class="xl-only">@Html.DisplayFor(modelItem => item.CODE)</td>
        <td>@Html.DisplayFor(modelItem => item.TEAM)</td>
        <td class="xl-only">@Html.DisplayFor(modelItem => item.FIRSTNAME_TM_LEADER) @Html.DisplayFor(modelItem => item.LASTNAME_TM_LEADER)</td>
        <td>@Html.ActionLink("Edit Manager", "UserManager", new { id = item.USR_STC_ID }, new { @class = "btn btn-outline-secondary small btn-sm text-nowrap" })</td>
    </tr>
}